<nav class="navbar text-white p-2 navbar-color">
    <ul class="navbar-nav mr-auto">
        <label class="navbar-brand text-white" style="margin: 0;">
            <img src="../../../assets/logo.png" class="d-inline-block align-top system-logo" (click)="logoClick($event)">
            <span class="mx-3 fs-big">発注承認処理</span>
            <span class="mx-1 fs-small">v 1.0.0</span>
        </label>
    </ul>
    <ul class="navbar-nav">
        <div class="text-right">
            <div>
                <span class="mx-2 fs-small">{{this.loginInfo.jgyshNm}}</span>
                <span class="mx-2 fs-small">{{this.loginInfo.empNmKnj}}</span>
            </div>
            <div class="collapse fs-small" id="collapseExample"></div>
            <span class="mx-2 fs-small">{{this.currentTime}}</span>
        </div>
        <a data-toggle="collapse" data-target="#" aria-expanded="false" aria-controls="collapseExample" style="font-weight:bold">
            <button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon class="more_vert">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="menu-list">
                <button mat-menu-item class="button-child" (click)="logOut($event)">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Log Out</span>
                </button>
            </mat-menu>
        </a>
    </ul>
</nav>