/* ************************* TABLE LAYOUT STYLE IS HERE ***************************

.table-layout {
    position: relative;
    margin: 10;
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
}

.table-layout>thead>tbody {
    display: block;
}

.table-layout>thead {
    text-align: center;
    background-color: #C5D9F1;
    height: 40px;
}

.table-layout>tbody {
    height: 200px;
    overflow: auto;
}


.table-layout>thead>tr,
tbody>tr {
    float: left;
    display: inline-flex;
    width: 100%;
} */
