<header>
    <title>{{title}}</title>
</header>
    <div>
        <span style="text-align: center;">
            <h1>{{title}}</h1>
        </span>
    </div>
<div class="table-body">
    <div class="table-container">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="table-str td-b text-center"><a href= "/OrderJournalSelect" >仕訳コード</a></th>
                        <th class="table-str td-b text-center">経理コード</th>
                        <th class="table-str td-b text-center">仕訳名称</th>
                        <th class="table-str td-b text-center" colspan="2"><a href= "/OrderSupplierSelect">発注先</a></th>
                        <th class="table-str td-b text-center">発注予定金額</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class = "table-str td-b text-center" [(ngModel)]="journalCode" name="journalCode"></td>
                        <td class = "table-str td-b text-center" [(ngModel)]="accountingCategory" name="accountingCategory"></td>
                        <td class = "table-str td-b text-center" [(ngModel)]="orderJournalName" name="orderJournalName"></td>
                        <td class = "table-str td-b text-center" [(ngModel)]="supplierCode" name="supplierCode"></td>
                        <td class = "table-str td-b text-center" [(ngModel)]="supplierJournalName" name="supplierJournalName"></td>
                        <input type="text" name="orderPlansKin">
                    </tr>                
                </tbody>
            </table>
    </div>
</div>
<div class='page-footer'>
    <footer>
        <button type="button" class="btn btn-secondary" (click)="onBackClick($event);" >閉じる</button>
        <button type="button" class="btn btn-primary" style="float: right;" (click)="onClick($event);" location.href="/" >選択</button>
    </footer>
</div>