.table{
  width: 60%;
  margin-left: auto;
  margin-right: auto;

}

.table>thead {
  background-color: #b8b8b8f6;
}

.table>tbody {
  border:solid 1px #ffffff;
  height: 250px;
}
  
.td-b {
  border-right: 0.5px solid #CCD0D5;
  height: 250px;
}
  
.table-str{
  height: 30px;
  width: 17.8%;
  word-wrap: break-word;
}

.page-footer{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}