
    <div>
        <span style="text-align: center;">
            <h1>発注明細入力_明細入力</h1>
        </span>
    </div>

<div class="table-body">
    <div class="table-container">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="table-str td-b text-center">仕訳コード</th>
                        <th class="table-str td-b text-center">経理コード</th>
                        <th class="table-str td-b text-center">仕訳名称</th>
                        <th class="table-str td-b text-center" colspan="2">発注先</th>
                        <th class="table-str td-b text-center">発注予定金額</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class = "table-str td-b text-center" [(ngModel)]="journalCode" name="journalCode"></td>
                        <td class = "table-str td-b text-center" [(ngModel)]="accountingCategory" name="accountingCategory"></td>
                        <td class = "table-str td-b text-center" [(ngModel)]="orderJournaljournalName" name="orderJournaljournalName"></td>
                        <td class = "table-str td-b text-center" [(ngModel)]="supplierCode" name="supplierCode"></td>
                        <td class = "table-str td-b text-center" [(ngModel)]="orderSupplierjournalName" name="orderSupplierjournalName"></td>
                        <input type="text" name="orderPlansKin">
                    </tr>                
                </tbody>
            </table>
    </div>
</div>
<div class='page-footer'>
    <footer>
        <button type="button" class="btn btn-secondary" onClick="location.href='http://localhost:4200/'" >閉じる</button>
        <span style="margin-left:10px">
        <button type="button" class="btn btn-primary" onClick="location.href='http://localhost:4200/OrderJournalSelect'">発注仕訳選択</button>
        </span>
        <span style="margin-left:10px">
        <button type="button" class="btn btn-primary" onClick="location.href='http://localhost:4200/OrderSupplierSelect'">発注先選択</button>
        </span>
        <button type="button" class="btn btn-primary" style="float: right;" (click)="onClick($event);" location.href="/" >選択</button>
    </footer>
</div>