<div class="mat-elevation-z8">
    <table mat-table [dataSource]="shiwakeData" class="shiwake-table table table-bordered table-sm">

        <ng-container matColumnDef="journalCode">
            <th style="width: 61px; padding: 3px 5px;" class="color-input-1" mat-header-cell *matHeaderCellDef>仕訳<br>コード
            </th>
            <td style="padding: 0 5px;" class="tdRight" mat-cell *matCellDef="let element"> {{element.journalCode}}
            </td>
        </ng-container>

        <ng-container matColumnDef="accountCode">
            <th style="width: 39px;" class="color-input-1" mat-header-cell *matHeaderCellDef>経理<br>分類</th>
            <td style="padding: 5px;" class="tdCenter" mat-cell *matCellDef="let element"> {{element.accountCode}}
            </td>
        </ng-container>

        <ng-container matColumnDef="journalName">
            <th style="width: 180px;" class="color-input-1" mat-header-cell *matHeaderCellDef>仕訳名称</th>
            <td style="width: 180px; padding: 5px;" class="tdLeft" mat-cell *matCellDef="let element">
                {{element.journalName}} </td>
        </ng-container>

        <ng-container matColumnDef="orderSupplierCode">
            <th colspan="2" style="width: 220px;" class="color-input-1" mat-header-cell *matHeaderCellDef>発注先</th>
            <td style="width: 40px; padding: 5px;" class="tdCenter" mat-cell *matCellDef="let element">
                {{element.orderSupplierCode}} </td>
        </ng-container>

        <ng-container matColumnDef="orderSupplierName">
            <th style="width: 0px;" mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"></th>
            <td style="width: 180px; padding: 5px;" class="tdLeft" mat-cell *matCellDef="let element">{{element.orderSupplierName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="orderPlanAmount">
            <th style="width: 150px; padding: 5px;" class="color-input-1" mat-header-cell *matHeaderCellDef>発注予定金額
            </th>
            <td id="orderAmount" class="tdRight" mat-cell *matCellDef="let element">
                {{element.orderPlanAmount | number}} </td>
        </ng-container>

        <ng-container matColumnDef="totalSplitAmount">
            <th style="width: 150px; padding: 5px;" class="color-input-1" mat-header-cell *matHeaderCellDef>分割合計</th>
            <td class="tdRight" mat-cell *matCellDef="let element">{{totalSplitAmount | number}}</td>
        </ng-container>

        <ng-container matColumnDef="amountDifference">
            <th style="width: 100px; padding: 5px;" class="color-input-1" mat-header-cell *matHeaderCellDef>差額</th>
            <td class="tdRight" mat-cell *matCellDef="let element">{{amountDeference | number}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="shiwakeColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: shiwakeColumns;"></tr>
    </table>
</div>