/*************************************************************/
/*****                                                    ****/
/*****                  SHIWAKE-TABLE                     ****/
/*****                                                    ****/
/*****                                                    ****/
/*************************************************************/
.shiwake-table {
    width: 464px;
}

.shiwake-table>thead>tr>th {
    height: 30px;
}

.shiwake-table>tbody>tr>td {
    height: 30px;
    vertical-align: middle !important;
}
/* .shiwake-table>tfoot>tr.mat-footer-row {
    font-weight: bold;
    white-space: nowrap;
    word-break: keep-all;
} */

/*************************************************************/
/*****                                                    ****/
/*****                  SHIWAKE-TABLE                     ****/
/*****                                                    ****/
/*****              カラムの背景色を設定する                 ****/
/*************************************************************/
.color-input-1 {
    background-color: #C5D9F1 !important;
    text-align: center;
    word-break: keep-all;
}

.color-input-2 {
    background-color: #95B3D7 !important;
    text-align: center;
    word-break: keep-all;
}

.color-input-3 {
    background-color: #FABF8F !important;
    text-align: center;
    word-break: keep-all;
}

.color-input-4 {
    background-color: #FDE9D9 !important;
    text-align: center;
    word-break: keep-all;
}

.color-input-5 {
    background-color: #C4D79B !important;
    text-align: center;
    word-break: keep-all;
}

.mat-footer-cell {
    background-color: #e0e0e0;
}

.tdRight {
    text-align: right;
    padding: 5px;
    white-space: nowrap;
    word-break: keep-all;
    vertical-align: middle !important
}

.tdLeft {
    text-align: left;
    padding: 5px;
    white-space: nowrap;
    word-break: keep-all;
    vertical-align: middle !important
}

.tdCenter {
    text-align: center;
    padding: 5px;
    white-space: nowrap;
    word-break: keep-all;
    vertical-align: middle !important
}