<header>
    <title>{{title}}</title>
</header>

<div>
    <div>
        <span style="text-align: center;">
            <h1>{{title}}</h1>
        </span>
    </div>

    <div style="margin-top: 20px;">
        <mat-tab-group>
            <mat-tab class="hontai" label="本体">
                <add-order-detail-table [shiwakeData]="shiwakeData"></add-order-detail-table>
            </mat-tab>
        </mat-tab-group>
    </div>

    <footer>
        <div class="footer-container" style="position: inherit;">
            <div class="bottomButton">
                <button mat-button id="btnClose " class="btn btn-secondary border mx-1 back-btn "
                    (click)="onBackClick($event)">閉じる</button>
            </div>
            <div style="right: 46px;" class="bottomButton">
                <button mat-button id="btnClose " class="btn btn-primary border mx-1 back-btn "
                    (click)="onSelectClick($event)">更新</button>
            </div>
        </div>
    </footer>
</div>