th {
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-top: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
    font: bold 12px "メイリオ" !important;
    text-align: center;
    padding: 5px;
}

td {
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-top: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
    padding: 5px;
}

.footer {
    z-index: 1;
}

.bottomButton {
    position: fixed; 
    z-index: 2; 
    bottom: 5px;
}

.color-input-1 {
    background-color: #C5D9F1 !important;
    word-break: keep-all;
    white-space: nowrap;
}
.color-input-2 {
    background-color: #95B3D7 !important;
    text-align: center;
    word-break: keep-all;
    white-space: nowrap;
}

.color-input-3 {
    background-color: #FABF8F !important;
    text-align: center;
    word-break: keep-all;
    white-space: nowrap;
}

.color-input-4 {
    background-color: #FDE9D9 !important;
    text-align: center;
    word-break: keep-all;
    white-space: nowrap;
}

.color-input-5 {
    background-color: #C4D79B !important;
    text-align: center;
    word-break: keep-all;
    white-space: nowrap;
}

.tdRight {
    text-align: right;
    padding: 5px !important;
    word-break: keep-all;
    white-space: nowrap;
    
}

.tdLeft {
    text-align: left;
    padding: 5px !important;
    word-break: keep-all;
    white-space: nowrap;
    
}

.tdCenter {
    text-align: center;
    padding: 5px !important;
    word-break: keep-all;
    white-space: nowrap;
}

.mat-elevation-z8 {
    position: relative;
}

.split-shiwake-table {
    position: relative;
    margin: auto;
}

.add-div {
    position: relative;
}

.add-table {
    position: relative;
    margin: auto;
}

input {
    width: 100%;
    border: 0;
}