<header>
    <title>発注仕訳マスタ選択</title>
</header>

<div>
    <div>
        <span style="text-align: center;">
            <h1>発注仕訳マスタ選択</h1>
        </span>
    </div>

    <section>
        <table class="table-hover table-striped testTable-Shiwake">
            <div>
                <thead>
                    <tr>
                        <td style="width: 20px;"></td>
                        <th style="width: 60px;" class="testShiwakeCode-1 text-center">仕訳<br>コード</th>
                        <th class="testShiwakeKeiri text-center">経理<br>分類</th>
                        <th class="testShiwakeName text-center">仕訳名称</th>
                    </tr>
                </thead>
            </div>
            <div style="overflow-y:scroll; height: 300px; position:inherit;">
                <tbody>
                    <tr>
                        <td style="width: 20px; text-align: center; vertical-align: middle;"><input type="checkbox" id="testcheck" value="test"></td>
                        <td style="text-align: center; width: 60px;" class="testShiwakeCode-1">0200</td>
                        <td style="width: 60px;" class="testShiwakeKeiri">040</td>
                        <td style="width: 60px;" class="testShiwakeName">本体工事</td>
                    </tr>
                    <tr>
                        <td style="width: 20px; text-align: center; vertical-align: middle;"><input type="checkbox" id="testcheck" value="test"></td>
                        <td class="testShiwakeCode-1">0200</td>
                        <td class="testShiwakeKeiri">040</td>
                        <td class="testShiwakeName">本体工事</td>
                    </tr>
                    <tr>
                        <td style="width: 20px; text-align: center; vertical-align: middle;"><input type="checkbox" id="testcheck" value="test"></td>
                        <td class="testShiwakeCode-1">0200</td>
                        <td class="testShiwakeKeiri">040</td>
                        <td class="testShiwakeName">本体工事</td>
                    </tr>
                </tbody>
            </div>
        </table>
    </section>
    <div class="testFooter-container">
        <div class="text-left testFooter">
            <button class="btn btn-secondary border mx-1 back-btn">閉じる</button>
            <div>
                <button class="btn btn-info border mx-1">選択(F12)</button>
            </div>
        </div>
    </div>

</div>