/********************* Page Footer *************************/

.testFooter-container {
    position: absolute !important;
    display: inline-block !important;
    bottom: 0 !important;
    /* width: 93%; */
    padding-bottom: 12.5px !important;
    z-index: 2 !important;
}

.testFooter {
    display: flex !important;
    justify-content: space-between !important;
    background-color: #F5F5F5 !important;
}

.testFooter>.back-btn {
    display: inline-block;
    width: 120px !important;
}

.testTable-Shiwake>thead>tr {
    text-align: center;
}

th {
    border-collapse: collapse;
    border-top: 0.5px solid #CCD0D5;
    border-right: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
    font: 10px !important;
}

.testTable-Shiwake>testTbody {
    height: 250px !important;
    overflow-y: scroll;
}

.testTable-Shiwakee {
    height: 250px;
    max-width: 640px;
    position: relative;
    margin: 0;
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
}

.testTable-Shiwake>tbody>tr>td {
    border: 0.5px solid #CCD0D5;
}

.testShiwakeCode-1 {
    width: 50px;
    text-align: center;
}

.testShiwakeCode-2 {
    width: 20px;
    text-align: center;
}

.testShiwakeKeiri {
    width: 60px;
    text-align: center;
}

.testShiwakeName {
    width: 150px;
    text-align: left;
}

#tableHeader {
    position: relative;
}

#tableBody {
    position: relative;
}