  .table-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 551px;
    height: 300px;
    overflow-y: scroll;
    position: relative;
  }

  .table{
    display: block;
    width: 534px;
    position: relative;
  }

  .table-body {
    width: 551px; 
    margin: 20px auto 50px auto;
  }

  .table>thead>tr>th {
    background-color: #E5E5E5;
  }

  .approval-table-responsive>thead>tr>th {
    top: 0px;
    position: sticky;
    border: 0.5px solid #CCD0D5;
  }
  
  .td-b {
    border: 0.5px solid #CCD0D5;
  }
  
  .table-str{
  height: 40px;
  white-space: nowrap;
  word-wrap: keep-all;
  }
  
  .page-footer{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .bottomButton {
    position: fixed; 
    z-index: 2; 
    bottom: 5px;
  }

  .btnDiv {
    position: relative;
    height: 50px;
    width: 467px;
  }

  .sousaBtn {
    position: relative;
    float: left;
  }

  .table >tbody>tr>td>input {
    margin: 0;
    width: 100%;
    border: 0;
}