  .table-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 756px;
    height: 451px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }

  @media screen and (max-width: 840px){
    .table-container {
      width: 684px;
      overflow-x: auto;
    }

    .input-table {
      width: 684px !important;
      overflow-x: auto;
    }

    .table-body {
      width: 684px !important;
    }

}

  .table{
    display: block;
    width: 756px;
    position: relative;
    box-shadow: -1px 0px 0px 0px #CCD0D5 inset;
    margin: 0px;
  }

  .table-body {
    width: 756px; 
    margin: 20px auto 50px auto;
  }
  .table>thead>tr>th {
    background-color: #E5E5E5;
    top: 0px;
    position: sticky;
    border: 0px;
    box-shadow: 1px 0px 0px 0px #CCD0D5 inset, 0px -1px 0px 0px #CCD0D5 inset, 0px 1px 0px 0px #CCD0D5 inset;
  }

  .td-b {
    border: 0px;
    box-shadow: 0.5px -0.5px 0px 0.5px #CCD0D5 inset;
  }

  .table-str{
  height: 40px;
  white-space: nowrap;
  word-wrap: keep-all;
  }
  
  .page-footer{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .SC0070-bottomButton {
    position: fixed; 
    z-index: 2; 
    bottom: 5px;
  }

  .btnDiv {
    position: relative;
    height: 50px;
    width: 467px;
  }

  .sousaBtn {
    position: relative;
    float: left;
  }

  .table >tbody>tr>td>input {
    margin: 0;
    width: 100%;
    border: 0;
  }

  .emplInfo {
    width: 105px;
  }

  .emplName {
    width: 161px;
  }

  .permissions {
    width: 77px;
  }