  .table-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 734px;
    height: 451px;
    overflow-y: scroll;
    position: relative;
  }

  .table{
    display: block;
    width: 715px;
    position: relative;
    box-shadow: -1px 0px 0px 0px #CCD0D5 inset;
    margin: 0px;
  }

  .table-body {
    width: 734px; 
    margin: 20px auto 50px auto;
  }
  .table>thead>tr>th {
    background-color: #E5E5E5;
    top: 0px;
    position: sticky;
    border: 0px;
    box-shadow: 1px 0px 0px 0px #CCD0D5 inset, 0px -1px 0px 0px #CCD0D5 inset, 0px 1px 0px 0px #CCD0D5 inset;
  }

  .td-b {
    border: 0px;
    box-shadow: 0.5px -0.5px 0px 0.5px #CCD0D5 inset;
  }

  .table-str{
  height: 40px;
  white-space: nowrap;
  word-wrap: keep-all;
  }
  
  .page-footer{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .SC0070-bottomButton {
    position: fixed; 
    z-index: 2; 
    bottom: 5px;
  }

  .btnDiv {
    position: relative;
    height: 50px;
    width: 467px;
  }

  .sousaBtn {
    position: relative;
    float: left;
  }

  .table >tbody>tr>td>input {
    margin: 0;
    width: 100%;
    border: 0;
}