/*************************************************************/
/*****                                                    ****/
/*****                    TABLE HEADER                    ****/
/*****                                                    ****/
/*****                                                    ****/
/*************************************************************/

.mat-header-cell {
    text-align: center !important;
    position: sticky;
}

.table-responsive .mat-cell,
.table-responsive .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px !important;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    border: 0px;
}

.journal-table {
    margin: 0px;
}
/*************************************************************/
/*****                                                    ****/
/*****                      TABLE BODY                    ****/
/*****                                                    ****/
/*****                                                    ****/
/*************************************************************/

.color-input-1 {
    background-color: #C5D9F1;
    text-align: center;
}

.color-input-2 {
    background-color: #95B3D7;
    text-align: center;
}

.color-input-3 {
    background-color: #FABF8F;
    text-align: center;
}

.color-input-4 {
    background-color: #FDE9D9;
    text-align: center;
}

.color-input-5 {
    background-color: #C4D79B;
    text-align: center;
}

.table-responsive {
    display: block;
    width: fit-content;
    min-width: 1200px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
}

.table-responsive .mat-row,
.table-responsive .mat-header-row {
    display: table-row;
    height: 30px;
    
}

.btn-outline-success,
.btn-outline-primary{
    height: 35px !important;
}

.journal-table>tbody>tr>td>button.btn.btn-link :hover{
    color: cyan !important;
}

.mat-cell.font-s-right{
    text-align: right !important;
    padding-right: 5px !important;
}

/*************************************************************/
/*****                                                    ****/
/*****                      FOOTER                        ****/
/*****                                                    ****/
/*****                                                    ****/
/*************************************************************/

.journal-table>tfoot>tr.mat-footer-row {
    font-weight: bold !important;
}
.mat-footer-cell {
    background-color: #e0e0e0;
    position: sticky;
}
.mat-footer-cell.font-s-right {
    text-align: right !important;
    padding-right: 5px !important;
}

.journal-table>tfoot>tr>td {
    padding: 0 5px;
    text-align: right;
    vertical-align: middle;
}
.journal-table>tfoot>tr>td.goukie {
    text-align: center !important;

}

.journal-table>tbody>tr>td>label{
    margin: 0;
    padding: 0;
}

.btnBulkRequest{
    height: 32px !important;
    width: 60px !important; 
    line-height: 10px !important; 
    top: 1px !important; 
    padding: 0 !important;
}

.btnBulkApproval{
    margin: 0 0px !important;
    height: 32px !important;
    width: 60px !important; 
    line-height: 10px !important; 
    top: 1px !important; 
    padding: 0 !important;
}
/*************************************************************/
/*****                                                    ****/
/*****                   TABLE SCROLL                     ****/
/*****            テーブルをスクロールする時、            ****/
/*****           ヘッダーとフォッターを固定させる         ****/
/*************************************************************/

.table-responsive>table>thead>tr>th {
    top: 0px;
    position: sticky;
    border: 0px;
    z-index: 1;
    box-shadow: 1px 0px 0px 0px #dee2e6 inset, 0px -1px 0px 0px #dee2e6 inset, 0px 1px 0px 0px #dee2e6 inset;
}

.table-responsive>table>tbody>tr>td {
    border: 0px;
    box-shadow: 0.5px -0.5px 0px 0.5px #dee2e6 inset;
}



.sticky {
    top: 30px !important;
}
.col-display {
    background-color: white !important;
    border-top: none !important;
    border-bottom: none !important;
}
.col-display-footer {
    background-color: white !important;
    border-top: none !important;
    border-bottom: none !important;
}


