<div class="table-responsive">
    <table mat-table [dataSource]="orderData" class="journal-table table table-hover table-sm table-bordered">
        <!--仕訳コード-->
        <ng-container matColumnDef="shiwakeCode">
            <th style="width: 60px; " class="color-input-1 " style="padding: 0 !important;" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">仕訳<br>コード</th>
        </ng-container>
        <!--経理分類-->
        <ng-container matColumnDef="keiriCode">
            <th style="width: 40px; " class="color-input-1 " mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">経理<br>分類</th>
        </ng-container>
        <!--仕訳名称-->
        <ng-container matColumnDef="shiwakeName">
            <th style="width: 200px; " class="color-input-1 " mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">仕訳名称</th>
        </ng-container>
        <!--発注先-->
        <ng-container matColumnDef="hacchuSaki">
            <th style="width: 250px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2" [attr.colSpan]="2">発注先</th>
        </ng-container>
        <!--発注予定金額-->
        <ng-container matColumnDef="hacchuKingaku">
            <th style="width: 40px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">発注予定金額</th>
        </ng-container>
        <!--反映-->
        <ng-container matColumnDef="hanei">
            <th style="width: 35px; box-shadow: 1px 0px 0px 0px #dee2e6 inset;" class="col-display" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">反<br>映</th>
        </ng-container>
        <!--分割-->
        <ng-container matColumnDef="bunkatsu">
            <th style="width: 20px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">分<br>割</th>
        </ng-container>
        <!--発注予定金額-->
        <ng-container matColumnDef="yoteiKigaku">
            <th style="width: 40px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">発注金額</th>
        </ng-container>
        <!--コメント-->
        <ng-container matColumnDef="comment1">
            <th style="width: 150px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">コメント</th>
        </ng-container>
        <!--依頼-->
        <ng-container matColumnDef="irai">
            <th style="width: 150px; " class="color-input-2" mat-header-cell *matHeaderCellDef [attr.colSpan]="2">依頼</th>
        </ng-container>
        <!--承認１-->
        <ng-container matColumnDef="shounin_lv1">
            <th style="width: 150px; " class="color-input-3" mat-header-cell *matHeaderCellDef [attr.colSpan]="2">承認１</th>
        </ng-container>
        <!--承認２-->
        <ng-container matColumnDef="shounin_lv2">
            <th style="width: 150px; " class="color-input-3" mat-header-cell *matHeaderCellDef [attr.colSpan]="2">承認２</th>
        </ng-container>
        <!--発注-->
        <ng-container matColumnDef="hacChu">
            <th style="width: 100px; " class="color-input-5" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2" [attr.colSpan]="2">発注</th>
        </ng-container>
        <!--受入-->
        <ng-container matColumnDef="ukeIre">
            <th style="width: 100px; " class="color-input-5" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2" [attr.colSpan]="2">受入</th>
        </ng-container>
        <!--支払-->
        <ng-container matColumnDef="shiHarai">
            <th style="width: 100px; " class="color-input-5" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2" [attr.colSpan]="2">支払</th>
        </ng-container>
        <!--仕訳コード-->
        <ng-container matColumnDef="journalCode">
            <th style="width: 60px; " class="color-input-1 " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 60px; " class="font-s" mat-cell *matCellDef="let element "> {{element.journalCode}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--経理分類-->
        <ng-container matColumnDef="accountCode">
            <th style="width: 40px; " class="color-input-1 " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 40px; " class="font-s" mat-cell *matCellDef="let element "> {{element.accountCode}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--仕訳名称-->
        <ng-container matColumnDef="journalName">
            <th style="width: 200px; " class="color-input-2 " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 200px; " class="font-s" mat-cell *matCellDef="let element "> {{element.journalName}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--発注先コード-->
        <ng-container matColumnDef="orderSupplierCode">
            <th style="width: 40px; " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 40px; " class="font-s" mat-cell *matCellDef="let element "> {{element.orderSupplierCode}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--発注先名称-->
        <ng-container matColumnDef="orderSupplierName">
            <th style="width: 150px; " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 150px; " class="font-s" mat-cell *matCellDef="let element "> {{element.orderSupplierName}} </td>
            <td mat-footer-cell *matFooterCellDef class="goukie">合計</td>
        </ng-container>
        <!--発注予定金額-->
        <ng-container matColumnDef="orderPlanAmount">
            <th style="width: 150px; " class="color-input-3 " mat-header-cell *matHeaderCellDef></th>
            <td id="txtPlanAmount{{i}}" style="width: 150px; text-align: right;" class="font-s-right" mat-cell *matCellDef="let element; let i = index" style.color="{{ getFontColor(element) }}"> {{element.orderPlanAmount | number}} </td>
            <td mat-footer-cell *matFooterCellDef>{{getTotalPlanAmount() | number}}</td>
        </ng-container>
        <!--反映-->
        <ng-container matColumnDef="display">
            <th style="width: 35px; " class="col-display dis-play" mat-header-cell *matHeaderCellDef></th>
            <td style="width: 35px; box-shadow: 1px 0px 0px 0px #dee2e6 inset;" class="font-s" class="col-display" mat-cell *matCellDef="let element ">
                <button style="min-width: 35px; padding: 0;" class="btn btn-link" disabled="{{isReflectFlg(element)}}" mat-button (click)=getDisplayData($event,element)><mat-icon>➡</mat-icon></button>
            </td>
            <td mat-footer-cell *matFooterCellDef class="col-display-footer"></td>
        </ng-container>
        <!--分割リンク-->
        <ng-container matColumnDef="split">
            <th style="width: 20px; " class="color-input-1 " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 20px; text-align: center;" mat-cell *matCellDef="let element ">
                <button style="min-width: 35px; padding: 0;" class="btn btn-link" disabled="{{isSplitFlg(element)}}" mat-button (click) = 'moveToSliptDetailInput($event,element)'>分</button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
         <!--発注金額-->
         <ng-container matColumnDef="orderSplitAmount">
            <th style="width: 150px; " class="color-input-1 " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 150px; text-align: right;" class="font-s-right" mat-cell *matCellDef="let element">{{element.orderSplitAmount | number}}</td>
            <td mat-footer-cell *matFooterCellDef>{{getOrderSplitAmount() | number}}</td>
        </ng-container>
        <!--コメント-->
        <ng-container matColumnDef="comment">
            <th style="width: 190px; " class="color-input-1 " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 190px; " class="font-s" mat-cell *matCellDef="let element ">{{element.comment}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--依頼日-->
        <ng-container matColumnDef="requestDate">
            <th style="width: 75px; " class="color-input-1 sticky" mat-header-cell *matHeaderCellDef>依頼日</th>
            <td style="width: 75px; " class="font-s" mat-cell *matCellDef="let element ">{{element.requestDate}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--依頼者-->
        <ng-container matColumnDef="requester">
            <th style="width: 100px; " class="color-input-1 sticky" mat-header-cell *matHeaderCellDef>依頼者</th>
            <td style="width: 100px; text-align: center; " mat-cell *matCellDef="let element">
                <label *ngIf="this.comCompnt.setValue(element.requester) !=''">{{element.requester}}</label>
                <!-- 発注金額が入力あり AND 依頼日が空白の場合にボタンを表示 -->
                <button *ngIf="this.comCompnt.setValue(element.orderSplitAmount) != '' && this.comCompnt.setValue(element.requester) ==''" id="btnIrai" (click) = "setRequest($event,element)" mat-button class="btn btn-outline-primary btn-small">依頼</button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--承認日１-->
        <ng-container matColumnDef="approvalDate_lv1">
            <th style="width: 75px; " class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認日</th>
            <td style="width: 75px; " class="" mat-cell *matCellDef="let element ">{{element.approvalDate_lv1}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--承認者１-->
        <ng-container matColumnDef="approvalPerson_lv1">
            <th style="width: 100px; " class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認者</th>
            <td style="width: 100px; text-align: center;" mat-cell *matCellDef = "let element">
                <label *ngIf="this.comCompnt.setValue(element.approvalPerson_lv1) !=''">{{element.approvalPerson_lv1}}</label>
                <!-- 依頼日が入力あり AND ログイン者が「承認１:可」(TODO)の場合）にボタンを表示 -->
                <button *ngIf="this.comCompnt.setValue(element.approvalPerson_lv1) =='' &&this.comCompnt.setValue(element.requester) !=''" (click) = "setApprovalFirstLevel($event,element)" mat-button class="btn btn-outline-success">承認</button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--承認日２-->
        <ng-container matColumnDef="approvalDate_lv2">
            <th style="width: 75px; " class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認日</th>
            <td style="width: 75px; " class="font-s" mat-cell *matCellDef="let element ">{{element.approvalDate_lv2}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--承認者２-->
        <ng-container matColumnDef="approvalPerson_lv2">
            <th style="width: 100px; " class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認者</th>
            <td style="width: 100px; text-align: center;" class="font-s-center" mat-cell *matCellDef="let element">
                <label *ngIf="this.comCompnt.setValue(element.approvalPerson_lv2) !=''">{{element.approvalPerson_lv2}}</label>
                <!-- 承認１が入力あり AND ログイン者が「承認２:可」(TODO)の場合）にボタンを表示 -->
                <button *ngIf="this.comCompnt.setValue(element.approvalPerson_lv2) =='' && this.comCompnt.setValue(element.approvalPerson_lv1) !=''" (click) = "setApprovalNextLevel($event,element)" mat-button class="btn btn-outline-success">承認</button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--発注日-->
        <ng-container matColumnDef="orderSupplierDate">
            <th style="width: 75px; " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 75px; " class="font-s" mat-cell *matCellDef="let element ">{{element.orderDate}}</td>
            <td mat-footer-cell *matFooterCellDef class="goukie">合計</td>
        </ng-container>
        <!--発注金額-->
        <ng-container matColumnDef="orderSupplierAmount">
            <th style="width: 150px; " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 150px;" class="font-s-right" mat-cell *matCellDef="let element ">{{element.orderAmount | number}}</td>
            <td class="font-s-right" mat-footer-cell *matFooterCellDef>{{getOrderAmount() | number}}</td>
        </ng-container>
        <!--受入日-->
        <ng-container matColumnDef="receivedDate">
            <th style="width: 75px; " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 75px; " class="font-s" mat-cell *matCellDef="let element ">{{element.receivedDate}}</td>
            <td mat-footer-cell *matFooterCellDef class="goukie">合計</td>
        </ng-container>
        <!--受け入れ金額-->
        <ng-container matColumnDef="receivedAmount">
            <th style="width: 150px; " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 150px;" class="font-s-right" mat-cell *matCellDef="let element ">{{element.receivedAmount | number}}</td>
            <td class="font-s-right" mat-footer-cell *matFooterCellDef>{{getReceivedAmount() | number}}</td>
        </ng-container>
        <!--支払日-->
        <ng-container matColumnDef="paymentDate">
            <th style="width: 75px; " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 75px; " class="font-s" mat-cell *matCellDef="let element ">{{element.paymentDate}}</td>
            <td mat-footer-cell *matFooterCellDef class="goukie">合計</td>
        </ng-container>
        <!--支払い金額-->
        <ng-container matColumnDef="paymentAmount">
            <th style="width: 150px; " mat-header-cell *matHeaderCellDef></th>
            <td style="width: 150px; " class="font-s-right" mat-cell *matCellDef="let element ">{{element.paymentAmount| number}}</td>
            <td class="font-s-right" mat-footer-cell *matFooterCellDef>{{getPaymentAmount() | number}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="mainHeaderColumns;"></tr>
        <tr mat-header-row *matHeaderRowDef="subHeaderColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: bodyColumns; " (click)="onSelectHighLight($event,row)"></tr>
        <tr mat-footer-row *matFooterRowDef="bodyColumns; sticky: true"></tr>
    </table>
</div>