<div class="table-responsive">
    <table mat-table [dataSource]="orderData" class="journal-table table table-hover table-sm table-bordered">
        
        <!--　▼▼▼▼▼▼▼▼　HEADER設定　▼▼▼▼▼▼▼▼ -->
        <!--受注枝番-->
        <ng-container matColumnDef="juchuEdaban">
            <th style="min-width: 60px; width: 60px; " class="color-input-1 " style="padding: 0 !important;" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">受注<br>枝番</th>
        </ng-container> 
        <!--仕訳コード-->
        <ng-container matColumnDef="shiwakeCode">
            <th style="min-width: 60px; width: 60px; " class="color-input-1 " mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">仕訳<br>コード</th>
        </ng-container>
        <!--経理分類-->
        <ng-container matColumnDef="keiriCode">
            <th style="min-width: 40px; width: 40px; " class="color-input-1 " mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">経理<br>分類</th>
        </ng-container>
        <!--仕訳名称-->
        <ng-container matColumnDef="shiwakeName">
            <th style="min-width: 150px; width: 150px; " class="color-input-1 " mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">仕訳名称</th>
        </ng-container>
        <!--発注先-->
        <ng-container matColumnDef="hacchuSaki">
            <th style="min-width: 260px; width: 260px;" class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2" [attr.colSpan]="2">発注先</th>
        </ng-container> 
        <!--注文書発行区分-->
        <ng-container matColumnDef="chuuMon">
            <th style="min-width: 20px; width: 20px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">注</th>
        </ng-container>     
        <!--発注予定金額-->
        <ng-container matColumnDef="hacchuKingaku">
            <th style="min-width: 120px; width: 120px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">発注予定金額</th>
        </ng-container>
        <!--却下-->
        <ng-container matColumnDef="kyakka">
            <th style="min-width: 30px; width: 30px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">却<br>下</th>
        </ng-container>
        <!--依頼日-->
        <ng-container matColumnDef="bulkIraiBi">
            <th style="min-width: 75px; width: 75px; " class="color-input-2" mat-header-cell *matHeaderCellDef >依頼日</th>
        </ng-container>        
        <!--承認日1-->
        <ng-container matColumnDef="bulkShouninBi_1">
            <th style="min-width: 75px; width: 75px; " class="color-input-3" mat-header-cell *matHeaderCellDef >承認１</th>
        </ng-container>
        <!--承認日2-->
        <ng-container matColumnDef="bulkShouninBi_2">
            <th style="min-width: 75px; width: 75px; " class="color-input-3" mat-header-cell *matHeaderCellDef >承認２</th>
        </ng-container>
        <!--承認日3-->
        <ng-container matColumnDef="bulkShouninBi_3">
            <th style="min-width: 75px; width: 75px; " class="color-input-3" mat-header-cell *matHeaderCellDef >承認３</th>
        </ng-container>
        <!--承認最終-->
        <ng-container matColumnDef="bulkShouninBi_Final">
            <th style="min-width: 75px; width: 75px; " class="color-input-3" mat-header-cell *matHeaderCellDef >最終承認</th>
        </ng-container>
        <!--反映-->
        <ng-container matColumnDef="hanei">
            <th style="min-width: 35px; width: 35px; box-shadow: 1px 0px 0px 0px #dee2e6 inset;" class="col-display" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">反<br>映</th>
        </ng-container>
        <!--分割-->
        <ng-container matColumnDef="bunkatsu">
            <th style="min-width: 35px; width: 35px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">分<br>割</th>
        </ng-container>
        <!--発注予定金額-->
        <ng-container matColumnDef="yoteiKigaku">
            <th style="min-width: 120px; width: 120px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">発注金額</th>
        </ng-container>
        <!--発注予定金額-->
        <ng-container matColumnDef="bunkatsuHacchusaki">
            <th style="min-width: 260px; width: 260px;" class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2" [attr.colSpan]="2">発注先</th>
        </ng-container>
        <!--分割注文書発行区分-->
        <ng-container matColumnDef="bunkatsuChumon">
            <th style="min-width: 20px; width: 20px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">注</th>
        </ng-container>
        <!--コメント-->
        <ng-container matColumnDef="comment1">
            <th style="min-width: 180px; width: 180px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">コメント</th>
        </ng-container>
        <!--依頼-->
        <ng-container matColumnDef="irai">
            <th style="min-width: 75px; width: 75px; " class="color-input-2" mat-header-cell *matHeaderCellDef >依頼</th>
        </ng-container>
        <!--承認１-->
        <ng-container matColumnDef="shounin_lv1">
            <th style="min-width: 75px; width: 75px; " class="color-input-3" mat-header-cell *matHeaderCellDef >承認１</th>
        </ng-container>
        <!--承認２-->
        <ng-container matColumnDef="shounin_lv2">
            <th style="min-width: 75px; width: 75px; " class="color-input-3" mat-header-cell *matHeaderCellDef >承認２</th>
        </ng-container>
        <!--承認３-->
        <ng-container matColumnDef="shounin_lv3">
            <th style="min-width: 75px; width: 75px; " class="color-input-3" mat-header-cell *matHeaderCellDef >承認３</th>
        </ng-container>
        <!--最終承認-->
        <ng-container matColumnDef="shounin_saishuu">
            <th style="min-width: 75px; width: 75px; " class="color-input-3" mat-header-cell *matHeaderCellDef >最終承認</th>
        </ng-container>
        <!--却下-->
        <ng-container matColumnDef="bunKyaku">
            <th style="min-width: 30px; width: 30px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">却<br>下</th>
        </ng-container>
        <!--発注-->
        <ng-container matColumnDef="hacChu">
            <th style="min-width: 195px; width: 195px; " class="color-input-5" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2" [attr.colSpan]="2">発注</th>
        </ng-container>
        <!--受入-->
        <ng-container matColumnDef="ukeIre">
            <th style="min-width: 195px; width: 195px; " class="color-input-5" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2" [attr.colSpan]="2">受入</th>
        </ng-container>
        <!--支払-->
        <ng-container matColumnDef="shiHarai">
            <th style="min-width: 195px; width: 195px; " class="color-input-5" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2" [attr.colSpan]="2">支払</th>
        </ng-container>

        <!--　▼▼▼▼▼▼▼▼　BODY設定　▼▼▼▼▼▼▼▼ -->
        <!--受注枝番-->
        <ng-container matColumnDef="orderBranchNo">
            <th style="min-width: 60px; width: 60px; " class="color-input-1 " mat-header-cell *matHeaderCellDef></th>
            <!-- FIXME: 設定値　0埋め -->
            <td style="min-width: 60px; width: 60px; " class="font-s" mat-cell *matCellDef="let element " 
            [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white' ,
                        'color':this.comCompnt.setValue(element.splitNo) !== '1' ? this.transparent : this.black}"> {{element.orderBranchNo|number:'2.0-2'}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--仕訳コード-->
        <ng-container matColumnDef="journalCode">
            <th style="min-width: 60px; width: 60px; " class="color-input-1 " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 60px; width: 60px; " class="font-s" mat-cell *matCellDef="let element " 
            [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white',
                        'color': this.comCompnt.setValue(element.splitNo) !== '1' ? this.transparent : this.black}"> {{element.journalCode}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--経理分類-->
        <ng-container matColumnDef="accountCode">
            <th style="min-width: 40px; width: 40px; " class="color-input-1 " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 40px; width: 40px; " class="font-s" mat-cell *matCellDef="let element " 
            [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white',
                        'color':this.comCompnt.setValue(element.splitNo) !== '1' ? this.transparent : this.black}"> {{element.accountCode}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--仕訳名称-->
        <ng-container matColumnDef="journalName">
            <th style="min-width: 150px; width: 150px; " class="color-input-2 " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 150px; width: 150px; " class="font-s" mat-cell *matCellDef="let element " 
            [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white',
                        'color':this.comCompnt.setValue(element.splitNo) !== '1' ? this.transparent : this.black}"> {{element.journalName}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--発注先コード-->
        <ng-container matColumnDef="orderSupplierCode">
            <th style="min-width: 40px; width: 40px; " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 40px; width: 40px; " class="font-s" mat-cell *matCellDef="let element " 
            [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white',
                        'color':this.comCompnt.setValue(element.splitNo) !== '1' ? this.transparent : this.black}"> {{element.orderSupplierCode}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--発注先名称-->
        <ng-container matColumnDef="orderSupplierName">
            <th style="min-width: 220x; width: 220px; " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 220px; width: 220px; " class="font-s" mat-cell *matCellDef="let element " 
            [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white',
                        'color':this.comCompnt.setValue(element.splitNo) !== '1' ? this.transparent : this.black}"> {{element.orderSupplierName}} </td>
            <td mat-footer-cell *matFooterCellDef class="goukie">合計</td>
        </ng-container>
        <!--注文書発行区分-->
        <ng-container matColumnDef="orderReceipt">
            <th style="min-width: 20px; width: 20px; " class="color-input-1" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"
            [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white'}">
                <input type="checkbox" 
                [checked]="this.comCompnt.setValue(element.orderReceipt)=='8'"
                (change)="setOrderReceiptStt($event,element,'0')"
                *ngIf="this.comCompnt.setValue(element.splitNo)=='1'">
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--発注予定金額-->
        <ng-container matColumnDef="orderPlanAmount">
            <th style="min-width: 120px; width: 120px; " class="color-input-3 " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 120px; width: 120px; text-align: right;" class="font-s-right" mat-cell *matCellDef="let element;" 
             style.color="{{getFontColor(element)}}" 
            [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white'}"> {{element.orderPlanAmount | number}} </td>
            <td mat-footer-cell *matFooterCellDef>{{getTotalPlanAmount() | number}}</td>
        </ng-container>
        <!--発注却下-->
        <ng-container matColumnDef="reject">
            <th style="min-width: 30px; width: 30px; " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 30px; width: 30px; " class="font-s" mat-cell *matCellDef="let element " 
            [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white',
                        'color':this.comCompnt.setValue(element.splitNo) !== '1' ? this.transparent : this.black}">
                    <button style="min-width: 30px; width: 30px; padding: 0;" mat-button
                    class="btn btn-link" 
                    *ngIf="this.comCompnt.setValue(element.splitNo)=='1'" 
                    disabled="{{isRejectFlg(element)}}" 
                    (click)="approvalReject($event,element,'0')">却</button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--一括依頼日-->
        <ng-container matColumnDef="bulkRequestDate">
            <th style="min-width: 75px; width: 75px; " class="color-input-1 sticky" mat-header-cell *matHeaderCellDef>依頼日</th>
            <td style="min-width: 75px; width: 75px;" class="font-s-right" mat-cell *matCellDef="let element" 
                [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white',
                            'color':this.comCompnt.setValue(element.splitNo) !== '1' ? this.transparent : this.black}">{{element.bulkRequestDate}}</td>
            <td style="padding: 0;text-align: center;" mat-footer-cell *matFooterCellDef="let element">
                <button mat-button disabled={{bulkRequestInfo()}} class="btn btn-primary btn-small btnBulkRequest" (click)="oneClickRequest($event)">依頼</button>
            </td>
        </ng-container>
        <!--一括承認１日-->
        <ng-container matColumnDef="bulkApprovalDate_1">
            <th style="min-width: 75px; width: 75px; " class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認１日</th>
            <td style="min-width: 75px; width: 75px;" class="font-s-right" mat-cell *matCellDef="let element" 
                [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white',
                            'color':this.comCompnt.setValue(element.splitNo) !== '1' ? this.transparent : this.black}">{{element.bulkApprovalDate_lv1}}</td>
            <td style="padding: 0; text-align: center;" mat-footer-cell *matFooterCellDef="let element">
                <button mat-button disabled={{bulkApprovalLv1Info()}} class="btn btn-success btnBulkApproval" (click)="oneClickApprovalLv1($event)">承認１</button>
            </td>
        </ng-container>
        <!--一括承認２日-->
        <ng-container matColumnDef="bulkApprovalDate_2">
            <th style="min-width: 75px; width: 75px; " class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認２日</th>
            <td style="min-width: 75px; width: 75px;" class="font-s-right" mat-cell *matCellDef="let element" 
                [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white',
                            'color':this.comCompnt.setValue(element.splitNo) !== '1' ? this.transparent : this.black}">{{element.bulkApprovalDate_lv2}}</td>
            <td style="padding: 0; text-align: center;" mat-footer-cell *matFooterCellDef="let element">
                <button mat-button disabled={{bulkApprovalLv2Info()}} class="btn btn-success btnBulkApproval" (click)="oneClickApprovalLv2($event)">承認２</button>
            </td>
        </ng-container>
        <!--一括承認３日-->
        <ng-container matColumnDef="bulkApprovalDate_3">
            <th style="min-width: 75px; width: 75px; " class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認３日</th>
            <td style="min-width: 75px; width: 75px;" class="font-s-right" mat-cell *matCellDef="let element" 
                [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white',
                            'color':this.comCompnt.setValue(element.splitNo) !== '1' ? this.transparent : this.black}">{{element.bulkApprovalDate_lv3}}</td>
            <td style="padding: 0; text-align: center;" mat-footer-cell *matFooterCellDef="let element">
                <button mat-button disabled={{bulkApprovalLv3Info()}} class="btn btn-success btnBulkApproval" (click)="oneClickApprovalLv3($event)">承認３</button>
            </td>
        </ng-container>
        <!--一括最終承認日-->
        <ng-container matColumnDef="bulkApprovalDate_Final">
            <th style="min-width: 75px; width: 75px; " class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>最終承認</th>
            <td style="min-width: 75px; width: 75px;" class="font-s-right" mat-cell *matCellDef="let element" 
                [ngStyle]="{'backgroundColor': this.comCompnt.setValue(element.bulkApprovalPerson_final)!= '' ? this.grayOut :'white',
                            'color':this.comCompnt.setValue(element.splitNo) !== '1' ? this.transparent : this.black}">{{element.bulkApprovalDate_final}}</td>
            <td style="padding: 0; text-align: center;" mat-footer-cell *matFooterCellDef="let element">
                <button mat-button disabled={{bulkApprovalFinalInfo()}} class="btn btn-success btnBulkApproval" (click)="oneClickApprovalFinal($event)">最終承認</button>
            </td>
        </ng-container>
        <!--反映-->
        <ng-container matColumnDef="display">
            <th style="min-width: 35px; width: 35px;" class="col-display dis-play" mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 35px; width: 35px; box-shadow: 1px 0px 0px 0px #dee2e6 inset; padding: 0 !important;" class="font-s" class="col-display" mat-cell *matCellDef="let element ">
                <button style="min-width: 35px; padding: 0;" class="btn btn-link" disabled="{{isReflectFlg(element)}}" mat-button (click)=getDisplayData($event,element)>
                    <mat-icon>➡</mat-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef class="col-display-footer"></td>
        </ng-container>
        <!--分割リンク-->
        <ng-container matColumnDef="split">
            <th style="min-width: 35px; width: 35px; " class="color-input-1 " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 35px; width: 35px; text-align: center; padding: 0 !important;" mat-cell *matCellDef="let element ">
                <button style="min-width: 35px; padding: 0;" class="btn btn-link" disabled="{{isSplitFlg(element)}}" mat-button (click)="moveToSliptDetailInput($event,element)">分</button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
         <!--発注金額-->
         <ng-container matColumnDef="orderSplitAmount">
            <th style="min-width: 120px; width: 120px; " class="color-input-1 " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 120px; width: 120px; text-align: right;" class="font-s-right" mat-cell *matCellDef="let element">{{element.orderSplitAmount | number}}</td>
            <td mat-footer-cell *matFooterCellDef>{{getOrderSplitAmount() | number}}</td>
        </ng-container>
        <!--発注分割発注先コード-->
        <ng-container matColumnDef="splitSupplierCode">
            <th style="min-width: 40px; width: 40px; " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 40px; width: 40px; " class="font-s" mat-cell *matCellDef="let element ">{{element.splitSupplierCode}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--発注分割発注先名称-->
        <ng-container matColumnDef="splitSupplierName">
            <th style="min-width: 220x; width: 220px; " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 220px; width: 220px; " class="font-s" mat-cell *matCellDef="let element ">{{element.splitSupplierName}}</td>
            <td mat-footer-cell *matFooterCellDef ></td>
        </ng-container>
        <!--分割注文書発行区分-->
        <ng-container matColumnDef="splitOrderReceipt">
            <th style="min-width: 20px; width: 20px; " class="color-input-1" mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <input type="checkbox" value="" 
                [checked]="this.comCompnt.setValue(element.splitOrderReceipt)=='8'">
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--コメント-->
        <ng-container matColumnDef="comment">
            <th style="min-width: 180px; width: 180px; " class="color-input-1 " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 180px; width: 180px; " class="font-s" mat-cell *matCellDef="let element ">{{element.comment}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--依頼日-->
        <ng-container matColumnDef="requestDate">
            <th style="min-width: 75px; width: 75px; " class="color-input-1 sticky" mat-header-cell *matHeaderCellDef>依頼日</th>
            <td style="min-width: 75px; width: 75px; " class="font-s" mat-cell *matCellDef="let element ">
                <label *ngIf="this.comCompnt.setValue(element.requester) != ''">{{element.requestDate}}</label>
                <!-- 発注金額が入力あり AND 依頼日が空白の場合にボタンを表示 -->
                <button mat-button class="btn btn-outline-primary btn-small"
                        *ngIf="this.comCompnt.setValue(element.orderSplitAmount) != '' 
                            && this.comCompnt.setValue(element.requester) == ''"(click)="setRequest($event,element)"
                        disabled="{{this.tabName === this.readonlyTab}}">依頼</button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>        
        <!--承認日１-->
        <ng-container matColumnDef="approvalDate_lv1">
            <th style="min-width: 75px; width: 75px; " class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認日</th>
            <td style="min-width: 75px; width: 75px; " class="" mat-cell *matCellDef="let element ">
                <label *ngIf=" approvalUnit >= 2 && this.comCompnt.setValue(element.approvalPerson_lv1)!=''">{{element.approvalDate_lv1}}</label>
                <!-- 依頼日が入力あり AND ログイン者が「承認１:可」(TODO)の場合）にボタンを表示 -->
                <button mat-button class="btn btn-outline-success"
                        *ngIf="approvalUnit >= 2 
                           && this.comCompnt.setValue(element.requester) !='' 
                           && this.comCompnt.setValue(element.approvalPerson_lv1) ==''"
                        (click)="setApprovalFirstLevel($event,element)" 
                        disabled="{{this.tabName === this.readonlyTab}}">承認</button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--承認日２-->
        <ng-container matColumnDef="approvalDate_lv2">
            <th style="min-width: 75px; width: 75px; " class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認日</th>
            <td style="min-width: 75px; width: 75px; " class="font-s" mat-cell *matCellDef="let element ">
                <label *ngIf="approvalUnit >= 3 && this.comCompnt.setValue(element.approvalPerson_lv2) !=''">{{element.approvalDate_lv2}}</label>
                <!-- 承認１が入力あり AND ログイン者が「承認２:可」(TODO)の場合）にボタンを表示 -->
                <button mat-button class="btn btn-outline-success"
                    *ngIf="approvalUnit >= 3 
                    && this.comCompnt.setValue(element.approvalPerson_lv1) !='' 
                    && this.comCompnt.setValue(element.approvalPerson_lv2) ==''"
                    (click)="setApprovalNextLevel($event,element)" 
                    disabled="{{this.tabName === this.readonlyTab}}">承認</button>

            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!--承認日３-->
        <ng-container matColumnDef="approvalDate_lv3">
            <th style="min-width: 75px; width: 75px; " class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認日</th>
            <td style="min-width: 75px; width: 75px; " class="font-s" mat-cell *matCellDef="let element ">
                <label *ngIf="approvalUnit == 4 && this.comCompnt.setValue(element.approvalPerson_lv3) !=''">{{element.approvalDate_lv3}}</label>
                    <!-- 承認３承認ボタンの表示制御 -->
                    <!-- 「承認人数が３を設定」と「ログイン：承認３可」と「承認2承認済」の時に表示する -->
                    <button mat-button class="btn btn-outline-success"
                        *ngIf="approvalUnit == 4 
                        && this.comCompnt.setValue(element.approvalPerson_lv2) !='' 
                        && this.comCompnt.setValue(element.approvalPerson_lv3) ==''"
                        (click)="setApprovalThirdLevel($event,element)" 
                        disabled="{{this.tabName === this.readonlyTab}}">承認</button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container> 
        <!--最終承認日-->
        <ng-container matColumnDef="approvalDate_final">
            <th style="min-width: 75px; width: 75px; " class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認日</th>
            <td style="min-width: 75px; width: 75px; " class="font-s" mat-cell *matCellDef="let element ">
                <label *ngIf="this.comCompnt.setValue(element.approvalPerson_final) !=''">{{element.approvalDate_final}}</label>
                <!-- 最終承認ボタンの表示制御について -->
                <!-- 承認人数は１が設定された場合、ログイン：「最終承認可」と「依頼済」と「最終承認未済」の時に表示される -->
                <!-- 承認人数は２が設定された場合、ログイン：「最終承認可」と「承認１承認済」と「最終承認未済」の時に表示される -->
                <!-- 承認人数は３が設定された場合、ログイン：「最終承認可」と「承認２承認済」と「最終承認未済」の時に表示される -->
                <!-- 承認人数は４が設定された場合、ログイン：「最終承認可」と「承認３承認済」と「最終承認未済」の時に表示される -->
                <button mat-button class="btn btn-outline-success"
                    *ngIf="(approvalUnit == 1 && this.comCompnt.setValue(element.requester) !='' && this.comCompnt.setValue(element.approvalPerson_final) =='')
                            ||(approvalUnit == 2 && this.comCompnt.setValue(element.approvalPerson_lv1) !='' && this.comCompnt.setValue(element.approvalPerson_final) =='')
                            ||(approvalUnit == 3 && this.comCompnt.setValue(element.approvalPerson_lv2) !='' && this.comCompnt.setValue(element.approvalPerson_final) =='')
                            ||(approvalUnit == 4 && this.comCompnt.setValue(element.approvalPerson_lv3) !='' && this.comCompnt.setValue(element.approvalPerson_final) =='')"
                    (click)="setApprovalFinalLevel($event,element)"
                    disabled="{{this.tabName === this.readonlyTab}}">承認</button>
            </td>
            
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container> 
        <!--分割却下-->
        <ng-container matColumnDef="splitReject">
            <th style="min-width: 30px; width: 30px; " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 30px; width: 30px; " class="font-s" mat-cell *matCellDef="let element " >
                    <button mat-button style="min-width: 35px; padding: 0;" class="btn btn-link" 
                    disabled="{{isRejectFlg(element)}}" 
                    (click)="approvalReject($event,element,'1')">却</button>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container> 
        <!--発注日-->
        <ng-container matColumnDef="orderSupplierDate">
            <th style="min-width: 75px; width: 75px; " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 75px; width: 75px; " class="font-s" mat-cell *matCellDef="let element ">{{element.orderDate}}</td>
            <td mat-footer-cell *matFooterCellDef class="goukie">合計</td>
        </ng-container>
        <!--発注金額-->
        <ng-container matColumnDef="orderSupplierAmount">
            <th style="min-width: 120px; width: 120px; " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 120px; width: 120px;" class="font-s-right" mat-cell *matCellDef="let element ">{{element.orderAmount | number}}</td>
            <td class="font-s-right" mat-footer-cell *matFooterCellDef>{{getOrderAmount() | number}}</td>
        </ng-container>
        <!--受入日-->
        <ng-container matColumnDef="receivedDate">
            <th style="min-width: 75px; width: 75px; " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 75px; width: 75px; " class="font-s" mat-cell *matCellDef="let element ">{{element.receivedDate}}</td>
            <td mat-footer-cell *matFooterCellDef class="goukie">合計</td>
        </ng-container>
        <!--受け入れ金額-->
        <ng-container matColumnDef="receivedAmount">
            <th style="min-width: 120px; width: 120px; " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 120px; width: 120px;" class="font-s-right" mat-cell *matCellDef="let element ">{{element.receivedAmount | number}}</td>
            <td class="font-s-right" mat-footer-cell *matFooterCellDef>{{getReceivedAmount() | number}}</td>
        </ng-container>
        <!--支払日-->
        <ng-container matColumnDef="paymentDate">
            <th style="min-width: 75px; width: 75px; " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 75px; width: 75px; " class="font-s" mat-cell *matCellDef="let element ">{{element.paymentDate}}</td>
            <td mat-footer-cell *matFooterCellDef class="goukie">合計</td>
        </ng-container>
        <!--支払い金額-->
        <ng-container matColumnDef="paymentAmount">
            <th style="min-width: 120px; width: 120px; " mat-header-cell *matHeaderCellDef></th>
            <td style="min-width: 120px; width: 120px; " class="font-s-right" mat-cell *matCellDef="let element ">{{element.paymentAmount| number}}</td>
            <td class="font-s-right" mat-footer-cell *matFooterCellDef>{{getPaymentAmount() | number}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="mainHeaderColumns;"></tr>
        <tr mat-header-row *matHeaderRowDef="subHeaderColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: bodyColumns; " (click)="onSelectHighLight($event,row)"></tr>
        <tr mat-footer-row *matFooterRowDef="bodyColumns; sticky: true"></tr>
    </table>
</div>