.mat-footer-cell {
    background-color: #e0e0e0;
    position: sticky;
}

.mat-header-cell {
    text-align: center !important;
    position: sticky;
}


tr.mat-footer-row {
    font-weight: bold;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}

.color-input-1 {
    background-color: #C5D9F1;
    text-align: center;
}

.color-input-2 {
    background-color: #95B3D7;
    text-align: center;
}

.color-input-3 {
    background-color: #FABF8F;
    text-align: center;
}

.color-input-4 {
    background-color: #FDE9D9;
    text-align: center;
}

.color-input-5 {
    background-color: #C4D79B;
    text-align: center;
}

.table-responsive {
    display: block;
    width: fit-content;
    min-width: 1200px;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 960px;
}

.table-responsive .mat-row,
.table-responsive .mat-header-row {
    display: table-row;
    height: 30px;
    
}

.table-responsive .mat-cell,
.table-responsive .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}


/**
* Table's scroll
*
**/

.table-responsive>table>thead>tr>th {
    top: 0px;
    position: sticky;
    z-index: 100;
}

.sticky {
    top: 30px !important;
}


.col-display {
    background-color: white !important;
    border-top: none !important;
    border-bottom: none !important;
}

.col-display-footer {
    background-color: white !important;
    border-top: none !important;
    border-bottom: none !important;
}
