.mat-footer-cell {
    background-color: #e0e0e0;
}

.mat-header-cell {
    /* background-color: #C5D9F1 !important; */
    text-align: center !important;
}

.tableContent-container {
    width: inherit;
    height: 300px !important;
}

tr.mat-footer-row {
    font-weight: bold;
}

th {
    font-size: 1rem !important;
    text-align: center !important;
}

td {
    padding: 5px !important;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}

.col-display {
    background-color: transparent !important;
    border-top: none !important;
    border-bottom: none !important;
}

.color-input-1 {
    background-color: #C5D9F1 !important;
    text-align: center;
}

.color-input-2 {
    background-color: #95B3D7 !important;
    text-align: center;
}

.color-input-3 {
    background-color: #FABF8F !important;
    text-align: center;
}

.color-input-4 {
    background-color: #FDE9D9 !important;
    text-align: center;
}

.color-input-5 {
    background-color: #C4D79B !important;
    text-align: center;
}