.modal {
  position: fixed;
  top: 20%;
  left: 30%;
  height: 600px;
  width: 50%;
  border-radius: 15px;
}

.modal-header{
  font-size: 1.2em;
  font-weight:bold;
  background-color: rgb(229, 241, 247);
  justify-content: center;
  align-items: center;
}

.modal-footer{
  background-color: rgb(229, 241, 247);
  justify-content: space-between;
}

.table{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.table>thead {
  background-color: #E5E5E5;
}
.table>tbody {
  height: 130px;
  overflow-y: scroll;
}

.td-b {
  border-right: 0.5px solid #CCD0D5;
}


.table-s{
  height: 40px;
  width: 25%;
  word-wrap: break-word;
}
  
.table-m{
    height: 40px;
    width: 50%;
    word-wrap: break-word;
}
  
.errormsg{
  font-size: 1.2em;
  color: rgb(255, 0, 0);
}
  