<div id="M_ODIS0040" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <label id="header_label">{{title}}</label>
            </div>
            <div class="modal-body">
                <div class="table-container">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="table-s td-b text-center">発注</th>
                                <th class="table-m td-b text-center">仕訳名称</th>
                                <th class="table-s td-b text-center">納品</th>
                            </tr>
                        </thead>
                        <tbody id='initScroll'>
                            <tr *ngFor="let data of datas" (click)=onSelHighLight($event,data)>
                                <td class="table-s td-b">{{ data.supplierCode }}</td>
                                <td class="table-m td-b">{{ data.supplierJournalName }}</td>
                                <td class="table-s td-b">{{ data.delivery }}</td>
                            </tr>                 
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseClick();">閉じる</button>
                <label class ="errormsg">{{errormsg}}</label>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onChooseClick($event);">選択</button>
            </div>
        </div>
    </div>
</div>
