table {
    width: 100%;
}

th .mat-sort-header-sorted {
    color: black;
}

.detail-table {
    width: 100%;
    min-width: 1200px;
    position: relative;
    margin: 0;
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
    overflow: hidden;
}

th {
    /* text-align: left !important; */
    background-color: #FFFFFF !important;
    border-top: 0.5px solid #CCD0D5;
}

th,
td {
    border-collapse: collapse;
    border-bottom: 0.5px solid #CCD0D5;
    /* border-right: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5; */
}

td {
    /* text-align: center; */
}

a {
    /* text-align: center; */
}

.color-1 {
    background-color: #FDE9D9 !important;
}

.color-2 {
    background-color: #C5D9F1 !important;
}

.color-3 {
    background-color: #EBF1DE !important;
}