/* .label-control {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
} */


/* 
.input-container .form-input {
    width: 15%;
} */


/* .align-content-center .checkbox-inline input {
    vertical-align: middle;
} */


/* .search-form-s>span {
    height: 30px;
    line-height: 30px;
} */

.search-form-s>span>button {
    height: 18px;
    line-height: 18px;
}

.search-form-s>span>label,
input {
    height: 18px;
    line-height: 18px;
}

.radio-container {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox-container {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-container {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    max-height: 300px;
    border-radius: 5px;
}

.table {
    position: relative;
    margin: 0;
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
}

.table>thead,
tbody {
    display: block;
}


/* scroll bar */

.table>tbody {
    height: 480px;
    overflow-y: scroll;
}

.table>thead {
    background-color: #E5E5E5;
}

.table>tbody::-webkit-scrollbar {
    display: none;
}


/* .table>thead>tr,
tbody>tr {
    display: inline-block;
    width: 100%;
    max-height: 100%;
} */


/* .table-id {
    display: inline-block;
    height: 40px;
    max-height: 100%;
    width: 6%;
    word-wrap: break-word;
}*/

.table-str {
    /* display: inline-block; */
    height: 40px;
    width: 30%;
    word-wrap: break-word;
}

.td-b {
    border-right: 0.5px solid #CCD0D5;
}

.table-btn {
    display: inline-block;
    height: 40px;
    width: 22.8%;
    word-wrap: break-word;
}


/* .table-btn-pad {
    padding-top: 5px;
} */

.table-btn-d {
    width: 60px;
}

.input-group-text {
    background-color: transparent;
    border: none;
}


/* .form-container {
    margin-bottom: 3px;
} */


/* .form-container {
    margin-bottom: 10px;
    display: inline-block;
} */

input,
label,
span {
    font-size: 1rem !important;
}


/******************* Page Index ****************************/

.paginate-container {
    display: flexbox;
    padding-bottom: 41.75px;
}

.paginateInput {
    position: absolute;
    top: 23px;
    right: 1.5px;
    display: inline-block;
    width: 33px;
    height: 29px;
    line-height: 33px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    text-align: center;
}

.fas {
    font-size: 1rem;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 35px;
}


/********************* Page Footer *************************/

.footer-container {
    position: absolute;
    display: inline-block;
    bottom: 0;
    /* width: 93%; */
    padding-bottom: 12.5px;
    z-index: 2;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
}

.footer>.back-btn {
    display: inline-block;
    width: 120px;
}