/********* Text Box **********/

input {
    height: 25px;
    line-height: 25px;
}


/*********************************************/


/********* Radio Button and CheckBox*************/


/* .radio-container {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
} */


/* .checkbox-container {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
} */


/*********************************************/


/* ***********Table Properties******************* */

.table {
    /* table-layout: fixed; */
    /* width: 100%; */
    position: relative;
    margin: 0;
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
}


/* 
.table>thead,
tbody {
    display: block;
}
 */


/**************** Scroll bar *************************/

.table>tbody {
    height: 480px;
    overflow-y: scroll;
}


/* ************************************************ */

.table>thead {
    text-align: center;
    background-color: #E5E5E5;
}

.table>tbody::-webkit-scrollbar {
    display: none;
}

.table-str {
    /* display: inline-block; */
    height: 40px;
    /* width: 30%; */
    word-wrap: break-word;
}


/***************** Table Border line *********************/

.td-b {
    border-right: 0.5px solid #CCD0D5;
}


/* ********************************************* */

.td-font {
    font-size: 1rem;
}

.table-btn-d {
    display: inline-block;
    width: 60px;
    word-wrap: break-word;
}

.input-group-text {
    color: black;
    font-weight: bolder;
    background-color: transparent;
    border: none;
}


/* input,
label,
span {
    font-size: 1rem !important;
} */


/******************* Page Index ****************************/

.paginate-container {
    display: flexbox;
    padding-bottom: 41.75px;
}

.paginateInput {
    position: absolute;
    top: 23px;
    right: 1.5px;
    display: inline-block;
    width: 33px;
    height: 29px;
    line-height: 33px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    text-align: center;
}

.fas {
    font-size: 1rem;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 35px;
}


/********************* Page Footer *************************/

.footer-container {
    position: absolute;
    display: inline-block;
    bottom: 0;
    /* width: 93%; */
    padding-bottom: 12.5px;
    z-index: 2;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
}

.footer>.back-btn {
    display: inline-block;
    width: 120px;
}