<header>
    <title>{{pageTitle}}</title>
</header>


<div id="orderDetailApproval">
    <section id="search-input" class="search-area">
        <div class="container">
            <div class="container-fluid">
                <h1 style="text-align: center; font-weight: bold;">{{pageTitle}}</h1>
            </div>
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <p class="input-group-text" style="width: 80px; text-align: right;">契約番号</p>
            </div>
            <input [(ngModel)]="inputment.contractNumFrom" id="contractNumFrom" type="text" style="width: 120px;">
            <div style="width: 30px; text-align: center;">
                <p style="margin-top: 9px; margin-bottom: 9px;">~</p>
            </div>
            <input [(ngModel)]="inputment.contractNumTo" id="contractNumTo" type="text" style="width: 120px;">
        </div>

        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <p class="input-group-text" style="width: 80px; text-align: right;">物件名</p>
            </div>
            <input [(ngModel)]="inputment.propertyName" id="propertyName" type="text" style="width: 270px;">
            <div style="width: 30px;"></div>
            <div class="input-group-append radio-container ">
                <p class="radioCheckbok"><input [checked]="inputment.startFromName" type="radio" name="options" id="startFromName" autocomplete="off">で始まる</p>
                <div style="width: 20px;"></div>
                <p class="radioCheckbok"><input [checked]="inputment.includeProName" type="radio" name="options" id="includeProName" autocomplete="off">を含む</p>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <p class="input-group-text" style="width: 80px;text-align: right;">明細作成</p>
            </div>
            <div style="width: 50px; "></div>
            <div class="input-group-append">
                <p class="radioCheckbok"><input [(ngModel)]="inputment.detailNone" type="checkbox" id="detailNone" autocomplete="off">明細作成未</p>
                <div style="width: 20px; "></div>
                <p class="radioCheckbok"><input [(ngModel)]="inputment.detailCreated" type="checkbox" id="detailCreated" autocomplete="off">明細作成あり</p>
            </div>
        </div>
        <div>
            <div style=" float: left; width: 50%;" class="input-group">
                <div class="input-group-prepend">
                    <p class="input-group-text" style="width: 80px; text-align: right;">未承認</p>
                </div>
                <div style="width: 50px; "></div>
                <div class="input-group-append">
                    <p class="radioCheckbok"><input [(ngModel)]="inputment.approval_1" type="checkbox" id="" autocomplete="off">承認１</p>
                    <div style="width: 20px; "></div>
                    <p class="radioCheckbok"><input [(ngModel)]="inputment.approval_2" type="checkbox" id="" autocomplete="off">承認２</p>
                </div>
            </div>
            <div style="margin-left: 50%; width:auto;" class="input-group">
                <div style="width: 50%;"></div>
                <div class=" input-group-prepend">
                    <p class=" input-group-text" style="width: 80px;">表示順</p>
                </div>
                <div style="width: 30px;"></div>
                <div class="input-group-append">
                    <p class=" radioCheckbok "><input [checked]="inputment.resultASC" type="radio" name="options " id="startFromName " autocomplete="off ">昇順</p>
                    <div style="width: 20px;"></div>
                    <p class="radioCheckbok "><input [checked]="inputment.resultDESC" type="radio" name="options " id="startFromName " autocomplete="off ">降順</p>
                </div>
            </div>
        </div>
        <br>
        <div style="text-align: right; width: 100%; ">
            <button type="button " class="btn-group-toggle border " style="width: 80px; " (click)="getSearchRequest()">検索</button>
            <div style="width: 50px; "></div>
        </div>
    </section>

    <section id=" data-display " style="padding-top :10px ">
        <!-- <table id="tbl-order-detail " class=" table table-hover table-striped mb-3 ">
            <thead>
                <tr>
                    <th class="td-b " style="width: 10%; ">詳細</th>
                    <th class="td-b " style="width: 13%; ">契約番号</th>
                    <th class="td-b " style="width: 18%; ">物件名</th>
                    <th class="td-b " style="width: 10%; ">発注予定金額合計</th>
                    <th class="td-b " style="width: 10%; ">承認依頼金額合計</th>
                    <th class="td-b " style="width: 10%; ">発注金額合計</th>
                    <th class="td-b " style="width: 10%; ">受入金額合計</th>
                    <th class="td-b " style="width: 10%; ">進捗率</th>
                    <th class="td-b " style="width: 3%; ">明</th>
                    <th class="td-b " style="width: 3%; ">承1</th>
                    <th class="td-b " style="width: 3%; ">承2</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let data of datas">
                    <td class="td-b td-font text-center " style="width: 10%; ">
                        <a href="http://localhost:4200/OrderDetailInput" (click)="getOrderDetail($event, data)">詳細</a>
                    </td>
                    <td class="td-b td-font " style="width: 13%; ">{{data.contractNum}}</td>
                    <td class="td-b td-font " style="width: 18%; ">{{data.propertyName}}</td>
                    <td class="td-b td-font " style="width: 10%; ">{{data.planOrderAmount}}</td>
                    <td class="td-b td-font " style="width: 10%; ">{{data.approvalRequestAmount}}</td>
                    <td class="td-b td-font " style="width: 10%; ">{{data.performanceOrderAmount}}</td>
                    <td class="td-b td-font " style="width: 10%; ">{{data.receivedAmount}}</td>
                    <td class="td-b td-font " style="width: 10%; ">{{data.progressRate}}</td>
                    <td class="td-b td-font " style="width: 3%; ">{{data.createdDetail}}</td>
                    <td class="td-b td-font " style="width: 3%; ">{{data.approval_1}}</td>
                    <td class="td-b td-font " style="width: 3%; ">{{data.approval_2}}</td>
                </tr>
            </tbody>
        </table> -->

        <!-- Thu material table  -->
        <table></table>

        <div class="text-center paginate-container ">
            <button class="btn btn-info border mx-3 "><i
                    class="fas fa-angle-double-left fa-inverse "></i></button>
            <button class="btn btn-info border mx-3 "><i
                    class="fas fa-angle-left fa-inverse "></i></button>
            <div class="input-wrapper ">
                <input class="paginateInput " type="text " value="{{pageIndex}}" #paginateInput />
            </div>
            <button class="btn btn-info border mx-3 ">
                <i class="fas fa-angle-right fa-inverse "></i></button>
            <button class="btn btn-info border mx-3 "><i
                    class="fas fa-angle-double-right fa-inverse "></i></button>
            <!-- <button class="btn btn-info border mx-3 " (click)="pageJump(paginateInput)">JUMP</button> -->
            <p class="m-3 fs-small ">{{pageIndex*pageSize}} - {{(pageIndex+1)*pageSize}} 件表示 / {{recordMax}} 件中</p>
        </div>

    </section>
</div>

<div class="footer-container ">
    <div class="text-left footer ">
        <button id="btnClose " class="btn btn-secondary border mx-1 back-btn ">閉じる(F9)</button>
    </div>
</div>