.modal {
    position: fixed;
    top: 10%;
    left: 20%;
    height: 700px;
    width: 60%;
    border-radius: 15px;
}
.modal-header{
    font-size: 1.2em;
    font-weight:bold;
    background-color: rgb(229, 241, 247);
    justify-content: center;
    align-items: center;
}
.modal-footer{
    background-color: rgb(229, 241, 247);
    justify-content: space-between;
}

.box {
    display: flex;
    width: 100%;
    border-radius: 5px;
    overflow-x: hidden;
}

.table-small {
    width: 20%;
    margin-right: 30px;
}
.table-small>thead {
    background-color: #E5E5E5;
    height: 130px;
}
.table-small>tbody {
    height: 130px;
}

.table{
    width: 85%;
}
.table>thead {
    background-color: #E5E5E5;
}
.table>tbody {
    height: 130px;
}

.td-b {
    border-right: 0.5px solid #CCD0D5;
}

.table-str-m{
    height: 40px;
    width: 12%;
    word-wrap: break-word;
}

.table-str-s{
    height: 40px;
    width: 9%;
    word-wrap: break-word;
}

.table-str{
    height: 40px;
    width: 25%;
    word-wrap: break-word;
}

.table-str-large{
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
}

.btn-secondary>modal-footer{
    position: left;
}

.errormsg{
    font-size: 1.2em;
    color: rgb(255, 0, 0);
  }