<div *ngIf="isLoading">
    <loading-spinner></loading-spinner>
</div>
<div *ngIf="isInitFlg">
    <div class="grossMainInfo">
        <table class="table-bordered tblGrossMainInfo">
            <thead>
            <tr>
                <th class="grossOrderNo color-input-1">発注番号</th>
                <th class="grossConstructionName color-input-1" >工事名</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" style="text-align: center;">{{orderInfo.contractNum}}</td>
                <td >{{orderInfo.constructionKata}}</td>
            </tr>
            <tr>
                <td > {{orderInfo.constructionHira}}</td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="grossInformation" style="margin-top: 20px;">
        <table mat-table [dataSource]="grossProfitData" class="tblGrossDataInfo table table-hover table-bordered">
            <!--Header 契約 -->
            <ng-container matColumnDef="keiyakuNo">
                <th class="color-input-1" mat-header-cell *matHeaderCellDef >契約</th>            
            </ng-container>
            <ng-container matColumnDef="contractNo">
                <td class="grossContractStyle" mat-cell *matCellDef="let element">{{element.constructModel}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!--Header 受注形態 -->
            <ng-container matColumnDef="keiyakuKeitai">            
                <th class="color-input-1" mat-header-cell *matHeaderCellDef >受注形態</th>
            </ng-container>
            <ng-container matColumnDef="contractKind">
                <td class="grossContractKind" mat-cell *matCellDef="let element">{{element.constructType}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!--Header 枝番 -->
            <ng-container matColumnDef="edaBan">
                <th class="color-input-1" mat-header-cell *matHeaderCellDef colspan="2">枝番</th>
            </ng-container>
            <ng-container matColumnDef="branch01">
                <td class="branchStyle" mat-cell *matCellDef="let element">{{element.branch01}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="branch02">            
                <td class="branchStyle" mat-cell *matCellDef="let element">{{element.branch02}}</td>            
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            
            
            <!--Header 受注形態 -->
            <ng-container matColumnDef="keiyakuYmd">
                <th class="color-input-1" mat-header-cell *matHeaderCellDef>契約日</th>            
            </ng-container>
            <ng-container matColumnDef="contractDate">
                <td class="grossContractStyle" mat-cell *matCellDef="let element">{{element.contractDate}}</td>
                <td class="grossContractStyle" mat-footer-cell *matFooterCellDef>合計</td>
            </ng-container>

            <!--Header 契約金額 -->
            <ng-container matColumnDef="keiyakuKin">
                <th class="color-input-1" mat-header-cell *matHeaderCellDef >契約金額</th>
            </ng-container>
            <ng-container matColumnDef="contractAmount">
                <td class="amountStyle" mat-cell *matCellDef="let element">{{element.contractAmount|number}}</td>
                <td class="amountStyle" mat-footer-cell *matFooterCellDef>{{getTotalContractAmount() | number}}</td>
            </ng-container>


            <!--Header 発注金額 -->
            <ng-container matColumnDef="hachuuKin">
                <th class="color-input-1" mat-header-cell *matHeaderCellDef >発注金額</th>
            </ng-container>
            <ng-container matColumnDef="orderAmount">
                <td class="amountStyle" mat-cell *matCellDef="let element">{{element.orderAmount|number}}</td>
                <td class="amountStyle" mat-footer-cell *matFooterCellDef>{{getTotalOrderAmount() | number}}</td>
            </ng-container>

            <!--Header 粗利率 -->
            <ng-container matColumnDef="riritsu">
                <th class="color-input-1" mat-header-cell *matHeaderCellDef >粗利率</th>
            </ng-container>
            <ng-container matColumnDef="grossProfit">
                <td class="grossProfitStyle" mat-cell *matCellDef="let element">{{element.grossProfit|percent}}</td>
                <td class="grossProfitStyle" mat-footer-cell *matFooterCellDef>{{getTotalGrossProfit()|percent}}</td>
            </ng-container>

            <!--Header 労災金額 -->
            <ng-container matColumnDef="rousaiKin">
                <th class="color-input-1" mat-header-cell *matHeaderCellDef >労災金額</th>
            </ng-container>
            <ng-container matColumnDef="accidentAmount">
                <td class="amountStyle" mat-cell *matCellDef="let element">{{element.accidentAmount|number}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!--Header 工事費 -->
            <ng-container matColumnDef="koujiHi">
                <th class="color-input-1" mat-header-cell *matHeaderCellDef >工事費</th>
            </ng-container>
            <ng-container matColumnDef="constructionCost">
                <td class="amountStyle" mat-cell *matCellDef="let element">{{element.constructionCost|number}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!--Header ハウス材 -->
            <ng-container matColumnDef="houseZai">
                <th class="color-input-1" mat-header-cell *matHeaderCellDef >ハウス材</th>
            </ng-container>
            <ng-container matColumnDef="houseMaterial">
                <td class="amountStyle" mat-cell *matCellDef="let element">{{element.houseMaterial|number}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!--Header 運賃 -->
            <ng-container matColumnDef="unChin">
                <th class="color-input-1" mat-header-cell *matHeaderCellDef>運賃</th>
            </ng-container>
            <ng-container matColumnDef="freightAndPacking">
                <td class="amountStyle" mat-cell *matCellDef="let element">{{element.freightAndPacking|number}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr class="tblGrossOutline" mat-header-row *matHeaderRowDef="mainColumns; sticky: true"></tr>
            <tr class="tblGrossMainBody" mat-row *matRowDef="let row; columns: totalColumns" ></tr>
            <tr class="tblGrossMainFooter" mat-footer-row *matFooterRowDef="totalColumns; sticky: true">
        </table>
    </div>

    <div class="footer-container-gross">
        <div class="SC0080-bottomButton">
            <button mat-button class="btn btn-secondary border mx-1 back-btn" (click)="backToPreviousPage($event)" >閉じる</button>
        </div>
    </div>
</div>