<div *ngIf="isGetting">
    <loading-spinner></loading-spinner>
</div>
<div *ngIf="isInitFlg">
    <div class="grossMainInfo">
        <table class="table-bordered tblGrossMainInfo">
            <thead>
            <tr>
                <th >発注番号</th>
                <th >工事名</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2" style="text-align: center;">{{orderInfo.contractNum}}</td>
                <td >{{orderInfo.constructionKata}}</td>
            </tr>
            <tr>
                <td >{{orderInfo.constructionHira}}</td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="grossInformation" style="margin-top: 20px;">
        <table mat-table [dataSource]="grossProfitData" class="tblGrossDataInfo table table-hover table-bordered">
            <!--Header 契約 -->
            <ng-container matColumnDef="keiyakuNo">
                <th mat-header-cell *matHeaderCellDef >契約</th>            
            </ng-container>
            <ng-container matColumnDef="contractNo">
                <td mat-cell *matCellDef="let element">{{element.contractNo}}</td>
            </ng-container>       

            <!--Header 受注形態 -->
            <ng-container matColumnDef="keiyakuKeitai">            
                <th mat-header-cell *matHeaderCellDef >受注形態</th>
            </ng-container>
            <ng-container matColumnDef="contractKind">
                <td mat-cell *matCellDef="let element">{{element.contractKind}}</td>
            </ng-container>

            <!--Header 枝番 -->
            <ng-container matColumnDef="edaBan">
                <th mat-header-cell *matHeaderCellDef colspan="2">枝番</th>
            </ng-container>
            <ng-container matColumnDef="branch01">
                <td mat-cell *matCellDef="let element">{{element.branch01}}</td>
            </ng-container>
            <ng-container matColumnDef="branch02">            
                <td mat-cell *matCellDef="let element">{{element.branch02}}</td>            
            </ng-container>
            
            
            <!--Header 受注形態 -->
            <ng-container matColumnDef="keiyakuYmd">
                <th mat-header-cell *matHeaderCellDef>契約日</th>            
            </ng-container>
            <ng-container matColumnDef="contractDate">
                <td mat-cell *matCellDef="let element">{{element.contractDate}}</td>
            </ng-container>

            <!--Header 契約金額 -->
            <ng-container matColumnDef="keiyakuKin">
                <th mat-header-cell *matHeaderCellDef >契約金額</th>
            </ng-container>
            <ng-container matColumnDef="contractAmount">
                <td mat-cell *matCellDef="let element">{{element.contractAmount|number}}</td>
            </ng-container>


            <!--Header 発注金額 -->
            <ng-container matColumnDef="hachuuKin">
                <th mat-header-cell *matHeaderCellDef >発注金額</th>
            </ng-container>
            <ng-container matColumnDef="orderAmount">
                <td mat-cell *matCellDef="let element">{{element.orderAmount|number}}</td>
            </ng-container>

            <!--Header 粗利率 -->
            <ng-container matColumnDef="shiritsu">
                <th mat-header-cell *matHeaderCellDef >粗利率</th>
            </ng-container>
            <ng-container matColumnDef="grossProfit">
                <td mat-cell *matCellDef="let element">{{element.grossProfit|percent}}</td>
            </ng-container>

            <!--Header 労災金額 -->
            <ng-container matColumnDef="rousaiKin">
                <th mat-header-cell *matHeaderCellDef >労災金額</th>
            </ng-container>
            <ng-container matColumnDef="accidentAmount">
                <td mat-cell *matCellDef="let element">{{element.accidentAmount|number}}</td>
            </ng-container>

            <!--Header 工事費 -->
            <ng-container matColumnDef="koujiHi">
                <th mat-header-cell *matHeaderCellDef >工事費</th>
            </ng-container>
            <ng-container matColumnDef="constructionCost">
                <td mat-cell *matCellDef="let element">{{element.constructionCost|number}}</td>
            </ng-container>

            <!--Header ハウス材 -->
            <ng-container matColumnDef="houseZai">
                <th mat-header-cell *matHeaderCellDef >ハウス材</th>
            </ng-container>
            <ng-container matColumnDef="houseMaterial">
                <td mat-cell *matCellDef="let element">{{element.houseMaterial|number}}</td>
            </ng-container>

            <!--Header 運賃 -->
            <ng-container matColumnDef="unChin">
                <th mat-header-cell *matHeaderCellDef>運賃</th>
            </ng-container>
            <ng-container matColumnDef="freightRates">
                <td mat-cell *matCellDef="let element">{{element.freightRates|number}}</td>
            </ng-container>

            <!--Header 荷造保管 -->
            <ng-container matColumnDef="nizouHokan">
                <th mat-header-cell *matHeaderCellDef >荷造保管</th>
            </ng-container>
            <ng-container matColumnDef="packingStorage">
                <td mat-cell *matCellDef="let element">{{element.packingStorage|number}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="mainColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: totalColumns" ></tr>
        </table>
    </div>

    <div class="footer-container-gross">
        <div class="SC0080-bottomButton">
            <button mat-button class="btn btn-secondary border mx-1 back-btn" (click)="backToPreviousPage($event)" >閉じる</button>
        </div>
    </div>
</div>