<header>
    <title>{{title}}</title>
</header>
    <div>
        <span style="text-align: center;">
            <h1>{{title}}</h1>
        </span>
    </div>
<div class="table-body">
        <div class="table-container">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="table-str td-b text-center">発注</th>
                        <th class="table-str td-b text-center">仕訳名称</th>
                        <th class="table-str td-b text-center">納品</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of datas" (click)=onSelHighLight($event,data)>
                        <td class="table-str td-b">{{ data.supplierCode }}</td>
                        <td class="table-str td-b">{{ data.journalName }}</td>
                        <td class="table-str td-b">{{ data.delivery }}</td>
                    </tr>                 
                </tbody>
            </table>
        </div>
</div>
<div class='page-footer'>
    <footer>
        <button type="button" class="btn btn-secondary" onClick="location.href='http://localhost:4200/'">閉じる</button>
        <button type="button" class="btn btn-primary" style="float: right;" (click)="onClick($event);" routerLink="/" >選択</button>
    </footer>
</div>

