<header>
    <title>発注明細入力 発注先パターン選択</title>
</header>

<div>
    <div style="width: inherit;">
        <span style="text-align: center;">
            <h1>発注明細入力 発注先パターン選択</h1>
        </span>
    </div>
    <div style="width: 677px; margin: auto;">
    <section class="firstSection">
        <table class="table-hover table-striped ossTable-Shiwake">
            <div>
                <thead>
                    <tr>
                        <td style="width: 30px; height: 45px;"></td>
                        <th style="width: 150px; vertical-align: middle;" class="ossShiwakeKode-1 text-center">パターン名<br></th>
                    </tr>
                </thead>
            </div>
            <div style="height: 207px;" class="tableBody">
                <tbody>
                    <tr>
                        <td style="width: 30px; text-align: center; vertical-align: middle;"><input type="checkbox" id="osscheck" value="oss"></td>
                        <td style="width: 150px;" class="ossShiwakeName">大阪　梅田地区</td>
                    </tr>
                    <tr>
                        <td style="width: 20px; text-align: center; vertical-align: middle;"><input type="checkbox" id="osscheck" value="oss"></td>
                        <td style="width: 150px;" class="ossShiwakeName">大阪　南大阪地区</td>
                    </tr>
                    <tr>
                        <td style="width: 20px; text-align: center; vertical-align: middle;"><input type="checkbox" id="osscheck" value="oss"></td>
                        <td style="width: 150px;" class="ossShiwakeName">大阪　東大阪地区</td>
                    </tr>
                    <tr>
                        <td style="width: 20px; text-align: center; vertical-align: middle;"><input type="checkbox" id="osscheck" value="oss"></td>
                        <td style="width: 150px;" class="ossShiwakeName">戸建（鉄）　大阪</td>
                    </tr>
                    <tr>
                        <td style="width: 20px; text-align: center; vertical-align: middle;"><input type="checkbox" id="osscheck" value="oss"></td>
                        <td style="width: 150px;" class="ossShiwakeName">戸建（ＳＷ）　大阪</td>
                    </tr>
                    <tr>
                        <td style="width: 20px; text-align: center; vertical-align: middle;"><input type="checkbox" id="osscheck" value="oss"></td>
                        <td style="width: 150px;" class="ossShiwakeName"></td>
                    </tr>
                    <tr>
                        <td style="width: 20px; text-align: center; vertical-align: middle;"><input type="checkbox" id="osscheck" value="oss"></td>
                        <td style="width: 150px;" class="ossShiwakeName"></td>
                    </tr>
                    <tr>
                        <td style="width: 20px; text-align: center; vertical-align: middle;"><input type="checkbox" id="osscheck" value="oss"></td>
                        <td style="width: 150px;" class="ossShiwakeName"></td>
                    </tr>
                    <tr>
                        <td style="width: 20px; text-align: center; vertical-align: middle;"><input type="checkbox" id="osscheck" value="oss"></td>
                        <td style="width: 150px;" class="ossShiwakeName"></td>
                    </tr>
                </tbody>
            </div>
        </table>
    </section>

    <section class="secondSection">
        <table class="table-hover table-striped ossTable-Shiwake">
            <div>
                <thead>
                    <tr>
                        <th style="width: 60px;" class="ossShiwakeKode-1 text-center">仕訳<br>コード</th>
                        <th style="width: 60px;" class="ossShiwakeKeiri text-center">経理<br>分類</th>
                        <th style="width: 150px;" class="ossShiwakeName text-center">仕訳名称</th>
                        <th style=" width: 170px;" class="text-center">発注先</th>
                    </tr>
                </thead>
            </div>
            <div style="height: 300px;" class="tableBody">
                <tbody>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; width: 60px;" class="ossShiwakeKode-1">0200</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">040</td>
                        <td style="width: 150px;" class="ossShiwakeName">本体工事</td>
                        <td style="width: 60px;" class="ossShiwakeKeiri">803</td>
                        <td style="width: 110px;" class="ossShiwakeName">積水建設㈱</td>
                    </tr>
                </tbody>
            </div>
        </table>
    </section>
    </div>
    <div class="ossFooter-container">
        <div class="text-left ossFooter">
            <button class="btn btn-secondary border mx-1 back-btn">閉じる</button>
            <div>
                <button class="btn btn-info border mx-1">選択(F12)</button>
            </div>
        </div>
    </div>
</div>