table {
    width: 100%;
    overflow: auto;
}

th .mat-sort-header-sorted {
    color: black;
}

.detail-table {
    width: 100%;
    min-width: 1200px;
    position: relative;
    margin: 0;
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
}

th {
    background-color: #FFFFFF !important;
    border-top: 0.5px solid #CCD0D5;
}

th,
td {
    padding-left: 5px !important;
    border-collapse: collapse;
    border-bottom: 0.5px solid #CCD0D5;
    border-right: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
}

.color-approval-1 {
    background-color: #FDE9D9 !important;
}

.color-approval-2 {
    background-color: #C5D9F1 !important;
}

.color-approval-3 {
    background-color: #EBF1DE !important;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0 !important;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}

mat-paginator {
    display: flex !important;
    justify-content: center !important;
}

.mat-paginator-navigation-first {
    order: 1 !important;
}

.mat-paginator-navigation-previous {
    order: 2 !important;
}

.mat-paginator-range-label {
    order: 4 !important;
}

.mat-paginator-navigation-next {
    order: 5 !important;
}

.mat-paginator-navigation-last {
    order: 6 !important;
}

mat-paginator.mat-button,
mat-paginator.mat-flat-button,
mat-paginator.mat-icon-button,
mat-paginator.mat-stroked-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0 !important;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}


/* .keiyaku-bango {
    color: blue !important;
}

.keiyaku-bango ::after {
    color: blue;
} */