/**************** Search Zone ************************/

.search-area {
    width: 100%;
    min-width: 361px;
    background-color: transparent;
    border: #CCD0D5 0.5px solid;
    padding: 10px 10px 10px 20px;
}

.search-area>div>input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
    line-height: 20px;
}

.search-area>.row{
    height: 30px;
}

.input-group-text {
    color: black;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    font-size: 1rem !important;
}


/********* Radio Button and CheckBox*************/

.radioCheckbox {
    margin-right: 20px;
    margin-top: 13px;
    margin-bottom: 10px;
}


/********************* Page Footer *************************/

.footer-container-approval {
    position: fixed;
    display: inline-block;
    bottom: 0;
    padding-bottom: 12.5px;
    z-index: 2;
    width: 100%;
}

.btn {
    white-space: nowrap;
    }

.autoMargin{
    margin: auto;
}

/* .footer {
    display: fixed;
    background-color: #F5F5F5;
} */

.footer>.back-btn {
    display: inline-block;
    width: 120px !important;
}

/* .mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0 !important;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0; 
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
} */

.SC0010-bottomButton {
    position: fixed;
    z-index: 2;
    bottom: 8px;
    white-space: nowrap;
}

#contractNumFrom, #contractNumTo{
    width: 10%;
}

#propertyName{
    width: 23%;
}
