/**************** Search Zone ************************/
.search-area {
    width: 100%;
    min-width: 361px;
    background-color: transparent;
    border: #CCD0D5 0.5px solid;
    padding: 10px 10px 10px 20px;
}

.search-area>div>input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
    line-height: 20px;
}

.row{
    height: 30px;
}

.input-group-text {
    color: black;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    font-size: 1rem !important;
    height: 30px;
    width: 80px;
    text-align: right;
}


/********* Radio Button and CheckBox*************/

.radioCheckbox {
    margin-right: 20px;
    height: 30px;
    margin-top: 5px;
}


/********************* Page Footer *************************/

.footer-container-approval {
    position: fixed;
    display: inline-block;
    bottom: 0;
    padding-bottom: 12.5px;
    z-index: 2;
    width: 100%;
}

.btn {
    white-space: nowrap;
    }

.autoMargin{
    margin: auto;
}

.footer>.back-btn {
    display: inline-block;
    width: 120px !important;
}

.SC0010-bottomButton {
    position: fixed;
    z-index: 2;
    bottom: 5px;
    white-space: nowrap;
}

#contractNumFrom, #contractNumTo{
    width: 10%;
}

#propertyName{
    width: 23%;
}

.btnSearch{
    height: 30px !important;
    width: 60px !important;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}