<div id="orderDetailApproval">
    <section id="search-input" class="search-area">
        <div class="input-group">
            <div class="input-group-prepend">
                <p class="input-group-text" style="width: 80px; text-align: right;">契約番号</p>
            </div>
            <input [(ngModel)]="inputment.contractNumFrom" id="contractNumFrom" type="text">
            <div style="width: 30px; text-align: center;">
                <p style="margin-top: 9px; margin-bottom: 9px;">~</p>
            </div>
            <input [(ngModel)]="inputment.contractNumTo" id="contractNumTo" type="text">
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <p class="input-group-text" style="width: 80px; text-align: right;">物件名</p>
            </div>
            <input [(ngModel)]="inputment.propertyName" id="propertyName" type="text">
            <div style="width: 30px;"></div>
            <div class="input-group-append radio-container ">
                <p class="radioCheckbok">
                    <input [value]="true" [(ngModel)] ="inputment._checked" type="radio" name="options" id="startFromName" autocomplete="off">で始まる</p>
                <div style="width: 20px;"></div>
                <p class="radioCheckbok">
                    <input [value]="false" [(ngModel)] ="inputment._checked
                    " type="radio" name="options" id="includeProName" autocomplete="off">を含む</p>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <p class="input-group-text" style="width: 80px;text-align: right;">明細作成</p>
            </div>
            <div style="width: 50px; "></div>
            <div class="input-group-append">
                <p class="radioCheckbok"><input [(ngModel)]="inputment.detailNone" type="checkbox" id="detailNone" autocomplete="off">明細作成なし</p>
                <div style="width: 20px; "></div>
                <p class="radioCheckbok"><input [(ngModel)]="inputment.detailCreated" type="checkbox" id="detailCreated" autocomplete="off">明細作成あり</p>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <p class="input-group-text" style="width: 80px; text-align: right;">未承認</p>
            </div>
            <div style="width: 50px; "></div>
            <div class="input-group-append">
                <p class="radioCheckbok"><input [(ngModel)]="inputment.approval_1" type="checkbox" id="" autocomplete="off">承認１</p>
                <div style="width: 20px; "></div>
                <p class="radioCheckbok"><input [(ngModel)]="inputment.approval_2" type="checkbox" id="" autocomplete="off">承認２</p>
            </div>
        </div>
        <div style="text-align: right; width: 100%; ">
            <button mat-button class="btn btn-primary" type="submit" (click)="getSearchRequest()">検索</button>
            <div style="width: 50px; "></div>
        </div>
    </section>
    <div style="margin-top:5px">
        <p>結果件数：{{orderDetailData?.length|number}}件</p>
    </div>
    <section id="data-display" style="margin-bottom: 5px;">
        <order-detail-approval-table [resultData]="orderDetailData"></order-detail-approval-table>
    </section>
</div>
<br>
<div class="footer-container ">
    <div class="text-left bottomButton ">
        <button mat-button id="btnClose " class="btn btn-secondary border mx-1 back-btn ">閉じる</button>
    </div>
</div>