<div id="orderDetailApproval">
    <section class="search-area form-group">
        <div class="input-group row" style="height: 30px;">
            <div class="input-group-prepend">
                <p class="input-group-text" style="width: 80px; text-align: right;">契約番号</p>
            </div>
            <input [(ngModel)]="inputment.contractNumFrom" id="contractNumFrom" type="text" maxlength='11' pattern="^[0-9]+$" #contractNumFrom (keyup.enter)="toFromHalf(contractNumFrom.value)"(blur)="toFromHalf(contractNumFrom.value)">
            <div style="width: 30px; text-align: center;">
                <p style="margin-top: 9px; margin-bottom: 9px;">~</p>
            </div>
            <input [(ngModel)]="inputment.contractNumTo" id="contractNumTo" type="text" maxlength='11' pattern="^[0-9]+$" #contractNumTo (keyup.enter)="toNumToHalf(contractNumTo.value)"(blur)="toNumToHalf(contractNumTo.value)">
        </div>

        <div class="input-group row" style="height: 30px;">
            <div class="input-group-prepend">
                <p class="input-group-text" style="width: 80px; text-align: right;">物件名</p>
            </div>
            <input [(ngModel)]="inputment.propertyName" id="propertyName" type="text"  maxlength='20' pattern="[\u30A1-\u30F6]*,[\uFF10-\uFF19]*,[\uFF21-\uFF3A]*,[\uFF41-\uFF5A]*" #propertyName (keyup.enter)="toZenkaku(propertyName.value)"(blur)="toZenkaku(propertyName.value)">
            <div style="width: 30px;"></div>
            <div class="input-group-append radio-container ">
                <p class="radioCheckbok">
                    <input [value]="true" [(ngModel)] ="inputment._checked" type="radio" name="options" id="startFromName" autocomplete="off">で始まる</p>
                <div style="width: 20px;"></div>
                <p class="radioCheckbok">
                    <input [value]="false" [(ngModel)] ="inputment._checked
                    " type="radio" name="options" id="includeProName" autocomplete="off">を含む</p>
            </div>
        </div>
        <div class="input-group row" style="height: 30px;">
            <div class="input-group-prepend">
                <p class="input-group-text" style="width: 80px;text-align: right;">明細作成</p>
            </div>
            <div style="width: 50px; "></div>
            <div class="input-group-append">
                <p class="radioCheckbok"><input [(ngModel)]="inputment.detailNone" type="checkbox" id="detailNone" autocomplete="off">明細作成なし</p>
                <div style="width: 20px; "></div>
                <p class="radioCheckbok"><input [(ngModel)]="inputment.detailCreated" type="checkbox" id="detailCreated" autocomplete="off">明細作成あり</p>
            </div>
        </div>
        <div id = "btnSearch" class="input-group row" style="height: 30px;">
            <div class="input-group-prepend ">
                <p class="input-group-text" style="width: 80px; text-align: right;">未承認</p>
            </div>
            <div style="width: 50px;"></div>
            <div class="input-group-append">
                <p class="radioCheckbok"><input [(ngModel)]="inputment.approval_1" type="checkbox" id="" autocomplete="off">承認１</p>
                <div style="width: 20px; "></div>
                <p class="radioCheckbok"><input [(ngModel)]="inputment.approval_2" type="checkbox" id="" autocomplete="off">承認２</p>
            </div>
            <div [style.width.px]="pixel">
                <button style="margin-top: 5px;" class="btn btn-primary float-right" type="submit" (click)="getSearchRequest()">検索</button>
            </div>
        </div>
    </section>
    <div style="margin-top:5px; height: 30px;">
        <p>結果件数：{{orderDetailData?.length|number}}件</p>
    </div>
    <section id="data-display" style="margin-bottom: 5px;">
        <order-detail-approval-table [resultData]="orderDetailData"></order-detail-approval-table>
    </section>
</div>
<div class="footer-container-approval ">
    <div class="text-left bottomButton ">
        <button type="button" class="btn btn-secondary" (click)="onCloseClick();">閉じる</button>
    </div>
</div>