/**************** Search Zone ************************/

.search-area {
    width: 100%;
    /*min-width: 1200px;*/
    background-color: transparent;
    border: #CCD0D5 0.5px solid;
    padding: 10px;
}

.search-area>div>input {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
    line-height: 20px;
}

.search-area>.row{
    height: 30px;
}

.input-group-text {
    color: black;
    font-weight: bolder;
    background-color: transparent;
    border: none;
    font-size: 1rem !important;
}


/********* Radio Button and CheckBox*************/

.radioCheckbox {
    margin-right: 20px;
    margin-top: 13px;
    margin-bottom: 10px;
}


/********************* Page Footer *************************/

.footer-container-approval {
    position: fixed;
    display: inline-block;
    bottom: 0;
    padding-bottom: 12.5px;
    z-index: 2;
}

/* .footer {
    display: fixed;
    background-color: #F5F5F5;
} */

.footer>.back-btn {
    display: inline-block;
    width: 120px !important;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0 !important;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}

.bottomButton {
    position: fixed;
    z-index: 2;
    bottom: 5px;
}

#contractNumFrom, #contractNumTo{
    width: 150px;
}

#propertyName{
    width: 330px;
}

.overlay {
    position: fixed;
    display: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle !important;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width: 100%;
    /* color: gray; */
    color:#305496;
    /* background-color: rgba(0,0,0,0.5); */
    background-color: white;
    z-index: 9999;
  }

  .loader {
    position: relative !important;
    border: 16px solid #f3f3f3 !important;
    border-top: 16px solid #4055ae !important;
    border-radius: 50% !important;
    width: 120px !important;
    height: 120px !important;
    animation: spin 1s linear infinite !important;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .loader-text {
    display: block;
    /* color: #f3f3f3; */
    color:#305496;
    margin-top: 1em;
  }