<div>
    <mat-tab-group>
        <mat-tab label="{{ tabName }}">
            <split-detail-table #ShiwakeData [shiwakeData]="shiwakeData" [amountDeference]="getAmountDeference()"
                [totalSplitAmount]="totalAmount()">
            </split-detail-table>
            <div class="bunkatsu-table-responsive" style="margin: 20px 0">
                <table mat-table [dataSource]="bunkatsuData"
                    class="bunkatsu-table table table-hover table-sm table-bordered" id="bunkatsuTable">
                    <!--Header 番号 -->
                    <ng-container matColumnDef="no">
                        <th style="width: 50px; padding: 0" class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2"></th>
                    </ng-container>
                    <!-- Body 番号 -->
                    <ng-container matColumnDef="index">
                        <th style="padding: 0" class="" mat-header-cell *matHeaderCellDef></th>
                        <td style="width: 50px; padding: 0 5px" class="tdRight" mat-cell *matCellDef="let element">{{bunkatsuData.indexOf(element) + 1 }}</td>
                    </ng-container>

                    <!--Header 発注予定金額 -->
                    <ng-container matColumnDef="orderPlanAmount">
                        <th style="width: 100px" class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">発注予定金額</th>
                    </ng-container>
                    <!-- Body 発注予定金額 -->
                    <ng-container matColumnDef="orderPlanAmount1">
                        <th style="width: 100px" class="" mat-header-cell *matHeaderCellDef></th>
                        <td style="width: 100px" class="tdRight" mat-cell *matCellDef="let element">{{ element.orderSplitAmount | number }}</td>
                    </ng-container>

                    <!--Header コメント -->
                    <ng-container matColumnDef="comment">
                        <th style="width: 190px !important" class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">コメント</th>
                    </ng-container>
                    <!-- Body コメント -->
                    <ng-container matColumnDef="comment1">
                        <th style="width: 190px !important" class="comment" mat-header-cell *matHeaderCellDef></th>
                        <td style="width: 190px !important" class="tdLeft comment" mat-cell *matCellDef="let element">{{ element.comment }}</td>
                    </ng-container>

                    <!--Header 依頼 -->
                    <ng-container matColumnDef="irai">
                        <th style="width: 175px" class="color-input-2" mat-header-cell *matHeaderCellDef [attr.colSpan]="2">依頼</th>
                    </ng-container>
                    <!-- Body 依頼日 -->
                    <ng-container matColumnDef="requestDate">
                        <th style="padding: 0 5px" class="color-input-1 sticky" mat-header-cell *matHeaderCellDef>依頼</th>
                        <td style="width: 75px" class="tdCenter" mat-cell *matCellDef="let element">{{ element.requestDate }}</td>
                    </ng-container>
                    <!-- Body 依頼者 -->
                    <ng-container matColumnDef="requester">
                        <th class="color-input-1 sticky" mat-header-cell *matHeaderCellDef>依頼者</th>
                        <td style="width: 100px; text-align: center" mat-cell *matCellDef="let element; let i = index">
                            <label *ngIf="element.requester != ''">{{element.requester}}</label>
                            <button *ngIf="element.requester == ''" id="btnIrai{{i}}" (click)="mainTableRequest($event, element)" mat-button class="btn btn-outline-primary">依頼</button>
                        </td>
                    </ng-container>

                    <!--Header 承認１ -->
                    <ng-container matColumnDef="shounin_1">
                        <th style="width: 175px" class="color-input-3" mat-header-cell *matHeaderCellDef [attr.colSpan]="2">承認１</th>
                    </ng-container>
                    <!-- Body 承認日１ -->
                    <ng-container matColumnDef="approvalDate_lv1">
                        <th class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認日</th>
                        <td style="width: 75px" class="tdCenter" mat-cell *matCellDef="let element">{{ element.approvalDate_lv1 }}</td>
                    </ng-container>
                    <!-- Body 承認者２ -->
                    <ng-container matColumnDef="approvalPerson_lv1">
                        <th class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認者</th>
                        <td style="width: 100px" class="tdCenter" mat-cell *matCellDef="let element">{{ element.approvalPerson_lv1 }}</td>
                    </ng-container>

                    <!--Header 承認２ -->
                    <ng-container matColumnDef="shounin_2">
                        <th style="width: 175px" class="color-input-3" mat-header-cell *matHeaderCellDef [attr.colSpan]="2">承認２</th>
                    </ng-container>
                    <!-- Body 承認日２ -->
                    <ng-container matColumnDef="approvalDate_lv2">
                        <th class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認日</th>
                        <td style="width: 75px" class="tdCenter" mat-cell *matCellDef="let element">{{ element.approvalDate_lv2 }}</td>
                    </ng-container>
                    <!-- Body 承認者２ -->
                    <ng-container matColumnDef="approvalPerson_lv2">
                        <th class="color-input-4 sticky" style="padding: 0 5px" mat-header-cell *matHeaderCellDef>承認者</th>
                        <td style="width: 100px" class="tdCenter" mat-cell *matCellDef="let element">{{ element.approvalPerson_lv2 }}</td>
                    </ng-container>

                    <!--Header 発注 -->
                    <ng-container matColumnDef="order">
                        <th style="width: 175px" class="color-input-5" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2" [attr.colSpan]="2">発注</th>
                    </ng-container>
                    <!-- Body 発注日 -->
                    <ng-container matColumnDef="orderDate">
                        <th style="width: 75px" class="" mat-header-cell *matHeaderCellDef></th>
                        <td style="width: 75px" class="tdCenter" mat-cell *matCellDef="let element">{{ element.orderDate }}</td>
                    </ng-container>
                    <!-- Body 発注金額 -->
                    <ng-container matColumnDef="orderAmount">
                        <th style="width: 100px" class="" mat-header-cell *matHeaderCellDef></th>
                        <td style="width: 100px" class="tdRight" mat-cell *matCellDef="let element">{{ element.orderAmount | number }}</td>
                    </ng-container>

                    <!--Header 受入 -->
                    <ng-container matColumnDef="received">
                        <th style="width: 175px" class="color-input-5" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2" [attr.colSpan]="2">受入</th>
                    </ng-container>
                    <!-- Body 受入日 -->
                    <ng-container matColumnDef="receivedDate">
                        <th style="width: 75px" class="" mat-header-cell *matHeaderCellDef></th>
                        <td style="width: 75px" class="tdCenter" mat-cell *matCellDef="let element">{{ element.receivedDate }}</td>
                    </ng-container>
                    <!-- Body 受入金額 -->
                    <ng-container matColumnDef="receivedAmount">
                        <th style="width: 100px" class="" mat-header-cell *matHeaderCellDef></th>
                        <td style="width: 100px" class="tdRight" mat-cell *matCellDef="let element">{{ element.receivedAmount | number }}</td>
                    </ng-container>

                    <!--Header 支払 -->
                    <ng-container matColumnDef="payment">
                        <th style="width: 175px" class="color-input-5" style="padding: 0 5px" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2" [attr.colSpan]="2">支払</th>
                    </ng-container>
                    <!-- Body 支払日 -->
                    <ng-container matColumnDef="paymentDate">
                        <th style="width: 75px" class="" mat-header-cell *matHeaderCellDef></th>
                        <td style="width: 75px" class="tdCenter" mat-cell *matCellDef="let element">{{ element.paymentDate }}</td>
                    </ng-container>
                    <!-- Body 支払金額 -->
                    <ng-container matColumnDef="paymentAmount">
                        <th style="width: 100px" mat-header-cell *matHeaderCellDef></th>
                        <td style="width: 100px" class="tdRight" mat-cell *matCellDef="let element">{{ element.paymentAmount | number }}</td>
                    </ng-container>

                    <tr style="height: 30px" mat-header-row *matHeaderRowDef="headerColspan"></tr>
                    <tr style="height: 30px" mat-header-row *matHeaderRowDef="bunkatsuColumnsName"></tr>
                    <tr mat-row *matRowDef="let row; columns: totalColumns" (click)="selectRow($event, row)"></tr>
                </table>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<div class="add-div">
    <table class="tsuika-table table table-bordered">
        <thead>
            <tr>
                <th class="color-input-1" style="width: 25%" rowspan="2">
                    発注予定金額
                </th>
                <th class="color-input-1" style="width: 25%" rowspan="2">コメント</th>
                <th class="color-input-2" style="width: 50%" colspan="2">依頼</th>
            </tr>
            <tr>
                <th class="color-input-1">依頼日</th>
                <th class="color-input-1">依頼者</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input maxlength="11" class="splitAmount" id="txtSplitAmount" [(ngModel)]="input.orderSplitAmount"
                        type="tel" (focus)="commonFocus($event)" (blur)="commonBlur($event)" />
                </td>
                <td>
                    <input style="width: 190px !important; text-align: right" maxlength="12" [(ngModel)]="input.comment"
                        type="text" />
                </td>
                <td style="text-align: center !important">{{ input.requestDate }}</td>
                <td style="text-align: center !important">
                    {{ input.requester }}
                    <button id="btnSubIrai" style="padding: 0; margin: 0" (click)="subTableRequest($event)" mat-button
                        class="btn btn-outline-primary btn-small">依頼</button>
                </td>
            </tr>
        </tbody>
    </table>

    <section>
        <div style="position: relative; margin: 20px 0 50px 0">
            <div style="float: left">
                <button mat-button class="btn btn-success border mx-1 back-btn" disabled="{{ btnTsuika }}"
                    (click)="insertBunkatsuOrderDetail($event)">明細追加</button>
            </div>

            <div style="float: left">
                <button mat-button class="btn btn-info border mx-1 back-btn" disabled="{{ btnHenkou }}"
                    (click)="updateBunkatsuOrderDetail($event)">明細更新</button>
            </div>

            <div>
                <button mat-button class="btn btn-danger border mx-1 back-btn" disabled="{{ btnChuushi }}"
                    (click)="stopModifyDetail($event)">中止</button>
            </div>

            <div style="position: absolute; top: 0; left: 400px">
                <button mat-button class="btn btn-danger border mx-1 back-btn" disabled="{{ btnSakujo }}"
                    (click)="deleteOrderDetail($event)">明細削除</button>
            </div>
        </div>
    </section>
</div>

<div class="footer-container-split">
    <div style="margin: 5px 0 0 0">
        <button mat-button class="btn btn-secondary border mx-1 back-btn" (click)="backToOrderDetailInput($event)">
            閉じる
        </button>
    </div>
</div>