/********************* Page Footer *************************/

.footer-container {
    /* position: fixed; */
    /* position: relative; */
    display: inline-block;
    bottom: 0;
    padding-bottom: 12.5px;
    z-index: 2;
    width: 100%;
}

.footer {
    position: relative;
    /* display: fixed; */
    background-color: #F5F5F5;
    z-index: 1;
}

.footer>.back-btn {
    display: inline-block;
    width: 120px;
}

.mat-footer-cell {
    background-color: #e0e0e0;
}

tr.mat-footer-row {
    font-weight: bold;
    word-break: keep-all;
}

.table-Shiwake>thead>tr {
    text-align: center;
}

.table-Shiwake>tbody {
    height: 250px !important;
    overflow-y: scroll;
    overflow: auto;
}

.table-Shiwake {
    height: 250px;
    max-width: 40%px;
    position: relative;
    margin: 0;
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
}

.table-Shiwake>tbody>tr>td,
.table-Detail>tbody>tr>td {
    border: 0.5px solid #CCD0D5;
}

.table-Detail {
    height: 250px;
    max-width: 50%;
    margin: 0;
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
}


/*  -----------------タブのスタイル---------------------------  */

.mat-tab-label {
    min-width: 25px !important;
    max-width: 50px !important;
    padding: 5px;
    background-color: transparent;
    color: black;
    font-weight: 700;
    text-align: center;
}

.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    max-width: 60px !important;
    padding: 5px;
    background-color: #305496;
    color: white;
    font-weight: 700;
    text-align: center;
}

.mat-ink-bar {
    background-color: transparent;
}

.color-input-1 {
    background-color: #C5D9F1 !important;
    word-break: keep-all;
    white-space: nowrap;
    text-align: center !important;
    vertical-align: middle !important;
}
.color-input-2 {
    background-color: #95B3D7 !important;
    text-align: center !important;
    vertical-align: middle !important;
    word-break: keep-all;
    white-space: nowrap;
}

.color-input-3 {
    background-color: #FABF8F !important;
    text-align: center !important;
    vertical-align: middle !important;
    word-break: keep-all;
    white-space: nowrap;
}

.color-input-4 {
    background-color: #FDE9D9 !important;
    text-align: center !important;
    vertical-align: middle !important;
    word-break: keep-all;
    white-space: nowrap;
}

.color-input-5 {
    background-color: #C4D79B !important;
    text-align: center !important;
    vertical-align: middle !important;
    word-break: keep-all;
    white-space: nowrap;
}

.tdRight {
    text-align: right;
    padding: 5px !important;
    word-break: keep-all;
    white-space: nowrap;
    
}

.tdLeft {
    text-align: left;
    padding: 5px !important;
    word-break: keep-all;
    white-space: nowrap;
    
}

.tdCenter {
    text-align: center;
    padding: 5px !important;
    word-break: keep-all;
    white-space: nowrap;
}

.mat-elevation-z8 {
    position: relative;
}

.split-shiwake-table {
    position: relative;
}

.add-div {
    position: relative;
}

.add-table {
    position: relative;
    width: 500px;
}

.tdInput {
    text-align: center;
    padding: 5px !important;
    word-break: keep-all;
    white-space: nowrap;
    width: 125px;
}

input {
    width: 100%;
    border: 0;
}


/*  ----------------------------------------------------------------  */