/*************************************************************/
/*****                                                    ****/
/*****                     MAT TAB                        ****/
/*****                                                    ****/
/*****                     タブの設定                      ****/
/*************************************************************/
.shiwake-tab-group {
    min-width: 684px;
}

.mat-tab-label {
    min-width: 25px !important;
    width: fit-content !important;
    padding: 3px ;
    background-color: #cccccc ;
    color: black ;
    font-weight: 700 ;
    text-align: center ;
    margin: 0 !important;
    padding: 10px 10px 10px 10px !important;
}

.mat-tab-label-active {
    min-width: 25px ;
    width: fit-content !important;
    padding: 3px ;
    background: #305496 ;
    color: #fff ;
    font-weight: 700 ;
    text-align: center ;
    border-radius: 0px;
}

.mat-ink-bar {
    background: #305496 ;
    width: auto !important ;
    height: 5px !important;
}

.shiwake-contents {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

/*************************************************************/
/*****                                                    ****/
/*****                 PAGE FOOTER                        ****/
/*****                                                    ****/
/*************************************************************/
.footer-container-split {
    position: fixed;
    display: inline-block;
    bottom: 0;
    padding-bottom: 0;
    z-index: 2;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.footer>.back-btn {
    display: inline-block;
    width: 120px;
}
.mat-footer-cell {
    background-color: #e0e0e0;
}
/*************************************************************/
/*****                                                    ****/
/*****                 TSUIKA-TABLE                       ****/
/*****                                                    ****/
/*****             分割明細を追加するテーブル.            ****/
/*************************************************************/
.tsuika-table {
    position: relative;
    width: 475px;
}

.tsuika-table>tbody>tr>td>input {
    /* margin: 0; */
    width: 100%;
    border: 0;
}

.tsuika-table>thead>tr>th {
    height: 30px;
    padding: 0;
}
.tsuika-table>tbody>tr>td {
    height: 36px !important;
    vertical-align: middle !important;
    padding: 0;
    margin: 15px 15px 15px 15px !important;
}

.splitAmount{
    text-align: right;
}

#btnSubIrai{
    height: 35px !important;
    text-align: center;
    vertical-align: middle !important;
    line-height: 0;
    margin: 0;
}

/*************************************************************/
/*****                                                    ****/
/*****                 BUNKATSU-TABLE                     ****/
/*****                                                    ****/
/*****             分割データを表示するテーブル.              ****/
/*************************************************************/
.bunkatsu-table {
    width: 1436px;
    display: block;
    position: relative;
    box-shadow: -1px 0px 0px 0px #dee2e6 inset;
    margin: 0px;
}

.bunkatsu-table>thead>tr>th {
    top: 0px;
    position: sticky;
    border: 0px !important;
    box-shadow: 0.5px 0px 0px 0px #dee2e6 inset, 0px -0.5px 0px 0px #dee2e6 inset, 0px 0.5px 0px 0px #dee2e6 inset;
}

.bunkatsu-table>tbody>tr>td {
    vertical-align: middle !important;
    border: 0px !important;
    box-shadow: 0.5px -0.5px 0px 0.5px #dee2e6 inset;
}
.bunkatsu-table>tbody>tr>td>label {
    margin: 0;
    padding: 0;
}

.bunkatsu-table>tfoot>tr.mat-footer-row {
    font-weight: bold;
    word-break: keep-all;
}
.bunkatsu-table>tfoot>tr>td {
    padding-top: 20px !important;
    padding-right: 5px !important;
    text-align: right;
}
.bunkatsu-table>tfoot>tr>td.goukie {
    padding-left: 10px;
    text-align: center;
}
.btn-outline-success,
.btn-outline-primary{
    height: 35px !important;
}

.bunkatsu-table>tbody>tr.mat-row {
    height: 31px;
}

/*************************************************************/
/*****                                                    ****/
/*****                 BUNKATSU-TABLE                     ****/
/*****                                                    ****/
/*****              カラムの背景色を設定する              ****/
/*************************************************************/
.color-input-1 {
    background-color: #C5D9F1 ;
    text-align: center !important;
    vertical-align: middle !important;
    white-space: nowrap;
}
.color-input-2 {
    background-color: #95B3D7 ;
    text-align: center !important;
    vertical-align: middle !important;
    white-space: nowrap;
}

.color-input-3 {
    background-color: #FABF8F ;
    text-align: center !important;
    vertical-align: middle !important;
    white-space: nowrap;
}

.color-input-4 {
    background-color: #FDE9D9 ;
    text-align: center !important;
    vertical-align: middle !important;
    white-space: nowrap;
}

.color-input-5 {
    background-color: #C4D79B ;
    text-align: center !important;
    vertical-align: middle !important;
    white-space: nowrap;

}
.comment{
    text-align: right;
    word-break: keep-all !important;
    white-space: nowrap;
}

.tdRight {
    text-align: right;
    padding: 5px !important;
    white-space: nowrap;
}

.tdLeft {
    text-align: left;
    padding: 5px ;
    white-space: nowrap;
    
}

.tdCenter {
    text-align: center;
    padding: 5px ;
    white-space: nowrap;
}

/*************************************************************/
/*****                                                    ****/
/*****                    TABLE HEADER                    ****/
/*****                                                    ****/
/*****                                                    ****/
/*************************************************************/

.mat-header-cell {
    text-align: center !important;
    position: sticky;
}

.bunkatsu-table-responsive .mat-cell,
.bunkatsu-table-responsive .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

/*************************************************************/
/*****                                                    ****/
/*****                      TABLE BODY                    ****/
/*****                                                    ****/
/*****                                                    ****/
/*************************************************************/
.bunkatsu-table-responsive {
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 302px;
    min-width: 820px;
}

/*************************************************************/
/*****                                                    ****/
/*****                   TABLE SCROLL                     ****/
/*****            テーブルをスクロールする時、            ****/
/*****           ヘッダーとフォッターを固定させる         ****/
/*************************************************************/

.bunkatsu-table-responsive>table>thead>tr>th {
    top: 0px;
    position: sticky;
    z-index: 100;
}

.sticky {
    top: 30px !important;
}

.add-div {
    position: relative;
}

.add-div>table>tbody>tr {
    min-height: 40px;
}

/*************************************************************/
/*****                                                    ****/
/*****                  SHIWAKE-TABLE                     ****/
/*****                                                    ****/
/*****                                                    ****/
/*************************************************************/
.shiwake-table {
    width: 821px;
}

.shiwake-table>thead>tr>th {
    height: 30px;
}

.shiwake-table>tbody>tr.mat-row {
    height: 30px;
    vertical-align: middle !important;
}

.shiwake-table>thead>tr>th {
    border: 1px solid #dee2e6 !important;
}

.shiwake-table>tbody>tr>td {
    border: 1px solid #dee2e6 !important;
}

.SC0060-bottomButton {
    position: fixed;
    z-index: 2;
    bottom: 5px;
    white-space: nowrap;
}