<div *ngIf="isInitFlg">
    <div>
        <mat-tab-group class="shiwake-tab-group" disableRipple = "true">
            <mat-tab label="{{ tabName }}">
                <split-detail-table #ShiwakeData [shiwakeData]="shiwakeData" [amountDeference]="getAmountDeference()"
                    [totalSplitAmount]="totalAmount()" [bunkatsuCheckBox]="orderReceiptCheckStt">
                </split-detail-table>
                <div class="bunkatsu-table-responsive" style="margin-top: 20px;">
                    <table mat-table [dataSource]="bunkatsuData" class="bunkatsu-table table table-hover table-sm"
                        id="bunkatsuTable">
                        <!--Header 番号 -->
                        <ng-container matColumnDef="no">
                            <th style="min-width: 26px; width: 26px; padding: 0" class="color-input-1" mat-header-cell *matHeaderCellDef
                                [attr.rowSpan]="2"></th>
                        </ng-container>
                        <!-- Body 番号 -->
                        <ng-container matColumnDef="index">
                            <th style="padding: 0" class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="min-width: 26px; width: 26px; padding: 0 5px" class="tdCenter" mat-cell *matCellDef="let element">
                                {{bunkatsuData.indexOf(element) + 1 }}</td>
                        </ng-container>

                        <!--Header 発注予定金額 -->
                        <ng-container matColumnDef="orderPlanAmount">
                            <th style="width: 120px; min-width: 120px;" class="color-input-1" mat-header-cell *matHeaderCellDef
                                [attr.rowSpan]="2">発注予定金額</th>
                        </ng-container>
                        <!-- Body 発注予定金額 -->
                        <ng-container matColumnDef="orderPlanAmount1">
                            <th style="width: 120px; min-width: 120px;" class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 120px; min-width: 120px;" class="tdRight" mat-cell *matCellDef="let element">
                                {{ element.orderSplitAmount | number }}</td>
                        </ng-container>

                        <!--Header 発注分割発注先コード -->
                        <ng-container matColumnDef="bunkatsuHachuuSaki">
                            <th style="width: 260px; min-width: 260px;" class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2" [attr.colSpan] ="2">発注先</th>
                        </ng-container>

                        <!--分割注文書発行区分-->
                        <ng-container matColumnDef="bunkatsuChumon">
                            <th style="min-width: 20px; width: 20px; " class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">注</th>
                        </ng-container>

                        <!-- Body 発注分割発注先名称 -->
                        <ng-container matColumnDef="splitSupplierCode">
                            <td style="width: 40px; min-width: 40px;" class="tdRight" mat-cell *matCellDef="let element">{{element.splitSupplierCode}}</td>
                        </ng-container>
                        <!-- Body 発注分割発注先名称 -->
                        <ng-container matColumnDef="splitSupplierName">
                            <td style="width: 220px; min-width: 220px;" class="tdRight" mat-cell *matCellDef="let element">{{element.splitSupplierName}}</td>
                        </ng-container>

                        <!--分割注文書発行区分-->
                        <ng-container matColumnDef="splitOrderReceipt">
                            <th style="min-width: 20px; width: 20px; " class="color-input-1" mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <input type="checkbox" value="" [checked]="element.splitOrderReceipt == '8'" (change)="mainTableCheckBoxChange($event, element)">
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <!--Header コメント -->
                        <ng-container matColumnDef="comment">
                            <th style="width: 180px; min-width: 180px;" class="color-input-1" mat-header-cell *matHeaderCellDef
                                [attr.rowSpan]="2">コメント</th>
                        </ng-container>
                        <!-- Body コメント -->
                        <ng-container matColumnDef="comment1">
                            <th style="width: 180px; min-width: 180px;" class="comment" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 180px; min-width: 180px;" class="tdLeft comment" mat-cell
                                *matCellDef="let element">{{ element.comment }}</td>
                        </ng-container>

                        <!--Header 依頼 -->
                        <ng-container matColumnDef="irai">
                            <th style="width: 75px; min-width: 75px;" class="color-input-2" mat-header-cell *matHeaderCellDef>依頼</th>
                        </ng-container>
                        <!-- Body 依頼日 -->
                        <ng-container matColumnDef="requestDate">
                            <th style="padding: 0 5px" class="color-input-1 sticky" mat-header-cell *matHeaderCellDef>依頼日
                            </th>
                            <td style="width: 75px; min-width: 75px; text-align: center" mat-cell
                                *matCellDef="let element; let i = index">
                                <label *ngIf="element.requestDate != ''">{{element.requestDate}}</label>
                                <button *ngIf="element.requestDate == ''" id="btnIrai{{i}}"
                                    (click)="mainTableRequest($event, element)" mat-button
                                    class="btn btn-outline-primary" tabindex="1">依頼</button>
                            </td>
                        </ng-container>

                        <!--Header 承認１ -->
                        <ng-container matColumnDef="shounin_1">
                            <th style="width: 75px; min-width: 75px;" class="color-input-3" mat-header-cell *matHeaderCellDef>承認１</th>
                        </ng-container>
                        <!-- Body 承認日１ -->
                        <ng-container matColumnDef="approvalDate_lv1">
                            <th style="padding: 0 5px" class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認日</th>
                            <td style="width: 75px; min-width: 75px;" class="tdCenter" mat-cell *matCellDef="let element">
                                {{ element.approvalDate_lv1 }}</td>
                        </ng-container>

                        <!--Header 承認２ -->
                        <ng-container matColumnDef="shounin_2">
                            <th style="width: 75px; min-width: 75px;" class="color-input-3" mat-header-cell *matHeaderCellDef>承認２</th>
                        </ng-container>
                        <!-- Body 承認日２ -->
                        <ng-container matColumnDef="approvalDate_lv2">
                            <th style="padding: 0 5px" class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認日</th>
                            <td style="width: 75px; min-width: 75px;" class="tdCenter" mat-cell *matCellDef="let element">
                                {{ element.approvalDate_lv2 }}</td>
                        </ng-container>

                        <!--Header 承認３ -->
                        <ng-container matColumnDef="shounin_3">
                            <th style="width: 75px; min-width: 75px;" class="color-input-3" mat-header-cell *matHeaderCellDef>承認３</th>
                        </ng-container>

                        <!-- Body 承認日３ -->
                        <ng-container matColumnDef="approvalDate_lv3">
                            <th style="padding: 0 5px" class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認日</th>
                            <td style="width: 75px; min-width: 75px;" class="tdCenter" mat-cell *matCellDef="let element">
                                {{ element.approvalDate_lv3 }}</td>
                        </ng-container>

                        <!--Header 最終承認 -->
                        <ng-container matColumnDef="saishuu_shounin">
                            <th style="width: 75px; min-width: 75px;" class="color-input-3" mat-header-cell *matHeaderCellDef>最終承認</th>
                        </ng-container>
                        <!-- Body 最終承認日 -->
                        <ng-container matColumnDef="approvalDate_final">
                            <th style="padding: 0 5px" class="color-input-4 sticky" mat-header-cell *matHeaderCellDef>承認日</th>
                            <td style="width: 75px; min-width: 75px;" class="tdCenter" mat-cell *matCellDef="let element">
                                {{ element.approvalDate_final }}
                            </td>
                        </ng-container>

                        <!--Header 発注 -->
                        <ng-container matColumnDef="order">
                            <th style="width: 195px; min-width: 195px;" class="color-input-5" mat-header-cell *matHeaderCellDef
                                [attr.rowSpan]="2" [attr.colSpan]="2">発注</th>
                        </ng-container>
                        <!-- Body 発注日 -->
                        <ng-container matColumnDef="orderDate">
                            <th style="width: 75px; min-width: 75px;" class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 75px; min-width: 75px;" class="tdCenter" mat-cell *matCellDef="let element">
                                {{ element.orderDate }}</td>
                        </ng-container>
                        <!-- Body 発注金額 -->
                        <ng-container matColumnDef="orderAmount">
                            <th style="width: 120px; min-width: 120px;" class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 120px; min-width: 120px;" class="tdRight" mat-cell *matCellDef="let element">
                                {{ element.orderAmount | number }}</td>
                        </ng-container>

                        <!--Header 受入 -->
                        <ng-container matColumnDef="received">
                            <th style="width: 195px; min-width: 195px;" class="color-input-5" mat-header-cell *matHeaderCellDef
                                [attr.rowSpan]="2" [attr.colSpan]="2">受入</th>
                        </ng-container>
                        <!-- Body 受入日 -->
                        <ng-container matColumnDef="receivedDate">
                            <th style="width: 75px; min-width: 75px;" class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 75px; min-width: 75px;" class="tdCenter" mat-cell *matCellDef="let element">
                                {{ element.receivedDate }}</td>
                        </ng-container>
                        <!-- Body 受入金額 -->
                        <ng-container matColumnDef="receivedAmount">
                            <th style="width: 120px; min-width: 120px;" class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 120px; min-width: 120px;" class="tdRight" mat-cell *matCellDef="let element">
                                {{ element.receivedAmount | number }}</td>
                        </ng-container>

                        <!--Header 支払 -->
                        <ng-container matColumnDef="payment">
                            <th style="width: 195px; min-width: 195px; padding: 0 5px; box-shadow: 0px 0px 0px 1px #CCD0D5 inset;"
                                class="color-input-5" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2"
                                [attr.colSpan]="2">支払</th>
                        </ng-container>
                        <!-- Body 支払日 -->
                        <ng-container matColumnDef="paymentDate">
                            <th style="width: 75px; min-width: 75px;" class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 75px; min-width: 75px;" class="tdCenter" mat-cell *matCellDef="let element">
                                {{ element.paymentDate }}</td>
                        </ng-container>
                        <!-- Body 支払金額 -->
                        <ng-container matColumnDef="paymentAmount">
                            <th style="width: 120px; min-width: 120px;" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 120px; min-width: 120px;" class="tdRight" mat-cell *matCellDef="let element">
                                {{ element.paymentAmount | number }}</td>
                        </ng-container>

                        <tr style="height: 30px" mat-header-row *matHeaderRowDef="mainHeaderCols"></tr>
                        <tr style="height: 30px" mat-header-row *matHeaderRowDef="subHeaderCols"></tr>
                        <tr mat-row *matRowDef="let row; columns: totalColumns" (click)="selectRow($event, row)"></tr>
                    </table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="add-div" style="margin-top: 20px;">
        <table class="tsuika-table table table-bordered">
            <thead>
                <tr>
                    <th class="color-input-1" style="width: 120px; min-width: 120px;" rowspan="2">発注予定金額</th>
                    <th class="color-input-1" style="width: 260px; min-width: 260px;" rowspan="2" colspan="2">
                        <button style="margin: 0; padding: 0; border: 0;" class="btn btn-link" data-toggle="modal" data-target="#M_ODIS0040" (click)="splitSupplierSelect($event, this.input.splitSupplierCode)">発注先</button>
                    </th>
                    <th class="color-input-1" style="width: 20px; min-width: 20px ;" rowspan="2">注</th>
                    <th class="color-input-1" style="width: 180px; min-width: 180px ;" rowspan="2">コメント</th>
                    <th class="color-input-2" style="width: 175px; min-width: 175px;" colspan="2">依頼</th>
                    <th *ngIf="this.approvalUnit>=2" class="color-input-3" style="width: 175px; min-width: 175px;" colspan="2">承認1</th>
                    <th *ngIf="this.approvalUnit>=3" class="color-input-3" style="width: 175px; min-width: 175px;" colspan="2">承認2</th>
                    <th *ngIf="this.approvalUnit>=4" class="color-input-3" style="width: 175px; min-width: 175px;" colspan="2">承認3</th>
                    <th class="color-input-3" style="width: 175px; min-width: 175px;" colspan="2">最終承認</th>
                </tr>
                <tr>
                    <th class="color-input-1" style="width: 75px; min-width: 75px;">依頼日</th>
                    <th class="color-input-1" style="width: 100px; min-width: 100px;">依頼者</th>

                    <th *ngIf="this.approvalUnit>=2" class="color-input-4" style="width: 75px; min-width: 75px;">承認日</th>
                    <th *ngIf="this.approvalUnit>=2" class="color-input-4" style="width: 100px; min-width: 100px;">承認者</th>

                    <th *ngIf="this.approvalUnit>=3" class="color-input-4" style="width: 75px; min-width: 75px;">承認日</th>
                    <th *ngIf="this.approvalUnit>=3" class="color-input-4" style="width: 100px; min-width: 100px;">承認者</th>

                    <th *ngIf="this.approvalUnit>=4" class="color-input-4" style="width: 75px; min-width: 75px;">承認日</th>
                    <th *ngIf="this.approvalUnit>=4" class="color-input-4" style="width: 100px; min-width: 100px;">承認者</th>

                    <th class="color-input-4" style="width: 75px; min-width: 75px;">承認日</th>
                    <th class="color-input-4" style="width: 100px; min-width: 100px;">承認者</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="tel" class="splitAmount" id="txtSplitAmount" maxlength="11" tabindex="2"
                            [(ngModel)]="input.orderSplitAmount" (focus)="commonFocus($event)"
                            (blur)="commonBlur($event)" (keyup)="onlyHanPrice($event)"
                            (change)="onlyHanPrice($event)" />
                    </td>
                    <td style="width: 40px">
                        <input type="tel" maxlength="3" name="supplierCode"
                            [(ngModel)]="input.splitSupplierCode" style="ime-mode:disabled; text-align:right;"
                            tabindex="3" (keyup)="toHanNumSC($event)" (change)="toHanNumSC($event)" (blur)="getOrderCode($event)">
                    </td>
                    <td style="text-align: left;">{{input.splitSupplierName}}</td>
                    <td>
                        <input type="checkbox" [checked]="input.splitOrderReceipt == '8'" (click)="subTableCheckBoxChange($event)">
                    </td>
                    <td>
                        <input type="text" style="width: 179px !important;" maxlength="12" tabindex="4"
                            [(ngModel)]="input.comment" (blur)="onChangeZenkaku($event)" 
                            (change)="onChangeZenkaku($event)"/>
                    </td>
                    <td style="text-align: center !important">{{ input.requestDate }}</td>
                    <td style="text-align: center !important">
                        <label *ngIf="input.requester != ''" style="margin: 0;">{{ input.requester }}</label>
                        <button *ngIf="input.requester == ''" id="btnSubIrai" style="padding: 0; margin: 0" (click)="subTableRequest($event)"
                            mat-button class="btn btn-outline-primary btn-small" tabindex="5">依頼</button>
                    </td>

                    <td *ngIf="this.approvalUnit>=2" class="tdCenter">{{input.approvalDate_lv1}}</td>
                    <td *ngIf="this.approvalUnit>=2" class="tdCenter">{{input.approvalPerson_lv1}}</td>

                    <td *ngIf="this.approvalUnit>=3" class="tdCenter">{{input.approvalDate_lv2}}</td>
                    <td *ngIf="this.approvalUnit>=3" class="tdCenter">{{input.approvalPerson_lv2}}</td>

                    <td *ngIf="this.approvalUnit>=4" class="tdCenter">{{input.approvalDate_lv3}}</td>
                    <td *ngIf="this.approvalUnit>=4" class="tdCenter">{{input.approvalPerson_lv3}}</td>

                    <td class="tdCenter">{{input.approvalDate_final}}</td>
                    <td class="tdCenter">{{input.approvalPerson_final}}</td>

                </tr>
            </tbody>
        </table>
    </div>

        <section>
            <div style="position: relative; margin: 20px 0 50px 0">
                <div style="float: left">
                    <button mat-button class="btn btn-success border mx-1 back-btn" disabled="{{ btnTsuika }}"
                        tabindex="6"(click)="insertBunkatsuOrderDetail($event)" >明細追加</button>
                </div>

                <div style="float: left">
                    <button mat-button class="btn btn-info border mx-1 back-btn" disabled="{{ btnHenkou }}"
                        tabindex="7"(click)="updateBunkatsuOrderDetail($event)">明細更新</button>
                </div>

                <div>
                    <button mat-button class="btn btn-danger border mx-1 back-btn" disabled="{{ btnChuushi }}"
                        tabindex="8"(click)="stopModifyDetail($event)">中止</button>
                </div>

                <div style="position: absolute; top: 0; left: 380px">
                    <button mat-button class="btn btn-danger border mx-1 back-btn" disabled="{{ btnSakujo }}"
                        tabindex="9"(click)="deleteOrderDetail($event)">明細削除</button>
                </div>
            </div>
        </section>
        <ng-container *ngComponentOutlet="modal"></ng-container>
    

    <div class="footer-container-split">
        <div class="SC0060-bottomButton">
            <button mat-button class="btn btn-secondary border mx-1 back-btn" 
                tabindex="10" (click)="backToOrderDetailInput()">閉じる
            </button>
        </div>
    </div>
</div>