<div>
    <div>
        <mat-tab-group style="float: left; width: 100%">
            <mat-tab class="hontai" label = "{{tabName}}">
                <split-shiwake-table [shiwakeData]="shiwakeData"></split-shiwake-table>
                <div class="mat-elevation-z8" style="margin: 20px 0; width: auto;">
                    <table mat-table [dataSource]="bunkatsuData"
                        class="split-shiwake-table table-hover table-stripped table table-bordered table-sm" id="bunkatsuTable">

                        <ng-container matColumnDef="index">
                            <th style="width: 1%; padding: 0;" class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 1%; padding: 0 5px" class="tdRight" mat-cell
                                *matCellDef="let element"> {{bunkatsuData.indexOf(element) + 1}} </td>
                            <td mat-footer-cell *matFooterCellDef class="tdCenter" style="width: 1%;">合計</td>
                        </ng-container>

                        <ng-container matColumnDef="orderPlanAmount1">
                            <th style="width: 16%; " class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 6%; " class="tdRight" mat-cell
                                *matCellDef="let element; let i = index"> {{element.orderPlanAmount}} </td>
                            <td mat-footer-cell *matFooterCellDef class="tdRight">{{totalAmount()|number}}</td>
                        </ng-container>
                        <ng-container matColumnDef="comment1">
                            <th style="width: 16%; " class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 6%; " class="tdLeft" mat-cell *matCellDef="let element">
                                {{element.comment}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="requestDate">
                            <th style="padding: 0 5px" class="color-input-1" mat-header-cell
                                *matHeaderCellDef>依頼日</th>
                            <td style="width: 6%; " class="tdCenter" mat-cell *matCellDef="let element">
                                {{element.requestDate}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="requester">
                            <th class="splitcolor-1" class="color-input-1" mat-header-cell *matHeaderCellDef>依頼者
                            </th>
                            <td style="width: 6%; " class="color-input-2" mat-cell *matCellDef="let element">
                                <button mat-button id="btnIrai" class="btn btn-primary border mx-1 back-btn " (click)="onAddOrderClick($event);">依頼</button></td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="approvalDate_lv1">
                            <th class="color-input-4" mat-header-cell *matHeaderCellDef>承認日</th>
                            <td style="width: 6%; " class="tdCenter" mat-cell *matCellDef="let element">
                                {{element.approvalDate_lv1}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="approvalPerson_lv1">
                            <th class="color-input-4" mat-header-cell *matHeaderCellDef>承認者</th>
                            <td style="width: 6%; " class="tdCenter" mat-cell *matCellDef="let element">
                                {{element.approvalPerson_lv1}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="approvalDate_lv2">
                            <th class="color-input-4" mat-header-cell *matHeaderCellDef>承認日</th>
                            <td style="width: 6%; " class="tdCenter" mat-cell *matCellDef="let element">
                                {{element.approvalDate_lv2}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="approvalPerson_lv2">
                            <th class="color-input-4" style="padding: 0 5px" mat-header-cell *matHeaderCellDef>承認者
                            </th>
                            <td style="width: 6%; " class="tdCenter" mat-cell *matCellDef="let element">
                                {{element.approvalPerson_lv2}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <ng-container matColumnDef="orderDate">
                            <th style="width: 16%; " class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 6%; " class="tdCenter" mat-cell *matCellDef="let element">
                                {{element.orderDate}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="orderAmount">
                            <th style="width: 16%; " class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 6%; " class="tdRight" mat-cell *matCellDef="let element">
                                {{element.orderAmount}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="recievedDate">
                            <th style="width: 16%; " class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 6%; " class="tdCenter" mat-cell *matCellDef="let element">
                                {{element.recievedDate}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="recievedAmount">
                            <th style="width: 16%; " class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 6%; " class="tdRight" mat-cell *matCellDef="let element">
                                {{element.recievedAmount}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="paymentDate">
                            <th style="width: 16%; " class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 6%; " class="tdCenter" mat-cell *matCellDef="let element">
                                {{element.paymentDate}}</td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="paymentAmount">
                            <th style="width: 16%; " class="" mat-header-cell *matHeaderCellDef></th>
                            <td style="width: 6%; " class="tdRight" mat-cell *matCellDef="let element">
                                {{element.paymentAmount}} </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>


                        <ng-container matColumnDef="no">
                            <th style="padding: 0;" class="color-input-1" mat-header-cell *matHeaderCellDef
                                [attr.rowSpan]="2"></th>
                        </ng-container>
                        <ng-container matColumnDef="orderPlanAmount">
                            <th class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">発注予定金額
                            </th>
                        </ng-container>
                        <ng-container matColumnDef="comment">
                            <th class="color-input-1" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2">コメント</th>
                        </ng-container>
                        <ng-container matColumnDef="irai">
                            <th class="color-input-2" mat-header-cell *matHeaderCellDef [attr.colSpan]="2">依頼</th>
                        </ng-container>
                        <ng-container matColumnDef="shounin_1">
                            <th class="color-input-3" mat-header-cell *matHeaderCellDef [attr.colSpan]="2">承認１</th>
                        </ng-container>
                        <ng-container matColumnDef="shounin_2">
                            <th class="color-input-3" mat-header-cell *matHeaderCellDef [attr.colSpan]="2">承認２</th>
                        </ng-container>
                        <ng-container matColumnDef="order">
                            <th class="color-input-5" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2"
                                [attr.colSpan]="2">発注</th>
                        </ng-container>
                        <ng-container matColumnDef="recieved">
                            <th class="color-input-5" mat-header-cell *matHeaderCellDef [attr.rowSpan]="2"
                                [attr.colSpan]="2">受入</th>
                        </ng-container>
                        <ng-container matColumnDef="payment">
                            <th class="color-input-5" style="padding: 0 5px" mat-header-cell *matHeaderCellDef
                                [attr.rowSpan]="2" [attr.colSpan]="2">支払</th>
                        </ng-container>

                        <tr class="tableHeader" style="height: 25px" mat-header-row *matHeaderRowDef="headerColspan"></tr>
                        <tr class="tableHeader" style="height: 25px" mat-header-row *matHeaderRowDef="bunkatsuColumnsName"></tr>
                        <tr mat-footer-row *matFooterRowDef="rows"></tr>

                        <tr mat-row *matRowDef="let row; columns: rows;"
                            (click)=onSelHighLight($event,row)></tr>
                    </table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="add-div" style="margin: 20px 0 30px 0;">
        <table class="add-table table table-bordered table-sm">
            <tr>
                <th class="color-input-1" style="width: 25%;" rowspan="2">発注予定金額</th>
                <th class="color-input-1" style="width: 25%;" rowspan="2">コメント</th>
                <th class="color-input-2" style="width: 50%;" colspan="2">依頼</th>
            </tr>
            <tr>
                <th class="color-input-1">依頼日</th>
                <th class="color-input-1">依頼者</th>
            </tr>
            <tr>
                <td><input [(ngModel)]="orderPlanAmount" type="text"></td>
                <td><input [(ngModel)]="comment" type="text"></td>
                <td class="tdCenter">{{requestDate}}</td>
                <td class="color-input-1"><button mat-button id="btnIrai" class="btn btn-primary border mx-1 back-btn " (click)="onAddOrderClick($event);">依頼</button></td>
            </tr>
        </table>
    </div>

    <footer>
        <div class="footer-container" style="position: inherit;">
            <div class="bottomButton">
                <button mat-button id="btnClose " class="btn btn-primary border mx-1 back-btn" data-toggle="modal"
                    data-target="#MODAL5" (click)="onSelectClick($event);">明細追加</button>
            </div>

            <div style="left: 135px;" class="bottomButton">
                <button mat-button id="btnClose " class="btn btn-primary border mx-1 back-btn " (click)="onUpdateClick($event);">明細更新</button>
            </div>

            <div style="left: 228px;" class="bottomButton">
                <button mat-button id="btnClose " class="btn btn-primary border mx-1 back-btn " (click)="onClearClick($event);">中止</button>
            </div>

            <div style="left: 22.7%;" class="bottomButton">
                <button mat-button id="btnClose " class="btn btn-primary border mx-1 back-btn " (click)="onDeleteClick($event);">明細削除</button>
            </div>
            
            <div style="right: 46px;" class="bottomButton">
                <button mat-button id="btnClose " class="btn btn-secondary border mx-1 back-btn "
                    (click)="onBackClick($event)" routerLink="/OrderDetailInput">閉じる</button>
            </div>
        </div>
    </footer>
</div>