/*************************************************************/
/*****                                                    ****/
/*****                     MAT TAB                        ****/
/*****                                                    ****/
/*****                     タブの設定                      ****/
/*************************************************************/
.mat-tab-label {
    min-width: 25px !important;
    max-width: 50px !important;
    padding: 5px;
    background-color: transparent;
    color: black;
    font-weight: 700;
    text-align: center;
}

.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    width: 60px !important;
    padding: 5px;
    background-color: #305496;
    color: white;
    font-weight: 700;
    text-align: center;
}

.mat-ink-bar {
    background-color: transparent;
}

/*************************************************************/
/*****                                                    ****/
/*****                 PAGE FOOTER                        ****/
/*****                                                    ****/
/*************************************************************/
.footer-container-split {
    position: fixed;
    display: inline-block;
    bottom: 0;
    padding-bottom: 0;
    z-index: 2;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}


.footer {
    /* position: fixed;     */
    display: fixed ;
    background-color: #F5F5F5 ;
    z-index: 1;
    height: 50px ;
}

.footer>.back-btn {
    display: inline-block;
    width: 120px;
}
.mat-footer-cell {
    background-color: #e0e0e0;
}
/*************************************************************/
/*****                                                    ****/
/*****                 TSUIKA-TABLE                       ****/
/*****                                                    ****/
/*****             分割明細を追加するテーブル.            ****/
/*************************************************************/
.tsuika-table {
    position: relative;
    width: 600px;
}

.tsuika-table>tbody>tr>td>input {
    /* margin: 0; */
    width: 100%;
    border: 0;
}

.tsuika-table>thead>tr>th {
    height: 30px;
}
.tsuika-table>tbody>tr>td {
    height: 36px !important;
    vertical-align: middle !important;
    padding: 0;
    margin: 15px 15px 15px 15px !important;
}

input.splitAmount{
    text-align: right;
}

#btnSubIrai{
    height: 35px !important;
    /* width: 50px; */
    text-align: center;
    vertical-align: middle !important;
    line-height: 0;
    margin: 0;
}

/*************************************************************/
/*****                                                    ****/
/*****                 BUNKATSU-TABLE                     ****/
/*****                                                    ****/
/*****             分割データを表示するテーブル.          ****/
/*************************************************************/
.bunkatsu-table {
    width: 1280px;
    min-width: 1280px;
}

.bunkatsu-table>thead>tr>th {
    height: 30px;
}

.bunkatsu-table>tbody>tr>td {
    height: 30px !important;
    vertical-align: middle !important;
}
.bunkatsu-table>tfoot>tr.mat-footer-row {
    font-weight: bold;
    word-break: keep-all;
}
.bunkatsu-table>tfoot>tr>td {
    padding-top: 20px !important;
    padding-right: 5px !important;
    text-align: right;
}
.bunkatsu-table>tfoot>tr>td.goukie {
    padding-left: 10px;
    text-align: center;
}
.btn-outline-success,
.btn-outline-primary{
    height: 35px !important;
}


/*************************************************************/
/*****                                                    ****/
/*****                 BUNKATSU-TABLE                     ****/
/*****                                                    ****/
/*****              カラムの背景色を設定する              ****/
/*************************************************************/
.color-input-1 {
    background-color: #C5D9F1 ;
    text-align: center !important;
    vertical-align: middle !important;
}
.color-input-2 {
    background-color: #95B3D7 ;
    text-align: center !important;
    vertical-align: middle !important;
}

.color-input-3 {
    background-color: #FABF8F ;
    text-align: center !important;
    vertical-align: middle !important;
}

.color-input-4 {
    background-color: #FDE9D9 ;
    text-align: center !important;
    vertical-align: middle !important;
}

.color-input-5 {
    background-color: #C4D79B ;
    text-align: center !important;
    vertical-align: middle !important;

}
.comment{
    text-align: right;
    word-break: keep-all !important;
}

.tdRight {
    text-align: right;
    padding: 5px !important;
}

.tdLeft {
    text-align: left;
    padding: 5px ;
    
}

.tdCenter {
    text-align: center;
    padding: 5px ;
}

/*************************************************************/
/*****                                                    ****/
/*****                    TABLE HEADER                    ****/
/*****                                                    ****/
/*****                                                    ****/
/*************************************************************/

.mat-header-cell {
    text-align: center !important;
    position: sticky;
}

.bunkatsu-table-responsive .mat-cell,
.bunkatsu-table-responsive .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

/*************************************************************/
/*****                                                    ****/
/*****                      TABLE BODY                    ****/
/*****                                                    ****/
/*****                                                    ****/
/*************************************************************/
.bunkatsu-table-responsive {
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 302px;
    width: fit-content;
    width: 1314px;
}

/*************************************************************/
/*****                                                    ****/
/*****                   TABLE SCROLL                     ****/
/*****            テーブルをスクロールする時、            ****/
/*****           ヘッダーとフォッターを固定させる         ****/
/*************************************************************/

.bunkatsu-table-responsive>table>thead>tr>th {
    top: 0px;
    position: sticky;
    z-index: 100;
}

.sticky {
    top: 30px !important;
}

.add-div {
    position: relative;
    margin: 20px 0 30px 0；
}

/*************************************************************/
/*****                                                    ****/
/*****                  SHIWAKE-TABLE                     ****/
/*****                                                    ****/
/*****                                                    ****/
/*************************************************************/
.shiwake-table {
    width: fit-content;
}

.shiwake-table>thead>tr>th {
    height: 30px;
}

.shiwake-table>tbody>tr>td {
    height: 30px;
    vertical-align: middle !important;
}
