/********************* Page Footer *************************/

.footer-container {
    position: flex;
    display: inline-block;
    bottom: 0;
    padding-bottom: 12.5px;
    z-index: 2;
    justify-content: space-between;
    width: 100%;
}

.footer {
    position: initial !important;
    display: fixed !important;
    background-color: #F5F5F5 !important;
}

.footer>.back-btn {
    display: inline-block !important;
    width: 120px !important;
}


/* .section-left {
    float: left;
    width: 40%;
    border: 0.5px solid #CCD0D5;
}

.section-right {
    margin-left: 45%;
    width: 55%;
    border: 0.5px solid #CCD0D5;
}

.table-Shiwake>thead>tr {
    text-align: center;
} */


/*********************TABLE****************************/

th {
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-top: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
    font: bold 12px "メイリオ" !important;
    text-align: center;
    padding: 5px;
}

td {
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-top: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
    padding: 0px 5px;
}


/****************************************************/

.flexbox {
    display: flex;
    flex-flow: row wrap;
}

.flexBoxLeft {
    float: left;
}

.flexBoxRight {
    float: right;
}

.label {
    width: 80px !important;
    text-align: right;
    padding: 10px;
}

.name {
    width: inherit;
    border-collapse: collapse;
    border: 1px dotted black;
}

.grid-column {
    display: grid;
    height: inherit;
    grid-template-columns: repeat(17, 50px);
    grid-template-rows: repeat(2, 50%);
}


/*  -----------------タブのスタイル---------------------------  */

.mat-tab-label {
    min-width: 25px !important;
    max-width: 50px !important;
    padding: 5px;
    background-color: transparent;
    color: black;
    font-weight: 700;
    text-align: center;
}

.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    max-width: 60px !important;
    padding: 5px;
    background-color: #305496;
    color: white;
    font-weight: 700;
    text-align: center;
}

.mat-ink-bar {
    background-color: #305496;
    width: auto !important;
}

.tabGroup {
    min-height: 300px;
}


/*  ----------------------------------------------------------------  */


/* 
.table-Shiwake>tbody {
    height: 250px !important;
    overflow-y: scroll;
    overflow: auto;
}

.table-Shiwake {
    height: 250px;
    max-width: 40%px;
    position: relative;
    margin: 0;
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
}

.table-Shiwake>tbody>tr>td,
.table-Detail>tbody>tr>td {
    border: 0.5px solid #CCD0D5;
} */


/* 
.shiwakeCode-1 {
    width: 50px;
    text-align: center;
}

.shiwakeCode-2 {
    width: 20px;
    text-align: center;
}

.shiwakeKeiri {
    width: 50px;
    text-align: center;
}

.shiwakeName {
    width: 150px;
    text-align: left;
}

.shiwakeHachu-1 {
    width: 20px;
    text-align: center;
}

.shiwakeHachu-2 {
    width: 150px;
    text-align: left;
}

.shiwakeKingaku {
    width: 200px;
    text-align: right;
} */


/* .table-Detail {
    height: 250px;
    max-width: 50%;
    margin: 0;
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
} */


/* #orderInfomation {
    position: relative;
    width: 1287px;
} */


/* #firstPart {
    position: relative;
} */

.orderInfo1 {
    max-width: 100%;
    min-width: 960px;
    position: relative;
    max-height: 120px;
}

.orderInfo1Table {
    position: relative;
    height: 100px;
    max-height: 100px;
}

.orderInfo1Table>td {
    min-height: 21px !important;
}

.orderInfo2 {
    max-width: 100%;
    min-width: 1340px;
    margin-top: 10px;
    position: relative;
}

.orderInfo2Table1 {
    position: relative;
    float: left;
    height: 120px;
    max-height: 120px;
    width: auto;
}

.orderInfo2Table2 {
    position: relative;
    height: 120px;
    max-height: 120px;
}


/* -------------------------------------- */

.tdcenter {
    text-align: center;
    padding: 0px 10px;
    min-width: 40px;
    min-height: 23px;
}

.tddate {
    text-align: center;
    width: 83px;
    min-height: 23px;
}

.tdprice {
    text-align: right;
    width: 100px;
    padding: 0px 5px 0px 20px;
    height: 23px;
}

.tdContract {
    min-width: 300px !important;
    max-height: 20px !important;
}

.tdCode {
    min-width: 150px !important;
}

.infoTable {
    min-width: 1050px;
}


/* -------------------------------------- */


/* #scrollTableDiv {
    position: relative;
    overflow-y: scroll;
    height: 116px;
    top: -1px;
} */


/* #secondPart {
    position: relative;
    margin-top: 10px;
    overflow: hidden;
} */


/* 
#orderInfo3Table1 {
    float: left;
}

#orderInfo3Table2 {
    position: absolute;
    height: 100%;
    width: 100%;
} */


/* #orderInfoCount {
    position: absolute;
} */


/* #i3t2head {
    position: relative;
    height: 20%;
}

#theadHeight {
    position: relative;
}

#addConstr {
    position: absolute;
    top: 20%;
    bottom: 1px;
    width: 25px;
    border: 0.5px solid #CCD0D5;
    text-align: center;
    font: bold 12px "メイリオ" !important;
    background-color: white;
    z-index: 1;
    padding-top: 3.5%;
}

#i3t2body {
    position: relative;
    top: 20%;
    bottom: 0;
    width: 100%;
} */


/* #thisOne {
    position: relative;
} */


/* #tbl1 {
    border: 1px solid black !important;
    border-collapse: collapse;
}

#tbl2 {
    position: relative;
    border: 1px solid black !important;
} */