<header>
    <title>{{title}}</title>
</header>

<div>
    <div>
        <span style="text-align: center;">
            <h1>{{title}}</h1>
        </span>
    </div>

    <section id="orderInfomation" style="height: 480px ; border: 0.5px solid green">
        <table id="tblOrderInfo" border="1">
            <tr class="text-center">
                <th style="width: 120px;">発注番号</th>
                <th style="width: 120px">事業コード</th>
                <th style="width: 300px;">事業所名</th>
                <th colspan="2" style="width: 200px;">営業担当者</th>
                <th colspan="2" style="width: 200px;">建築担当者</th>
            </tr>
            <tr>
                <td>70116997700</td>
                <td>116009</td>
                <td>IT業務部</td>
                <td style="width: 70px;">990001</td>
                <td style="width: 130px;"></td>
                <td style="width: 70px;">990002</td>
                <td style="width: 130px;"></td>
            </tr>
        </table>

        <div style="width: 700px;height: 80px;float: left; background-color: beige;">
            <div>工事名</div>
            <div>工事名</div>
        </div>
    </section>

    <section>
        <table class="table-hover table-striped table-Shiwake">
            <thead>
                <tr>
                    <th style="width: 70px;" class="text-center" colspan="2">仕訳コード</th>
                    <th class="shiwakeKeiri text-center">経理分類</th>
                    <th class=" shiwakeName text-center">仕訳名称</th>
                    <th style=" width: 170px;" class="text-center" colspan="2">発注先</th>
                    <th class="shiwakeKingaku text-center">発注予定金額</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
                <tr>
                    <td class="shiwakeKode-1">0200</td>
                    <td class="shiwakeKode-2"></td>
                    <td class="shiwakeKeiri">040</td>
                    <td class="shiwakeName">本体工事</td>
                    <td class="shiwakeHachu-1">803</td>
                    <td class="shiwakeHachu-2">積水建設㈱</td>
                    <td class="shiwakeKingaku">245,000,000</td>
                </tr>
            </tbody>
        </table>
    </section>
    <div class="footer-container" style="border: 1px solid black;">
        <div class="text-left footer">
            <button class="btn btn-secondary border mx-1 back-btn">閉じる</button>
            <div>
                <button class="btn btn-info border mx-1">選択(F12)</button>
            </div>
        </div>
    </div>

</div>