<header>
    <title>{{title}}</title>
</header>

<div>
    <div>
        <span style="text-align: center;">
            <h1>{{title}}</h1>
        </span>
    </div>

    <div id="orderInfomation">
        <div id="firstPart">
            <section class="orderInfo1">
                <table class="orderInfo1Table">
                    <tr class="text-center">
                        <th style="width: 120px;">発注番号</th>
                        <th style="width: 120px">事業コード</th>
                        <th style="width: 300px;">事業所名</th>
                        <th colspan="2" style="width: 200px;">営業担当者</th>
                        <th colspan="2" style="width: 200px;">建築担当者</th>
                    </tr>
                    <tr>
                        <td>70116997700</td>
                        <td class="tdcenter">116009</td>
                        <td>IT業務部</td>
                        <td class="tdcenter" style="width: 70px;">990001</td>
                        <td style="width: 130px;"></td>
                        <td class="tdcenter" style="width: 70px;">990002</td>
                        <td style="width: 130px;"></td>
                    </tr>
                </table>
            </section>
            <section class="orderInfo2">
                <table class="orderInfo2Table1">
                    <tr>
                        <th rowspan="2">工事名</th>
                        <td colspan="2" style="word-wrap: break-word;">aaaaaaaaaaaaaaaaaaaaaa</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 50px;">aooooo</td>
                    </tr>
                    <tr>
                        <th>契約者名</th>
                        <td>70116997700</td>
                        <td>testasdddddddd</td>
                    </tr>
                </table>
                <table class="orderInfo2Table2">
                    <tr>
                        <th style="width: 10%; border-left: 0;">予定年月日</th>
                        <th rowspan="2">契<br>約</th>
                        <td class="tddate">asaa</td>
                        <th rowspan="2">D<br>/<br>O</th>
                        <td class="tddate">bb</td>
                        <th rowspan="2">着<br>工</th>
                        <td class="tddate">2019/7/12</td>
                        <th rowspan="2">入<br>荷</th>
                        <td class="tddate">ddd</td>
                        <th rowspan="2">木<br>工<br>事</th>
                        <td class="tddate">ddd</td>
                        <th rowspan="2">総<br>合<br>検<br>査</th>
                        <td class="tddate">2020/4/17</td>
                        <th rowspan="2" style="word-wrap: normal;">竣<br>工<br>検<br>査</th>
                        <td class="tddate">2020/4/22</td>
                        <th rowspan="2">引<br>渡</th>
                        <td class="tddate">2020/4/24</td>
                    </tr>
                    <tr>
                        <th style="width: 10%; border-left: 0;">実績年月日</th>
                        <td class="tdcenter">AAAd</td>
                        <td class="tdcenter">AA</td>
                        <td class="tdcenter">2019/7/12</td>
                        <td class="tdcenter">AA</td>
                        <td class="tdcenter">AA</td>
                        <td class="tdcenter">2020/4/17</td>
                        <td class="tdcenter">2020/4/22</td>
                        <td class="tdcenter">2020/4/24</td>
                    </tr>
                </table>
            </section>
        </div>
        <div id="secondPart">
            <table id="orderInfo3Table1">
                <thead>
                    <tr>
                        <th>契　約</th>
                        <th>受注形態</th>
                        <th colspan="2">枝番</th>
                        <th>年月日</th>
                        <th>金額</th>
                        <th>発注</th>
                        <th colspan="2">売上</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tdcenter">ハ　ウ　ス</td>
                        <td class="tdcenter" style="min-width: 89px;"></td>
                        <td class="tdcenter">00</td>
                        <td class="tdcenter"></td>
                        <td class="tddate">2019/6/18</td>
                        <td class="tdprice">586100000</td>
                        <td class="tdcenter">済</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter"></td>
                    </tr>
                    <tr>
                        <td class="tdcenter">解　体</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter">00</td>
                        <td class="tdcenter"></td>
                        <td class="tddate">2019/6/18</td>
                        <td class="tdprice">586100000</td>
                        <td class="tdcenter">済</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter"></td>
                    </tr>
                    <tr>
                        <td class="tdcenter">造園外構①</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter">00</td>
                        <td class="tdcenter"></td>
                        <td class="tddate">2019/6/18</td>
                        <td class="tdprice">586100000</td>
                        <td class="tdcenter">済</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter"></td>
                    </tr>
                    <tr>
                        <td class="tdcenter">造園外構②</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter">00</td>
                        <td class="tdcenter"></td>
                        <td class="tddate">2019/6/18</td>
                        <td class="tdprice">58610000</td>
                        <td class="tdcenter">済</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter"></td>
                    </tr>
                    <tr>
                        <td class="tdcenter">土　地</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter">00</td>
                        <td class="tdcenter"></td>
                        <td class="tddate">2019/6/18</td>
                        <td class="tdprice">5861000</td>
                        <td class="tdcenter">済</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter"></td>
                    </tr>
                </tbody>
            </table>
            <div id="orderInfo3Table2" [style.margin-left.px]="orderInfo3Table1Width">
                <table id="orderInfoCount">
                    <div id="i3t2head">
                        <thead id="theadHeight">
                            <tr>
                                <th id="try">契　約</th>
                                <th [style.width.px]="orderTypeWidth">受注形態</th>
                                <th [style.width.px]="codeWidth">枝番</th>
                                <th [style.width.px]="dateWidth">年月日</th>
                                <th [style.width.px]="priceWidth">金額</th>
                                <th [style.width.px]="sendWidth">発注</th>
                                <th [style.width.px]="salesWidth">売上</th>
                            </tr>
                        </thead>
                    </div>
                    <div id="addConstr">追加工事</div>
                    <div id="i3t2body">
                        <div id="scrollTableDiv">
                            <tbody id="thisOne">
                                <tr>
                                    <!-- <th [attr.rowspan]="test" teststyle="width: 10px;">追<br>加<br>工<br>事</th> -->
                                    <td id="contractWidth" class="tdcenter" style="min-width: 89px; padding-left: 35px;  border-top: 0;">設計
                                    </td>
                                    <td id="orderTypeWidth" class="tdcenter" style="min-width: 89px;  border-top: 0;">C
                                    </td>
                                    <td id="code1Width" class="tdcenter" style=" border-top: 0;">36</td>
                                    <td id="code2Width" class="tdcenter" style=" border-top: 0;"></td>
                                    <td id="dateWidth" class="tddate" style=" border-top: 0;">2019/6/18</td>
                                    <td id="priceWidth" class="tdprice" style=" border-top: 0;">586100000</td>
                                    <td id="sendWidth" class="tdcenter" style=" border-top: 0;">*</td>
                                    <td id="sales1Width" class="tdcenter" style=" border-top: 0;">未</td>
                                    <td id="sales2Width" class="tdcenter" style=" border-top: 0;"></td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 35px;" class="tdcenter">設計</td>
                                    <td class="tdcenter">C</td>
                                    <td class="tdcenter">37</td>
                                    <td class="tdcenter"></td>
                                    <td class="tddate">2019/6/18</td>
                                    <td class="tdprice">586100000</td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter">未</td>
                                    <td class="tdcenter"></td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 35px;" class="tdcenter">設計</td>
                                    <td class="tdcenter">C</td>
                                    <td class="tdcenter">38</td>
                                    <td class="tdcenter"></td>
                                    <td class="tddate">2019/6/18</td>
                                    <td class="tdprice">586100000</td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter">済</td>
                                    <td class="tdcenter">20/06</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 35px;" class="tdcenter">建物</td>
                                    <td class="tdcenter">B</td>
                                    <td class="tdcenter">39</td>
                                    <td class="tdcenter"></td>
                                    <td class="tddate">2019/6/18</td>
                                    <td class="tdprice">58610000</td>
                                    <td class="tdcenter">*</td>
                                    <td class="tdcenter">済</td>
                                    <td class="tdcenter">20/04</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 35px;" class="tdcenter">建物</td>
                                    <td class="tdcenter">B</td>
                                    <td class="tdcenter">40</td>
                                    <td class="tdcenter"></td>
                                    <td class="tddate">2019/6/18</td>
                                    <td class="tdprice">5861000</td>
                                    <td class="tdcenter">*</td>
                                    <td class="tdcenter">済</td>
                                    <td class="tdcenter">20/04</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 35px;" class="tdcenter"></td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter">41</td>
                                    <td class="tdcenter"></td>
                                    <td class="tddate"></td>
                                    <td class="tdprice"></td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter"></td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 35px;" class="tdcenter"></td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter">42</td>
                                    <td class="tdcenter"></td>
                                    <td class="tddate"></td>
                                    <td class="tdprice"></td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter"></td>
                                    <td style="padding-left: 35px;" class="tdcenter"></td>
                                </tr>
                            </tbody>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>

    <section style="margin-top: 50px;">
        <section class="section-left">
            <table class="table-hover table-striped table-Shiwake">
                <thead>
                    <tr>
                        <th style="width: 70px;" class="text-center" colspan="2">仕訳コード</th>
                        <th class="shiwakeKeiri text-center">経理分類</th>
                        <th class=" shiwakeName text-center">仕訳名称</th>
                        <th style=" width: 170px;" class="text-center" colspan="2">発注先</th>
                        <th class="shiwakeKingaku text-center">発注予定金額</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="shiwakeCode-1">0200</td>
                        <td class="shiwakeCode-2"></td>
                        <td class="shiwakeKeiri">040</td>
                        <td class="shiwakeName">本体工事</td>
                        <td class="shiwakeHachu-1">803</td>
                        <td class="shiwakeHachu-2">積水建設㈱</td>
                        <td class="shiwakeKingaku">245,000,000</td>
                    </tr>
                    <tr>
                        <td class="shiwakeKode-1">0200</td>
                        <td class="shiwakeKode-2"></td>
                        <td class="shiwakeKeiri">040</td>
                        <td class="shiwakeName">本体工事</td>
                        <td class="shiwakeHachu-1">803</td>
                        <td class="shiwakeHachu-2">積水建設㈱</td>
                        <td class="shiwakeKingaku">245,000,000</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>
        </section>
        <section class="section-right">
            <table class="table-hover table-striped table-Detail">
                <thead>
                    <tr>
                        <th style="word-wrap: break-word;" class="text-center" rowspan="2">分割</th>
                        <th class="text-center" rowspan="2">発注予定金額</th>
                        <th class="text-center" colspan="2">依頼</th>
                        <th class="text-center" colspan="2">承認１</th>
                        <th class="text-center" colspan="2">承認２</th>
                        <th class="text-center" rowspan="2" colspan="2">発注</th>
                        <th class="text-center" rowspan="2" colspan="2">受入</th>
                        <th class="text-center" rowspan="2" colspan="2">支払</th>
                    </tr>
                    <tr>
                        <th>依頼日</th>
                        <th>依頼者</th>
                        <th>承認日</th>
                        <th>承認者</th>
                        <th>承認日</th>
                        <th>承認者</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-b td-font text-center ">
                            <button id="btnGvDetail " class="border table-btn-d btn-info ">分</button>
                        </td>
                        <td>245,000,000</td>
                        <td>19/07/04</td>
                        <td>積水</td>
                        <td></td>
                        <td>承認</td>
                        <td></td>
                        <td>承認</td>
                        <td>2019/7/4</td>
                        <td>245,000,000</td>
                        <td>19/07/05</td>
                        <td>245,000,000</td>
                        <td>19/07/06</td>
                        <td>245,000,000</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
    <div class="footer-container">
        <div class="text-left footer">
            <button class="btn">発注先パターン選択</button>
            <button class="btn">得意先元帳</button>
            <button class="btn">工事台帳</button>
            <button class="btn">明細一覧</button>
            <button class="btn">更新終了</button>
        </div>
    </div>

</div>