<header>
    <title>{{title}}</title>
</header>

<div>
    <div>
        <span style="text-align: center;">
            <h1>{{title}}</h1>
        </span>
    </div>

    <div id="orderInfomation">
        <div id="firstPart">
            <section class="orderInfo1">
                <table class="orderInfo1Table"  *ngFor ="let orderInputData of orderInputDatas ">
                    <tr class="text-center">
                        <th style="width: 120px;">発注番号</th>
                        <th style="width: 120px">事業コード</th>
                        <th style="width: 300px;">事業所名</th>
                        <th colspan="2" style="width: 200px;">営業担当者</th>
                        <th colspan="2" style="width: 200px;">建築担当者</th>
                    </tr>
                    <tr>
                        <td>
                            <p>{{orderInputData?.contractNum}}</p>
                        </td>
                        <td class="tdcenter">
                            <p>{{orderInputData?.officeCode}}</p>
                        </td>
                        <td>
                            <p>{{orderInputData?.officeName}}</p>
                        </td>
                        <td class="tdcenter" style="width: 70px;">
                            <p>{{orderInputData?.salesStaffCode}}</p>
                        </td>
                        <td style="width: 130px;">
                            <p>{{orderInputData?.salesStaffName}}</p>
                        </td>
                        <td class="tdcenter" style="width: 70px;">
                            <p>{{orderInputData?.architectCode}}</p>
                        </td>
                        <td style="width: 130px;">
                            <p>{{orderInputData?.architectName}}</p>
                        </td>
                    </tr>
                </table>
            </section>
            <section class="orderInfo2">
                <table class="orderInfo2Table1"  *ngFor ="let orderInputData of orderInputDatas ">
                    <tr>
                        <th rowspan="2" style="width: 80px;">工事名</th>
                        <td colspan="2" style="word-wrap: break-word;">
                            <p>{{orderInputData?.constructionKata}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 50px;">
                            <p>{{orderInputData?.constructionHira}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 80px;">契約者名</th>
                        <td>
                            <p>{{orderInputData?.contractorCode}}</p>
                        </td>
                        <td>
                            <p>{{orderInputData?.contractorName}}</p>
                        </td>
                    </tr>
                </table>
                <table class="orderInfo2Table2" *ngFor ="let orderInputData of orderInputDatas ">
                    <tr>
                        <th style="width: 10%; border-left: 0;">予定年月日</th>
                        <th rowspan="2">契<br>約</th>
                        <td class="tddate">
                            <p>{{orderInputData?.planContractDate}}</p>
                        </td>
                        <th rowspan="2">D<br>/<br>O</th>
                        <td class="tddate">
                            <p>{{orderInputData?.planDODate}}</p>
                        </td>
                        <th rowspan="2">着<br>工</th>
                        <td class="tddate">
                            <p>{{orderInputData?.planStartDate}}</p>
                        </td>
                        <th rowspan="2">入<br>荷</th>
                        <td class="tddate">
                            <p>{{orderInputData?.planArrivalDate}}</p>
                        </td>
                        <th rowspan="2">木<br>工<br>事</th>
                        <td class="tddate">
                            <p>{{orderInputData?.planWoodWorkDate}}</p>
                        </td>
                        <th rowspan="2">総<br>合<br>検<br>査</th>
                        <td class="tddate">
                            <p>{{orderInputData?.planInspectionDate}}</p>
                        </td>
                        <th rowspan="2" style="word-wrap: normal;">竣<br>工<br>検<br>査</th>
                        <td class="tddate">
                            <p>{{orderInputData?.planCompletionInspection}}</p>
                        </td>
                        <th rowspan="2">引<br>渡</th>
                        <td class="tddate">
                            <p>{{orderInputData?.planHandingOver}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 10%; border-left: 0;">実績年月日</th>
                        <td class="tdcenter">
                            <p>{{orderInputData?.perforContractDate}}</p>
                        </td>
                        <td class="tdcenter">
                            <p>{{orderInputData?.perforDODate}}</p>
                        </td>
                        <td class="tdcenter">
                            <p>{{orderInputData?.perforStartDate}}</p>
                        </td>
                        <td class="tdcenter">
                            <p>{{orderInputData?.perforArrivalDate}}</p>
                        </td>
                        <td class="tdcenter">
                            <p>{{orderInputData?.perforWoodWorkDate}}</p>
                        </td>
                        <td class="tdcenter">
                            <p>{{orderInputData?.perforInspectionDate}}</p>
                        </td>
                        <td class="tdcenter">
                            <p>{{orderInputData?.perforCompletionInspection}}</p>
                        </td>
                        <td class="tdcenter">
                            <p>{{orderInputData?.perforHandingOver}}</p>
                        </td>
                    </tr>
                </table>
            </section>
        </div>
        <div id="secondPart">
            <table id="orderInfo3Table1">
                <thead>
                    <tr>
                        <th>契　約</th>
                        <th>受注形態</th>
                        <th colspan="2">枝番</th>
                        <th>年月日</th>
                        <th>金額</th>
                        <th>発注</th>
                        <th colspan="2">売上</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tdcenter">ハ　ウ　ス</td>
                        <td class="tdcenter" style="min-width: 89px;"></td>
                        <td class="tdcenter">00</td>
                        <td class="tdcenter"></td>
                        <td class="tddate">2019/6/18</td>
                        <td class="tdprice">586100000</td>
                        <td class="tdcenter">済</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter"></td>
                    </tr>
                    <tr>
                        <td class="tdcenter">解　体</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter">00</td>
                        <td class="tdcenter"></td>
                        <td class="tddate">2019/6/18</td>
                        <td class="tdprice">586100000</td>
                        <td class="tdcenter">済</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter"></td>
                    </tr>
                    <tr>
                        <td class="tdcenter">造園外構①</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter">00</td>
                        <td class="tdcenter"></td>
                        <td class="tddate">2019/6/18</td>
                        <td class="tdprice">586100000</td>
                        <td class="tdcenter">済</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter"></td>
                    </tr>
                    <tr>
                        <td class="tdcenter">造園外構②</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter">00</td>
                        <td class="tdcenter"></td>
                        <td class="tddate">2019/6/18</td>
                        <td class="tdprice">58610000</td>
                        <td class="tdcenter">済</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter"></td>
                    </tr>
                    <tr>
                        <td class="tdcenter">土　地</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter">00</td>
                        <td class="tdcenter"></td>
                        <td class="tddate">2019/6/18</td>
                        <td class="tdprice">5861000</td>
                        <td class="tdcenter">済</td>
                        <td class="tdcenter"></td>
                        <td class="tdcenter"></td>
                    </tr>
                </tbody>
            </table>
            <div id="orderInfo3Table2" [style.margin-left.px]="orderInfo3Table1Width">
                <table id="orderInfoCount">
                    <div id="i3t2head">
                        <thead id="theadHeight">
                            <tr>
                                <th id="try">契　約</th>
                                <th [style.width.px]="orderTypeWidth">受注形態</th>
                                <th [style.width.px]="codeWidth">枝番</th>
                                <th [style.width.px]="dateWidth">年月日</th>
                                <th [style.width.px]="priceWidth">金額</th>
                                <th [style.width.px]="sendWidth">発注</th>
                                <th [style.width.px]="salesWidth">売上</th>
                            </tr>
                        </thead>
                    </div>
                    <div id="addConstr">追加工事</div>
                    <div id="i3t2body">
                        <div id="scrollTableDiv">
                            <tbody id="thisOne">
                                <tr>
                                    <!-- <th [attr.rowspan]="test" teststyle="width: 10px;">追<br>加<br>工<br>事</th> -->
                                    <td id="contractWidth" class="tdcenter" style="min-width: 89px; padding-left: 35px;  border-top: 0;">設計
                                    </td>
                                    <td id="orderTypeWidth" class="tdcenter" style="min-width: 89px;  border-top: 0;">C
                                    </td>
                                    <td id="code1Width" class="tdcenter" style=" border-top: 0;">36</td>
                                    <td id="code2Width" class="tdcenter" style=" border-top: 0;"></td>
                                    <td id="dateWidth" class="tddate" style=" border-top: 0;">2019/6/18</td>
                                    <td id="priceWidth" class="tdprice" style=" border-top: 0;">586100000</td>
                                    <td id="sendWidth" class="tdcenter" style=" border-top: 0;">*</td>
                                    <td id="sales1Width" class="tdcenter" style=" border-top: 0;">未</td>
                                    <td id="sales2Width" class="tdcenter" style=" border-top: 0;"></td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 35px;" class="tdcenter">設計</td>
                                    <td class="tdcenter">C</td>
                                    <td class="tdcenter">37</td>
                                    <td class="tdcenter"></td>
                                    <td class="tddate">2019/6/18</td>
                                    <td class="tdprice">586100000</td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter">未</td>
                                    <td class="tdcenter"></td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 35px;" class="tdcenter">設計</td>
                                    <td class="tdcenter">C</td>
                                    <td class="tdcenter">38</td>
                                    <td class="tdcenter"></td>
                                    <td class="tddate">2019/6/18</td>
                                    <td class="tdprice">586100000</td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter">済</td>
                                    <td class="tdcenter">20/06</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 35px;" class="tdcenter">建物</td>
                                    <td class="tdcenter">B</td>
                                    <td class="tdcenter">39</td>
                                    <td class="tdcenter"></td>
                                    <td class="tddate">2019/6/18</td>
                                    <td class="tdprice">58610000</td>
                                    <td class="tdcenter">*</td>
                                    <td class="tdcenter">済</td>
                                    <td class="tdcenter">20/04</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 35px;" class="tdcenter">建物</td>
                                    <td class="tdcenter">B</td>
                                    <td class="tdcenter">40</td>
                                    <td class="tdcenter"></td>
                                    <td class="tddate">2019/6/18</td>
                                    <td class="tdprice">5861000</td>
                                    <td class="tdcenter">*</td>
                                    <td class="tdcenter">済</td>
                                    <td class="tdcenter">20/04</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 35px;" class="tdcenter"></td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter">41</td>
                                    <td class="tdcenter"></td>
                                    <td class="tddate"></td>
                                    <td class="tdprice"></td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter"></td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 35px;" class="tdcenter"></td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter">42</td>
                                    <td class="tdcenter"></td>
                                    <td class="tddate"></td>
                                    <td class="tdprice"></td>
                                    <td class="tdcenter"></td>
                                    <td class="tdcenter"></td>
                                    <td style="padding-left: 35px;" class="tdcenter"></td>
                                </tr>
                            </tbody>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>

    <div style="margin-top: 50px;">
        <mat-tab-group style="float: left; width: 100%">
            <mat-tab class="sekkei" label="設計">
                <shiwake-table [shiwakeData]="shiwakeData" [bunkatsuData]="bunkatsuData"></shiwake-table>
            </mat-tab>
            <mat-tab class="hontai" label="本体">
                <shiwake-table [shiwakeData]="shiwakeData" [bunkatsuData]="bunkatsuData"></shiwake-table>
            </mat-tab>
            <mat-tab class="tsuika" label="追加">
                <shiwake-table [shiwakeData]="shiwakeData" [bunkatsuData]="bunkatsuData"></shiwake-table>
            </mat-tab>
        </mat-tab-group>
    </div>
    <footer>
        <div class="footer-container" style="background-color: aqua;">
            <div>
                <div style="margin-bottom: 10px;">
                    <button mat-button id="btnClose " class="btn btn-secondary border mx-1 back-btn ">明細追加</button>
                </div>
            </div>
            <div class="text-left footer">
                <div class="text-left footer ">
                    <button mat-button id="btnClose " style="width: 180px;" class="btn btn-secondary border mx-1 back-btn ">発注先パターン選択</button>
                </div>
                <div class="text-left footer ">
                    <button mat-button id="btnClose " class="btn btn-secondary border mx-1 back-btn ">得意先元帳</button>
                </div>
                <div class="text-left footer ">
                    <button mat-button id="btnClose " class="btn btn-secondary border mx-1 back-btn ">工事台帳</button>
                </div>
                <div class="text-left footer ">
                    <button mat-button id="btnClose " class="btn btn-secondary border mx-1 back-btn ">明細一覧</button>
                </div>
                <div class="text-left footer ">
                    <button mat-button id="btnClose " class="btn btn-secondary border mx-1 back-btn ">更新終了</button>
                </div>
            </div>
        </div>
    </footer>


</div>