/********************* Page Footer *************************/

.footer-container {
    /* position: fixed; */
    /* position: relative; */
    display: inline-block;
    bottom: 0;
    padding-bottom: 12.5px;
    z-index: 2;
    width: 100%;
}

.footer {
    position: relative;
    /* display: fixed; */
    background-color: #F5F5F5;
}

.footer>.back-btn {
    display: inline-block;
    width: 120px;
    float: left;
}

.section-left {
    float: left;
    width: 40%;
    border: 0.5px solid #CCD0D5;
}

.section-right {
    margin-left: 45%;
    width: 55%;
    border: 0.5px solid #CCD0D5;
}

.table-Shiwake>thead>tr {
    text-align: center;
}

th {
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-top: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
    font: bold 12px "メイリオ" !important;
    text-align: center;
    padding: 5px;
}

td {
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-top: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
    padding: 0px 5px;
}

.table-Shiwake>tbody {
    height: 250px !important;
    overflow-y: scroll;
    overflow: auto;
}

.table-Shiwake {
    height: 250px;
    max-width: 40%px;
    position: relative;
    margin: 0;
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
}

.table-Shiwake>tbody>tr>td,
.table-Detail>tbody>tr>td {
    border: 0.5px solid #CCD0D5;
}

.shiwakeCode-1 {
    width: 50px;
    text-align: center;
}

.shiwakeCode-2 {
    width: 20px;
    text-align: center;
}

.shiwakeKeiri {
    width: 50px;
    text-align: center;
}

.shiwakeName {
    width: 150px;
    text-align: left;
}

.shiwakeHachu-1 {
    width: 20px;
    text-align: center;
}

.shiwakeHachu-2 {
    width: 150px;
    text-align: left;
}

.shiwakeKingaku {
    width: 200px;
    text-align: right;
}

.table-Detail {
    height: 250px;
    max-width: 50%;
    margin: 0;
    border-collapse: collapse;
    border-right: 0.5px solid #CCD0D5;
    border-bottom: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
}

#orderInfomation {
    width: 1287px;
}

#firstPart {
    position: relative;
    height: 150px;
}

.orderInfo1 {
    position: absolute;
    height: 40%;
}

.orderInfo1Table {
    height: 100%
}

.orderInfo2 {
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0%;
    overflow: hidden;
}

.orderInfo2Table1 {
    float: left;
    height: 99%;
    width: 35%;
}

.orderInfo2Table2 {
    float: left;
    height: 99%;
    width: 65%;
}


/* table {
    border-top: 1px solid #CCD0D5;
} */

.tdcenter {
    text-align: center;
    padding: 0px 10px;
    min-width: 40px;
    min-height: 23px;
}

.tddate {
    text-align: center;
    width: 83px;
    min-height: 23px;
}

.tdprice {
    text-align: right;
    width: 100px;
    padding: 0px 5px 0px 20px;
    height: 23px;
}

#scrollTableDiv {
    position: relative;
    overflow-y: scroll;
    height: 116px;
    top: -1px;
}

#secondPart {
    position: relative;
    margin-top: 10px;
    overflow: hidden;
}

#orderInfo3Table1 {
    float: left;
}

#orderInfo3Table2 {
    position: absolute;
    height: 100%;
    width: 100%;
}

#orderInfoCount {
    position: absolute;
}

#i3t2head {
    position: relative;
    height: 20%;
}

#theadHeight {
    position: relative;
}

#addConstr {
    position: absolute;
    top: 20%;
    bottom: 1px;
    width: 25px;
    border: 0.5px solid #CCD0D5;
    text-align: center;
    font: bold 12px "メイリオ" !important;
    background-color: white;
    z-index: 1;
    padding-top: 3.5%;
}

#i3t2body {
    position: relative;
    top: 20%;
    bottom: 0;
    width: 100%;
}

#thisOne {
    position: relative;
}


/*  -----------------タブのスタイル---------------------------  */

.mat-tab-label {
    min-width: 25px !important;
    max-width: 50px !important;
    padding: 5px;
    background-color: transparent;
    color: black;
    font-weight: 700;
    text-align: center;
}

.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    max-width: 60px !important;
    padding: 5px;
    background-color: #305496;
    color: white;
    font-weight: 700;
    text-align: center;
}

.mat-ink-bar {
    background-color: transparent;
}


/*  ----------------------------------------------------------------  */