.modal {
  position: fixed;
  top: 10%;
  left: 30%;
  height: 700px;
  width: 40%;
  border-radius: 15px;
}

.modal-header{
  font-size: 1.2em;
  font-weight:bold;
  background-color: rgb(229, 241, 247);
  justify-content: center;
  align-items: center;
}

.modal-footer{
  background-color: rgb(229, 241, 247);
  justify-content: space-between;
}

.table{
  width: 80%;
  margin-left: 10%;
  margin-right: 15%;
}
.table>thead {
  background-color: #E5E5E5;
}
.table>tbody {
  height: 130px;
  overflow-y: scroll;
}

.td-b {
  border-right: 0.5px solid #CCD0D5;
}

.table-str{
  height: 40px;
  width: 18%;
  word-wrap: break-word;
}

.table-l{
  height: 40px;
  width: 50%;
  word-wrap: break-word;
}

.errormsg{
  font-size: 1.2em;
  color: rgb(255, 0, 0);
}

/* Ipad 立向き の対応 */
@media screen and (width:768px){
  #M_ODIS0030.modal{
      position: fixed !important;
      top: 50% !important;
      left: 50% !important;
      height: 700px !important;
      width: 700px !important;
      border-radius: 15px !important;
      transform: translate(-50%, -50%) !important;
  }
}

/* Ipad 横向き の対応 */
@media screen and (max-width:1024px){
  #M_ODIS0030.modal{
      position: fixed !important;
      top: 50% !important;
      left: 50% !important;
      height: 700px !important;
      width: 700px !important;
      border-radius: 15px !important;
      transform: translate(-50%, -50%) !important;
  }
}
