/*************************************************************/
/*****                                                    ****/
/*****                    PAGE FOOTER                     ****/
/*****                                                    ****/
/*****                                                    ****/
/*************************************************************/

.footer-container {
    position: flex;

    display: inline-block;
    bottom: 0;
    padding-bottom: 12.5px;
    z-index: 2;
    justify-content: space-between;
    width: 100%;
}

.footer {
    /* position: fixed ;
    display: fixed ; */
    background-color: #F5F5F5 ;
    z-index: 1;
    height: 50px ;
}

.footer>.back-btn {
    display: inline-block ;
    width: 120px ;
}

/*************************************************************/
/*****                                                    ****/
/*****                    PAGE TAB                        ****/
/*****                                                    ****/
/*****             タブのスタイルを設定                      ****/
/*************************************************************/
.mat-tab-label {
    min-width: 25px !important;
    width: fit-content !important;
    padding: 3px ;
    background-color: #cccccc ;
    color: black ;
    font-weight: 700 ;
    text-align: center ;
    margin: 0 !important;
    padding: 10px 10px 10px 10px !important;
}

.mat-tab-label-active {
    min-width: 25px ;
    width: fit-content !important;
    padding: 3px ;
    background: #305496 ;
    color: #fff ;
    font-weight: 700 ;
    text-align: center ;
    border-radius: 0px;
}

.mat-ink-bar {
    background: #305496 ;
    width: auto !important ;
    height: 5px !important;
}

.tabGroup {
    min-height: 150px ;
}

/*************************************************************/
/*****                                                     ****/
/*****          発注情報、契約情報　　                        ****/
/*****                                                     ****/
/*************************************************************/
.orderInfo {
    min-width: 960px ;
    position: relative ;
    max-height: 80px ;
}

.orderInfo2 {
    max-width: 100% ;
    margin-top: 10px ;
    position: relative ;
    min-width: 1120px ;
}

.orderInfo2Table1 {
    position: relative ;
    float: left ;
    height: 90px ;
    max-height: 90px ;
    max-width: 380px ;
}


.orderInfo2Table2>tr>td>p {
    margin-bottom: 0;
}

.orderInfo2Table2 {
    position: relative ;
    height: 90px ;
    max-height: 90px ;
    width: auto;
}

.infoTable {
    min-width: 1120px ;
    margin-top: 10px;
    width: max-content;
    height: 170px;
    position: relative;
}

.tbl2>table>thead>tr>th {
    position: sticky ;
    height: 26px;
    top: 0;
    background-color: white;
    z-index: 1;
    box-shadow: 1px 0px 0px 0px #dee2e6 inset, 0px -2px 0px 0px #dee2e6 inset, 0px 1px 0px 0px #dee2e6 inset;
    text-align: center;
    padding: 0 5px;
}

.tbl1 {
    width: fit-content;
    float: left ;
    max-width: 600px;
}

.tbl1>table>tbody>tr>td {
    min-width: 25px;
}

.tbl2 {
    overflow-y: auto;
    height: 141px;
    float: left;
    margin-left: 20px;
    width: fit-content;
}

.tbl2>table>tbody>tr>td {
    min-width: 25px;
    box-shadow: 1px -1px 0px 0px #dee2e6 inset;
}

.tsuikakouji {
    position: absolute; 
    background-color: #fff; 
    height: 115px;
    width: 23px;
    text-align: center;
    z-index: 1;
    box-shadow: 1px 0px 0px 0px #dee2e6 inset, 0px -1px 0px 0px #dee2e6 inset, -1px 0px 0px 0px #dee2e6 inset;
    padding: 15px 0px;
}

.tdcenter {
    text-align: center ;
    padding: 0px 10px ;
    min-width: 40px ;
    min-height: 23px ;
    font-size: small;
}

.tddate {
    text-align: center ;
    width: 83px ;
    min-height: 23px ;
    font-size: small;
}

.tdprice {
    text-align: right ;
    width: 100px ;
    padding: 0px 5px 0px 20px ;
    height: 23px ;
}

.tdContract {
    min-width: 300px ;
    max-height: 20px ;
}

.tdCode {
    min-width: 150px ;
}

.bottomButton {
    position: fixed;
    z-index: 2;
    bottom: 2px;
}

.button-container {
    width: 50%;
    margin-left: 0;
}

/*************************************************************/
/*****                                                    ****/
/*****          分割明細の追加するテーブル                   ****/
/*****                                                    ****/
/*************************************************************/

.insert-table>tr>th {
    background-color: #C5D9F1;
    text-align: center;
}

.insert-table>tbody>tr>td>input{
    text-align: right;
    border: 0;
}

.add-journalCode{
    margin: 0;
    padding: 0;
    width: 60px;
    
}
.add-accountCode{
    margin: 0;
    padding: 0;
    width: 60px;
}
.add-journalName{
    margin: 0;
    padding: 0;
}
.add-supplierCode{
    margin: 0;
    padding: 0;
    width: 60px;
}
.add-supplierName{
    width: 200px;
    
}
.add-planAmount{
    margin: 0;
    padding: 0;
}

.mat-icon {
    height: auto !important;
}

