/*************************************************************/
/*****                                                    ****/
/*****                    PAGE FOOTER                     ****/
/*****                                                    ****/
/*****                                                    ****/
/*************************************************************/

.footer-container {
    position: flex;

    display: inline-block;
    bottom: 0;
    padding-bottom: 12.5px;
    z-index: 2;
    justify-content: space-between;
    width: 100%;
}

.footer {
    /* position: fixed ;
    display: fixed ; */
    background-color: #F5F5F5 ;
    z-index: 1;
    height: 50px ;
}

.footer>.back-btn {
    display: inline-block ;
    width: 120px ;
}

/*************************************************************/
/*****                                                    ****/
/*****                    PAGE TAB                        ****/
/*****                                                    ****/
/*****             タブのスタイルを設定                      ****/
/*************************************************************/
.mat-tab-label {
    min-width: 25px !important;
    width: fit-content !important;
    padding: 3px ;
    background-color: #cccccc ;
    color: black ;
    font-weight: 700 ;
    text-align: center ;
    margin: 0 !important;
    padding: 10px 10px 10px 10px !important;
}

.mat-tab-label-active {
    min-width: 25px ;
    width: fit-content !important;
    padding: 3px ;
    background: #305496 ;
    color: #fff ;
    font-weight: 700 ;
    text-align: center ;
    border-radius: 0px;
}

.mat-ink-bar {
    background: #305496 ;
    width: auto !important ;
    height: 5px !important;
}

.tabGroup {
    min-height: 150px ;
}

/*************************************************************/
/*****                                                     ****/
/*****          発注情報、契約情報　　                        ****/
/*****                                                     ****/
/*************************************************************/
.upperSection {
    width: 100%;
    overflow-x: auto;
}

.mainInfo>section>table>tr>th {
    padding: 0 5px;
    white-space: nowrap;
    text-align: center;
}

.mainInfo>section>table>tr>td {
    padding: 0 5px;
    white-space: nowrap;
}

.orderInfo {
    min-width: 960px ;
    position: relative ;
    max-height: 80px ;
}

.orderInfo2 {
    max-width: 100% ;
    margin-top: 10px;
    margin-right: 42px;
    position: relative ;
    min-width: 1174px ;
}

.orderInfo2Table1 {
    position: relative ;
    float: left ;
    height: 90px ;
    max-height: 90px ;
    max-width: 380px ;
}


.orderInfo2Table2>tr>td>p {
    margin-bottom: 0;
}

.orderInfo2Table2 {
    position: relative ;
    height: 90px ;
    max-height: 90px ;
    width: auto;
}

.infoTable {
    min-width: 1120px ;
    margin-top: 10px;
    width: max-content;
    height: 170px;
    position: relative;
}


.tbl1 {
    width: fit-content;
    float: left ;
    max-width: 600px;
}

.tbl1>table>thead>tr>th {
    text-align: center;
    padding: 0 5px;
}

.tbl1>table>tbody>tr>td {
    min-width: 25px;
}

.tbl2 {
    overflow-y: auto;
    height: 139px;
    float: left;
    margin-left: 20px;
    width: fit-content;
}

.tbl2>table>thead>tr>th {
    position: sticky ;
    height: 24px;
    top: 0;
    background-color: white;
    z-index: 1;
    box-shadow: 1px 0px 0px 0px #dee2e6 inset, 0px -2px 0px 0px #dee2e6 inset, 0px 1px 0px 0px #dee2e6 inset;
    text-align: center;
    padding: 0 5px;
}

.tbl2>table>tbody>tr>td {
    min-width: 25px;
    box-shadow: 1px -1px 0px 0px #dee2e6 inset;
}

.tsuikakouji {
    position: absolute; 
    background-color: #fff; 
    height: 115px;
    width: 23px;
    text-align: center;
    z-index: 1;
    box-shadow: 1px 0px 0px 0px #dee2e6 inset, 0px -1px 0px 0px #dee2e6 inset, -1px 0px 0px 0px #dee2e6 inset;
    padding: 15px 0px;
}

.tdcenter {
    text-align: center ;
    padding: 0px 10px ;
    min-width: 40px ;
    min-height: 23px ;
    font-size: small;
}

.tddate {
    text-align: center ;
    width: 83px ;
    min-height: 23px ;
    font-size: small;
}

.tdprice {
    text-align: right ;
    width: 90px ;
    padding: 0px 5px 0px 20px ;
    height: 23px ;
}

.tdContract {
    min-width: 300px ;
    max-height: 20px ;
}

.tdCode {
    min-width: 150px ;
}

.SC0020-bottomButton {
    position: fixed;
    z-index: 2;
    bottom: 2px;
}

.button-container {
    width: 581px;
    margin-left: 0;
}

.middleButtons {
    left: 43%;
    right: 50%;
    width: 320px;
    margin: auto;
    /* border: 1px solid red;  */
    height: 50px; 
    position: fixed;
    bottom: 0;
    z-index: 2;
}

@media screen and (max-width: 804px){
    .middleButtons {
        left:45%;
    }

    .SC0020-bottomButton>button {
        padding: 0 10px!important;
        width: fit-content !important;
    }

}

/*************************************************************/
/*****                                                    ****/
/*****          分割明細の追加するテーブル                   ****/
/*****                                                    ****/
/*************************************************************/

.insert-table>tr>th {
    background-color: #C5D9F1;
    text-align: center;
}

.insert-table>tbody>tr>td>input{
    text-align: right;
    border: 0;
    white-space: nowrap;
}

.insert-table>tbody>tr>td{
    white-space: nowrap;
}

.add-journalCode{
    margin: 0;
    padding: 0;
    width: 50px;
    
}
.add-accountCode{
    margin: 0;
    padding: 0;
    width: 30px;
}
.add-journalName{
    margin: 0;
    padding: 0;
    width: 140px;
}
.add-supplierCode{
    margin: 0;
    padding: 0;
    width: 30px;
}
.add-supplierName{
    width: 170px;
    min-width: 170px;
    
}
.add-planAmount{
    margin: 0;
    padding: 0;
}

#txtAddAmount {
    width: 110px;
}

.mat-icon {
    height: auto !important;
}

.grayOut{
    text-align: left; 
    background-color: whitesmoke;
}

.modifyTbl{
    overflow-x: auto;
}
/*************************************************************/
/*****                                                    ****/
/*****                   TABLE APPROVAL                   ****/
/*****            テーブルをスクロールする時、               ****/
/*****           ヘッダーとフォッターを固定させる             ****/
/*************************************************************/

.approval-table{
    /* min-width: 700px; */
    margin-bottom: 1rem;
    margin-top: 5px;
    max-width: 768px;
}

.approval-table>tr>.request{
    background-color: #C5D9F1;
}
.approval-table>tr>.approval{
    background-color: #FDE9D9;
}

.approval-table > tr{
    height: 40px !important;
}
.approval-table>tr>th{
    width: 60px;
    text-align: center;
}
.approval-table >tr>td{
    padding: 0;
    text-align: center;
    vertical-align: middle;
    /* width: 100px; */
}
.approval-table >tr>td>button{
    width: 70px;
    height: 35px !important;
    border: 0;
}
.approval-table >tr>td>label{
    /* width: 70px; */
    /* height: 35px !important; */
    /* border: 0; */
    margin-bottom: 0;
}

.approval-table >tr>.td-date{
    /* min-width: 75px; */
    width: 80px;
}
.approval-table >tr>.td-name{
    /* min-width: 100px; */
    width: 110px;
}

.color-input-2 {
    background-color: #95B3D7 !important;
    text-align: center;
}

.color-input-3 {
    background-color: #FABF8F !important;
    height: 30px;
}

.color-input-4 {
    background-color: #FDE9D9 !important;
    height: 30px;
}