/********************* Page Footer *************************/

.footer-container {
    position: flex;
    display: inline-block;
    bottom: 0;
    padding-bottom: 12.5px;
    z-index: 2;
    justify-content: space-between;
    width: 100%;
}

.footer {
    position: fixed ;
    display: fixed ;
    background-color: #F5F5F5 ;
    z-index: 1;
    height: 50px ;
}

.footer>.back-btn {
    display: inline-block ;
    width: 120px ;
}

/*  -----------------タブのスタイル---------------------------  */

.mat-tab-label {
    min-width: 25px !important;
    max-width: 50px !important;
    padding: 3px ;
    background-color: #cccccc ;
    color: black ;
    font-weight: 700 ;
    text-align: center ;
}

.mat-tab-label-active {
    min-width: 25px ;
    width: 60px !important;
    padding: 3px ;
    background: #305496 ;
    color: #fff ;
    font-weight: 700 ;
    text-align: center ;
    border-radius: 0px;
    
}

.mat-ink-bar {
    background: #305496 ;
    width: auto ;
    height: 5px !important;
}

.tabGroup {
    min-height: 150px ;
}

/*  ----------------------------------------------------------------  */

.orderInfo {
    min-width: 960px ;
    position: relative ;
    max-height: 80px ;
}

.orderInfo1Table {
    position: relative ;
    height: 50px ;
    max-height: 50px ;
    max-width: 960px ;
}

.orderInfo1Table>td {
    min-height: 21px ;
}

.orderInfo2 {
    max-width: 100% ;
    margin-top: 10px ;
    position: relative ;
    min-width: 1120px ;
}

.orderInfo2Table1 {
    position: relative ;
    float: left ;
    height: 90px ;
    max-height: 90px ;
    max-width: 380px ;
}

.orderInfo2Table2 {
    position: relative ;
    height: 80px ;
    max-height: 80px ;
    width: auto;
}

.infoTable {
    min-width: 1050px ;
    margin-top: 10px;
    width: auto;
    height: 170px;
    position: relative;
}

.infoTable>div>table>thead>tr>th {
    position: sticky ;
    top: 0;
    background-color: white;
}

.tbl1 {
    width: fit-content;
    float: left ;
    max-width: 600px;
}

.tbl1>table>tbody>tr>td {
    min-width: 25px;
}

.tbl2 {
    overflow-y: auto;
    height: 161px;
    float: left;
    margin-left: 30px;
    width: fit-content;
}

.tbl2>table>tbody>tr>td {
    min-width: 25px;
}


/**
* tbl2 will draw the top and bottom border while scrolling
*/

.tbl2>table>thead>tr>th:after,
.tbl2>table>thead>tr>th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
}

.tbl2>table>thead>tr>th:before {
    top: -1px;
    border-top: 0.5px solid #CCD0D5;
}

.tbl2>table>thead>tr>th:after {
    bottom: -1px;
    border-bottom: 0.5px solid #CCD0D5;
}


/* -------------------------------------- */

.tdcenter {
    text-align: center ;
    padding: 0px 10px ;
    min-width: 40px ;
    min-height: 23px ;
    font-size: small;
}

.tddate {
    text-align: center ;
    width: 83px ;
    min-height: 23px ;
    font-size: small;
}

.tdprice {
    text-align: right ;
    width: 100px ;
    padding: 0px 5px 0px 20px ;
    height: 23px ;
}

.tdContract {
    min-width: 300px ;
    max-height: 20px ;
}

.tdCode {
    min-width: 150px ;
}

.bottomButton {
    position: fixed;
    z-index: 2;
    bottom: 5px;
}

.button-container {
    width: 50%;
    margin-left: 0;
}

.orderdetailaddinput>tr>th {
    background-color: #C5D9F1;
    text-align: center;
}

.orderdetailaddinput>tbody>tr>td>input{
    border: 0;
}