<loading-spinner *ngIf="isLoading"></loading-spinner>
<div *ngIf="isInitFlg">
    <section>
        <div>
            <section class="orderInfo">
                <table class="table-bordered">
                    <tr class="text-center">
                        <th style="width: 120px;">発注番号</th>
                        <th style="width: 120px">事業コード</th>
                        <th style="width: 300px;">事業所名</th>
                        <th colspan="2" style="width: 200px;">営業担当者</th>
                        <th colspan="2" style="width: 200px;">建築担当者</th>
                    </tr>
                    <tr>
                        <td>
                            {{orderCustomerInfo.contractNum}}
                        </td>
                        <td class="tdcenter">
                            {{orderCustomerInfo.officeCode}}
                        </td>
                        <td>
                            {{orderCustomerInfo.officeName}}
                        </td>
                        <td class="tdcenter" style="width: 70px;">
                            {{orderCustomerInfo.salesStaffCode}}
                        </td>
                        <td style="width: 130px;">
                            {{orderCustomerInfo.salesStaffName}}
                        </td>
                        <td class="tdcenter" style="width: 70px;">
                            {{orderCustomerInfo.architectCode}}
                        </td>
                        <td style="width: 130px;">
                            {{orderCustomerInfo.architectName}}
                        </td>
                    </tr>
                </table>
            </section>

            <section class="orderInfo2">
                <table class="orderInfo2Table1 table-bordered">
                    <tr>
                        <th rowspan="2" style="width: 80px;">工事名</th>
                        <td class="tdContract" colspan="2" style="word-wrap: break-word;">
                            {{orderCustomerInfo.constructionKata}}
                        </td>
                    </tr>
                    <tr>
                        <td class="tdContract" colspan="2" style="width: 50px;">
                            {{orderCustomerInfo.constructionHira}}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 80px;">契約者名</th>
                        <td class="tdCode">
                            {{orderCustomerInfo.contractorCode}}
                        </td>
                        <td class="tdCode">
                            {{orderCustomerInfo.contractorName}}
                        </td>
                    </tr>
                </table>
                <table class="orderInfo2Table2 table-bordered">
                    <tr>
                        <th style="border-left: none !important;">予定年月日</th>
                        <th rowspan="2">契<br>約</th>
                        <td class="tddate">
                            <p>{{order0DateInfo.planContractDate}}</p>
                        </td>
                        <th rowspan="2">D<br>/<br>O</th>
                        <td class="tddate">
                            <p>{{order0DateInfo.planDODate}}</p>
                        </td>
                        <th rowspan="2">着<br>工</th>
                        <td class="tddate">
                            <p>{{order0DateInfo.planStartDate}}</p>
                        </td>
                        <th rowspan="2">入<br>荷</th>
                        <td class="tddate">
                            <p>{{order0DateInfo.planArrivalDate}}</p>
                        </td>
                        <th rowspan="2">木<br>工<br>事</th>
                        <td class="tddate">
                            <p>{{order0DateInfo.planWoodWorkDate}}</p>
                        </td>
                        <th rowspan="2">総<br>合<br>検<br>査</th>
                        <td class="tddate">
                            <p>{{order0DateInfo.planInspectionDate}}</p>
                        </td>
                        <th rowspan="2" style="word-wrap: normal;">竣<br>工<br>検<br>査</th>
                        <td class="tddate">
                            <p>{{order0DateInfo.planCompletionInspection}}</p>
                        </td>
                        <th rowspan="2">引<br>渡</th>
                        <td class="tddate">
                            <p>{{order0DateInfo.planHandingOver}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 10%; border-left: 0;">実績年月日</th>
                        <td class="tddate">
                            <p>{{order0DateInfo.perforContractDate}}</p>
                        </td>
                        <td class="tddate">
                            <p>{{order0DateInfo.perforDODate}}</p>
                        </td>
                        <td class="tddate">
                            <p>{{order0DateInfo.perforStartDate}}</p>
                        </td>
                        <td class="tddate">
                            <p>{{order0DateInfo.perforArrivalDate}}</p>
                        </td>
                        <td class="tddate">
                            <p>{{order0DateInfo.perforWoodWorkDate}}</p>
                        </td>
                        <td class="tddate">
                            <p>{{order0DateInfo.perforInspectionDate}}</p>
                        </td>
                        <td class="tddate">
                            <p>{{order0DateInfo.perforCompletionInspection}}</p>
                        </td>
                        <td class="tddate">
                            <p>{{order0DateInfo.perforHandingOver}}</p>
                        </td>
                    </tr>
                </table>
            </section>
        </div>
        <div class="infoTable">
            <div class="tbl1">
                <table class=" table-bordered">
                    <thead>
                        <tr>
                            <th>契　約</th>
                            <th>受注形態</th>
                            <th colspan="2">枝番</th>
                            <th>年月日</th>
                            <th>金額</th>
                            <th>発注</th>
                            <th colspan="2">売上</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of tblMainOrder;">
                            <td style="width: 90px;" class="tdcenter">{{data.contractModel}}</td>
                            <td style="width: 67px;" class="tdcenter">{{data.orderModel}}</td>
                            <td style="width: 36px;" class="tdcenter">{{data.branchNum1}}</td>
                            <td style="width: 36px;" class="tdcenter">{{data.branchNum2}}</td>
                            <td style="width: 83px;" class="tddate">{{data.date}}</td>
                            <td class="tdprice">{{data.contractAmount | number}}</td>
                            <td style="width: 39px;" class="tdcenter">{{data.completeStatus}}</td>
                            <td style="width: 39px;" class="tdcenter">{{data.salesStatus}}</td>
                            <td style="width: 55px;" class="tdcenter">{{data.salesUpdateDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tbl2">
                <table>
                    <thead id="theadHeight">
                        <tr>
                            <th style="width: 80px;">契　約</th>
                            <th>受注形態</th>
                            <th colspan="2">枝番</th>
                            <th>年月日</th>
                            <th>金額</th>
                            <th>発注</th>
                            <th colspan="2">売上</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th class="tsuikakouji">追<br>加<br>工<br>事</th>
                        <tr *ngFor="let data of tblInsertedOrder; let i = index">
                            <td class="tdcenter" style="padding-left: 32px !important;">{{data.contractModel}}</td>
                            <td class="tdcenter">{{data.orderModel}}</td>
                            <td style="width: 36px;" class="tdcenter">{{data.branchNum1}}</td>
                            <td style="width: 36px;" class="tdcenter">{{data.branchNum2}}</td>
                            <td class="tddate">{{data.date}}</td>
                            <td class="tdprice">{{data.contractAmount | number}}</td>
                            <td style="width: 39px;" class="tdcenter">{{data.completeStatus}}</td>
                            <td style="width: 39px;" class="tdcenter">{{data.salesStatus}}</td>
                            <td style="width: 55px;" class="tdcenter">{{data.salesUpdateDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section style="margin-top: 10px;" class="tabGroup">
        <mat-tab-group disableRipple = "true" animationDuration="700ms" (selectedTabChange)="setSelectTabChanged($event)"
            [selectedIndex]="tabValue">
            <mat-tab class="sekkei" tabindex="1" label="設計">
                <shiwake-table #tabSekkei [orderData]="tblSekkei" (sendOrderData)="getEmitter($event)"></shiwake-table>
            </mat-tab>
            <mat-tab class="hontai" tabindex="2" label="ハウス・外構">
                <shiwake-table #tabHontai [orderData]="tblHontai" (sendOrderData)="getEmitter($event)"></shiwake-table>
            </mat-tab>
            <mat-tab class="kaitai" tabindex="3" label="解体">
                <shiwake-table #tabKaitai [orderData]="tblKaitai" (sendOrderData)="getEmitter($event)"></shiwake-table>
            </mat-tab>
            <mat-tab class="tsuika" tabindex="4" label="追加工事">
                <shiwake-table #tabTsuika [orderData]="tblTsuika" (sendOrderData)="getEmitter($event)"></shiwake-table>
            </mat-tab>
        </mat-tab-group>
    </section>

    <section style="margin-top: 10px;">
        <table class="insert-table table-sm table-bordered">
            <tr>
                <th style="width: 70px;">
                    <button style="margin: 0;padding: 0;" class="btn btn-link" data-toggle="modal"
                        data-target="#M_ODIS0030" tabindex="5"
                        (click)="orderJournalSelect($event,this.addInput.journalCode);">仕訳<br>コード</button>
                </th>
                <th style="width: 70px;">経理<br>分類</th>
                <th>仕訳名称</th>
                <th colspan="2">
                    <button style="padding: 0;" class="btn btn-link" data-toggle="modal" data-target="#M_ODIS0040"
                    tabindex="6" (click)="orderSupplierSelect($event,this.addInput.orderSupplierCode);">発注先</button>
                </th>
                <th>発注予定金額</th>
            </tr>
            <tbody>
                <tr>
                    <td style="width: auto;">
                        <input type="tel" maxlength="4" class="add-journalCode" id="txtAddJCode" name="journalCode"
                            [(ngModel)]="addInput.journalCode" style="text-align:left;" tabindex="7"
                            (keyup)="toHanNumJC($event)" (change)="toHanNumJC($event)" (blur)="getJournalCode($event)">
                    </td>
                    <td>
                        <input type="tel" maxlength="3" class="add-accountCode" id="txtAddAccCode"
                            name="accountingCategory" [(ngModel)]="addInput.accountCode"
                            style="text-align:left;" tabindex="8" (keyup)="toHanNumAC($event)"
                            (change)="toHanNumAC($event)"(blur)="blurAccountCode($event)">
                    </td>
                    <td>
                        <input type="text" maxlength="10" class="add-journalName" name="orderJournalName"
                            [(ngModel)]="addInput.journalName" tabindex="9" style="text-align:left;"
                            (blur)="toZenkakuJN($event)" (change)="toZenkakuJN($event)">
                    </td>
                    <td>
                        <input type="tel" maxlength="3" class="add-supplierCode" name="supplierCode"
                            [(ngModel)]="addInput.orderSupplierCode" style="ime-mode:disabled; text-align:left;"
                            tabindex="10" (keyup)="toHanNumSC($event)" (change)="toHanNumSC($event)" (blur)="getOrderCode($event)">
                    </td>
                    <td class="add-supplierName" style="text-align: left;">{{addInput.orderSupplierName}}</td>
                    <td class="add-planAmount">
                        <input type="tel" maxlength="11" id="txtAddAmount" name="orderPlansKin"
                            [(ngModel)]="addInput.orderPlanAmount" tabindex="11" (focus)="commonFocusPA($event)"
                            (keyup)="toHanPricePA($event)" (change)="toHanPricePA($event)" (blur)="commonBlurPA($event)">
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <section style="margin-top: 10px;">
        <div class="button-container">
            <button disabled={{btnInsert}} mat-button (click)="insertOrderDetail()"
                class="btn btn-success" tabindex="12">明細追加</button>
            <button disabled={{btnUpdate}} mat-button (click)="updateOrderDetail()"
                class="btn btn-info m-1 border" tabindex="13">明細更新</button>
            <button disabled={{btnStop}} mat-button (click)="stopUpdateOrderDetail()"
                class="btn btn-danger border m-1" tabindex="14">中止</button>
            <button disabled={{btnDelete}} mat-button style="float: right;" (click)="deleteOrderDetail()"
                class="btn btn-danger border m-1" tabindex="15">明細削除</button>
        </div>
    </section>
    <br>
    <div class="footer-container" style=" margin-top: 20px;">
        <div class="_footer-container">
            <div style="float: left;" class="bottomButton">
                <button mat-button id="btnBack" class="btn btn-secondary m-1 border mx-1 back-btn" 
                tabindex="16" (click)="backToApprovalPage($event);" >更新せず終了</button>
            </div>
            <div style="margin-left: 200px; bottom: 5px;" class="bottomButton">
                <button mat-button id="btnHSakiPatern" class="btn btn-secondary border mx-1 back-btn " data-toggle="modal"
                    data-target="#M_ODIS0050" (click)="supplierPattern($event);" tabindex="17">発注先パターン選択</button>
            </div>
            <div style="margin-left: 430px;" class="bottomButton">
                <button mat-button id="btnTokuiSaki" class="btn btn-info m-1 border mx-1" style ="display: none;" tabindex="18">得意先元帳</button>
            </div>
            <div style="margin-left: 550px;" class="bottomButton">
                <button mat-button id="btnKoujiDaichou" class="btn btn-info m-1 border" style ="display: none;" tabindex="19">工事台帳</button>
            </div>
            <div style="margin-left: 680px;" class="bottomButton">
                <button mat-button id="btnMeisaiIchiran" class="btn btn-info m-1 border" tabindex="20">明細一覧</button>
            </div>
            <div style="right: 46px;" class="bottomButton">
                <button mat-button id="btnKoushin" class="btn btn-info m-1 border"
                    (click)="finalUpdateProgress()" tabindex="21">更新終了</button>
            </div>
        </div>
        <ng-container *ngComponentOutlet="modal"></ng-container>
    </div>
</div>