<div id="search-form">
    <section id="detail-form-container">
        <a href="http://localhost:4200/OrderDetailApproval">発注検索画面</a><br> ・
        <a href="http://localhost:4200/SplitDetailInput">分割明細入力</a><br> ・
        <a href="http://localhost:4200/OrderDetailInput">発注詳細入力</a><br>
    </section>
    <label>ラベル</label>
    <input type="text" [(ngModel)]="str" name="str">

</div>

<div class="footer">
    <!--<button type="button" class="btn btn-secondary" (click)="setfrmUrl($event);" routerLink={{frmPath}}>閉じる</button>-->
    <input id="footer_button1" class="back-btn" type="button" value="発注仕訳マスタ選択" onClick="location.href='http://localhost:4200/OrderJournalSelect'">
    <input id="footer_button1" class="back-btn" type="button" value="発注明細入力_発注先パターン選択" onClick="location.href='http://localhost:4200/SupplierPattern'">
    <input id="footer_button1" class="back-btn" type="button" value="発注先マスタ選択" onClick="location.href='http://localhost:4200/OrderSupplierSelect'">
    <input id="footer_button1" class="back-btn" type="button" value="発注明細入力_明細入力" onClick="location.href='http://localhost:4200/OrderDetailAddInput'">
    <input id="footer_button1" class="back-btn" type="button" value="発注明細入力_分割明細入力_追加" onClick="location.href='http://localhost:4200/AddOrderDetail'">
</div>