<div id="search-form">
    <section id="detail-form-container">
        <!-- ・ <a href="http://10.96.8.123/PG/ODIS/java-angular-sample-source/#/OrderDetailApproval">発注検索画面</a><br> ・
        <a href="http://10.96.8.123/PG/ODIS/java-angular-sample-source/#/OrderDetailInput">発注詳細入力</a><br> ・
        <a href="http://10.96.8.123/PG/ODIS/java-angular-sample-source/#/OrderSplitApprovalMaster">発注承認者マスタ</a><br> ・
        <a href="http://10.96.8.123/PG/ODIS/java-angular-sample-source/#/OrderGrossProfitMargin">発注明細入力_粗利率確認</a><br> -->
       
        ・ <a href="http://localhost:4200/#/OrderDetailApproval">発注検索画面</a><br> ・
        <a href="http://localhost:4200/#/OrderDetailInput">発注詳細入力</a><br> ・
        <a href="http://localhost:4200/#/OrderSplitApprovalMaster">発注承認者マスタ</a><br> ・
        <a href="http://localhost:4200/#/OrderGrossProfitMargin">発注明細入力_粗利率確認</a><br>
    </section>
</div>