<div id="MODAL2" class="modal fade" tabindex="-1" role="dialog" data-backdrop="true">
    <div class="header">
        <label id="header_label">発注先パターン選択</label>
    </div>
    <div class="modal-content">
        <div class="box">
            <!-- <div class="box div-small"> -->
                <table class="table-small table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="table-str-large td-b text-center">パターン名</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <!--
                        <tr *ngFor="let item of indexDataList | slice:pageIndex*pageSize:(pageIndex+1)*pageSize">
                            <a routerLink="/detail/{{item.id}}" >
                                <td class="table-id td-b detail-link"  >{{ item.id }}</td>
                            </a>
                            <td class="table-str td-b">{{ item.name }}</td>
                            <td class="table-str td-b">{{ item.email }}</td>
                        </tr>
                        -->
                        <tr>
                            <td class="table-str-large td-b">大阪　梅田地区</td>
                        </tr>
                        <tr>
                            <td class="table-str-large td-b">大阪　南大阪地区</td>
                        </tr>
                        <tr>
                            <td class="table-str-large td-b">大阪　東大阪地区</td>
                        </tr>
                        <tr>
                            <td class="table-str-large td-b">戸建（鉄）　大阪</td>
                        </tr>
                        <tr>
                            <td class="table-str-large td-b">戸建（ＳＷ）　大阪</td>
                        </tr>
                    </tbody>
                </table>
            <!-- </div> -->
            
            <!-- <div class="box div-middle"> -->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="table-str td-b text-center">仕訳コード</th>
                            <th class="table-str td-b text-center">経理コード</th>
                            <th class="table-str td-b text-center">仕訳名称</th>
                            <th colspan="2" class="table-str td-b text-center" >発注先</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <!--
                        <tr *ngFor="let item of indexDataList | slice:pageIndex*pageSize:(pageIndex+1)*pageSize">
                            <a routerLink="/detail/{{item.id}}" >
                                <td class="table-id td-b detail-link"  >{{ item.id }}</td>
                            </a>
                            <td class="table-str td-b">{{ item.name }}</td>
                            <td class="table-str td-b">{{ item.email }}</td>
                        </tr>
                        -->
                        <tr>
                            <td class="table-str td-b">0200</td>
                            <td class="table-str td-b">020</td>
                            <td class="table-str td-b">基礎工事</td>
                            <td class="table-str td-b">803</td>
                            <td class="table-str td-b">積水建設㈱</td>
                        </tr>
                        <tr>
                            <td class="table-str td-b">0205</td>
                            <td class="table-str td-b">020</td>
                            <td class="table-str td-b">安全誘導員</td>
                            <td class="table-str td-b">803</td>
                            <td class="table-str td-b">積水建設㈱</td>
                        </tr>
                        <tr>
                            <td class="table-str td-b">0210</td>
                            <td class="table-str td-b">020</td>
                            <td class="table-str td-b">特殊基礎工事</td>
                            <td class="table-str td-b">803</td>
                            <td class="table-str td-b">積水建設㈱</td>
                        </tr>
                        <tr>
                            <td class="table-str td-b">0230</td>
                            <td class="table-str td-b">023</td>
                            <td class="table-str td-b">基礎残土処理</td>
                            <td class="table-str td-b">803</td>
                            <td class="table-str td-b">積水建設㈱</td>
                        </tr>
                        <tr>
                            <td class="table-str td-b">0240</td>
                            <td class="table-str td-b">024</td>
                            <td class="table-str td-b">地耐力調査費</td>
                            <td class="table-str td-b">803</td>
                            <td class="table-str td-b">積水建設㈱</td>
                        </tr>
                        <tr>
                            <td class="table-str td-b">0260</td>
                            <td class="table-str td-b">026</td>
                            <td class="table-str td-b">基礎塗装工事</td>
                            <td class="table-str td-b">803</td>
                            <td class="table-str td-b">積水建設㈱</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    <div class="modal-footer footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClick($event);">閉じる</button>
    </div>
</div>
