<div class="" style="background-color: antiquewhite;">
    <div style="float: left; width: 200px; background-color: aqua;">
        <table class="table table-hover table-striped" style="float: left; width: 100%;">
            <thead style="height: 80px;">
                <tr>
                    <th class="td-b text-center">パターン名</th>
                </tr>
            </thead>
            <tbody class="">

                <tr>
                    <td class="td-b">大阪　梅田地区</td>
                </tr>
                <tr>
                    <td class="td-b">大阪　南大阪地区</td>
                </tr>
                <tr>
                    <td class="td-b">大阪　東大阪地区</td>
                </tr>
                <tr>
                    <td class="td-b">戸建（鉄）　大阪</td>
                </tr>
                <tr>
                    <td class="td-b">戸建（ＳＷ）　大阪</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="float: left; width: 700px; background-color: blueviolet;">
        <table class="table table-hover table-striped" style="float: left;">
            <thead style="height: 80px;">
                <tr>
                    <th class=" text-center ">仕訳コード</th>
                    <th class="text-center ">経理コード</th>
                    <th class="text-center ">仕訳名称</th>
                    <th class="text-center " colspan="2 ">発注先</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-b ">0200</td>
                    <td class="td-b ">020</td>
                    <td class="td-b ">基礎工事</td>
                    <td class="td-b ">803</td>
                    <td class="td-b ">積水建設㈱</td>
                </tr>
                <tr>
                    <td class="td-b ">0205</td>
                    <td class="td-b ">020</td>
                    <td class="td-b ">安全誘導員</td>
                    <td class="td-b ">803</td>
                    <td class="td-b ">積水建設㈱</td>
                </tr>
                <tr>
                    <td class="td-b ">0210</td>
                    <td class="td-b ">020</td>
                    <td class="td-b ">特殊基礎工事</td>
                    <td class="td-b ">803</td>
                    <td class="td-b ">積水建設㈱</td>
                </tr>
                <tr>
                    <td class="td-b ">0230</td>
                    <td class="td-b ">023</td>
                    <td class="td-b ">基礎残土処理</td>
                    <td class="td-b ">803</td>
                    <td class="td-b ">積水建設㈱</td>
                </tr>
                <tr>
                    <td class="td-b ">0240</td>
                    <td class="td-b ">024</td>
                    <td class="td-b ">地耐力調査費</td>
                    <td class="td-b ">803</td>
                    <td class="td-b ">積水建設㈱</td>
                </tr>
                <tr>
                    <td class="td-b ">0260</td>
                    <td class="td-b ">026</td>
                    <td class="td-b ">基礎塗装工事</td>
                    <td class="td-b ">803</td>
                    <td class="td-b ">積水建設㈱</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>