<div id="MODAL1" class="modal fade" tabindex="-1" role="dialog" data-backdrop="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <label id="header_label">発注仕訳マスタ選択</label>
            </div>
            <div class="modal-body">
                <div class="table-container">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="table-str td-b text-center">仕訳コード</th>
                                <th class="table-str td-b text-center">経理コード</th>
                                <th class="table-str td-b text-center">仕訳名称</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of datas" (click)=onSelHighLight($event,data)>
                                <td class="table-str td-b">{{ data.journalCode }}</td>
                                <td class="table-str td-b">{{ data.accountingCategory }}</td>
                                <td class="table-str td-b">{{ data.journalName }}</td>
                            </tr>                 
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClick($event);">閉じる</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClick($event);">選択</button>
            </div>
        </div>
    </div>
</div>
