.split-shiwake-table {
    min-width: 537px;
}

.splitcolor-1 {
    padding: 0 5px;
    text-align: center;
    word-break: keep-all;
}

.splitCell {
    text-align: center;
    word-break: keep-all;
}