.split-shiwake-table {
    min-width: 537px;
}

.splitcolor-1 {
    text-align: center;
    word-break: keep-all;
}

.splitCell {
    text-align: center;
    word-break: keep-all;
}

.tableHeader {
    height: 30px;
}