.mat-table>thead>tr>th>th.mat-sort-header-sorted {
    color: blue;
}

.detail-table {
    width: 100%;
    min-width: 1200px;
    position: relative;
}

.mat-table>thead>tr>th,
.mat-table>tbody>tr>td {
    padding-left: 5px !important;
    border-top: 0.5px solid #CCD0D5;
    border-collapse: collapse;
    border-bottom: 0.5px solid #CCD0D5;
    border-right: 0.5px solid #CCD0D5;
    border-left: 0.5px solid #CCD0D5;
}
.mat-table>tbody>tr {
    height: 30px !important;
}


.color-approval-1 {
    background-color: #FABF8F;
}

.color-approval-2 {
    background-color: #95B3D7;
}

.color-approval-3 {
    background-color: #C4D79B;
}

mat-paginator {
    display: flex !important;
    justify-content: center;
}

.mat-paginator-navigation-first {
    order: 1;
}

.mat-paginator-navigation-previous {
    order: 2;
}

.mat-paginator-range-label {
    order: 4;
}

.mat-paginator-navigation-next {
    order: 5;
}

.mat-paginator-navigation-last {
    order: 6;
}

mat-paginator.mat-button,
mat-paginator.mat-flat-button,
mat-paginator.mat-icon-button,
mat-paginator.mat-stroked-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0 !important;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 1px;
    overflow: visible;
}

.keiyaku-bango {
    color: blue;
    outline: 0;
}
