<div style="height: 400px;">
    <table style="width: 300px; overflow: auto;" class=" table table-hover table-striped table-layout">
        <thead>
            <tr>
                <th class="td-b text-center">仕訳コード</th>
                <th class="td-b text-center">経理分類</th>
                <th class="td-b text-center">仕訳名称</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="">0200</td>
                <td class="">020</td>
                <td class="">基礎工事</td>
            </tr>
            <tr>
                <td class="">0205</td>
                <td class="">020</td>
                <td class="">安全誘導員</td>
            </tr>
            <tr>
                <td class="">0210</td>
                <td class="">020</td>
                <td class="">特殊基礎工事</td>
            </tr>
            <tr>
                <td class="">0230</td>
                <td class="">023</td>
                <td class="">基礎残土処理</td>
            </tr>
            <tr>
                <td class="">0240</td>
                <td class="">024</td>
                <td class="">地耐力調査費</td>
            </tr>
            <tr>
                <td class="">0260</td>
                <td class="">026</td>
                <td class="">基礎塗装工事</td>
            </tr>
            <tr>
                <td class="">0260</td>
                <td class="">026</td>
                <td class="">基礎塗装工事</td>
            </tr>
            <tr>
                <td class="">0260</td>
                <td class="">026</td>
                <td class="">基礎塗装工事</td>
            </tr>
            <tr>
                <td class="">0260</td>
                <td class="">026</td>
                <td class="">基礎塗装工事</td>
            </tr>
            <tr>
                <td class="">0260</td>
                <td class="">026</td>
                <td class="">基礎塗装工事</td>
            </tr>
            <tr>
                <td class="">0260</td>
                <td class="">026</td>
                <td class="">基礎塗装工事</td>
            </tr>
            <tr>
                <td class="">0260</td>
                <td class="">026</td>
                <td class="">基礎塗装工事</td>
            </tr>
        </tbody>
    </table>
</div>