<header>
    <title>{{title}}</title>
</header>

<div>
    <div>
        <span style="text-align: center;">
            <h1>{{title}}</h1>
        </span>
    </div>

    <div style="margin-top: 50px;">
        <mat-tab-group style="float: left; width: 100%">
            <mat-tab class="sekkei" label="設計">
                <split-shiwake-table [shiwakeData]="shiwakeData" [bunkatsuData]="bunkatsuData"></split-shiwake-table>
            </mat-tab>
            <mat-tab class="hontai" label="本体">
                <split-shiwake-table [shiwakeData]="shiwakeData" [bunkatsuData]="bunkatsuData"></split-shiwake-table>
            </mat-tab>
            <mat-tab class="tsuika" label="追加">
                <split-shiwake-table [shiwakeData]="shiwakeData" [bunkatsuData]="bunkatsuData"></split-shiwake-table>
            </mat-tab>
        </mat-tab-group>
    </div>
    <footer>
        <div class="footer-container" style="position: inherit;">
            <div>
                <div style="margin-bottom: 10px;">
                    <button mat-button id="btnClose " class="btn btn-secondary border mx-1 back-btn ">明細追加</button>
                </div>
            </div>
            <div class="text-left footer">
                <div class="text-left footer ">
                    <button mat-button id="btnClose "  class="btn btn-secondary border mx-1 back-btn ">閉じる</button>
                </div>
                <div class="text-left footer ">
                    <button mat-button id="btnClose " class="btn btn-secondary border mx-1 back-btn ">更新</button>
                </div>
            </div>
        </div>
    </footer>


</div>