<header>
    <title>{{title}}</title>
</header>

<div>
    <div>
        <span style="text-align: center;">
            <h1>{{title}}</h1>
        </span>
    </div>

    <div style="margin-top: 50px;">
        <mat-tab-group style="float: left; width: 100%">
            <mat-tab class="sekkei" label="設計">
                <split-shiwake-table [shiwakeData]="shiwakeData" [bunkatsuData]="bunkatsuData"></split-shiwake-table>
            </mat-tab>
            <mat-tab class="hontai" label="本体">
                <split-shiwake-table [shiwakeData]="shiwakeData" [bunkatsuData]="bunkatsuData"></split-shiwake-table>
            </mat-tab>
            <mat-tab class="tsuika" label="追加">
                <split-shiwake-table [shiwakeData]="shiwakeData" [bunkatsuData]="bunkatsuData"></split-shiwake-table>
            </mat-tab>
        </mat-tab-group>
    </div>

    <footer>
        <div class="footer-container" style="position: inherit;">
            <div class="bottomButton">
                <button mat-button id="btnClose " class="btn btn-primary border mx-1 back-btn" data-toggle="modal"
                    data-target="#MODAL5" onClick="location.href='http://localhost:4200/AddOrderDetail'">明細追加</button>
            </div>
            <div style="right: 115px;" class="bottomButton">
                <button mat-button id="btnClose " class="btn btn-secondary border mx-1 back-btn "
                    (click)="onBackClick($event)">閉じる</button>
            </div>
            <div style="right: 46px;" class="bottomButton">
                <button mat-button id="btnClose " class="btn btn-primary border mx-1 back-btn ">更新</button>
            </div>
        </div>
    </footer>
</div>